<template>
  <section class="lw_p-5 lw_flex lw_flex-col lw_gap-3">
    <div class="lw_flex lw_flex-row lw_gap-2 lw_items-center">
      <label for="firstName">First Name</label>
      <input name="firstName" class="lw_p-2" type="text" disabled :value="customerData.firstName">
    </div>
    <div class="lw_flex lw_flex-row lw_gap-2 lw_items-center">
      <label for="lastName">Last Name</label>
      <input name="lastName" class="lw_p-2" type="text" disabled :value="customerData.lastName">
    </div>
        <div class="lw_flex lw_flex-row lw_gap-2 lw_items-center">
      <label for="email">Email</label>
      <input name="email" class="lw_p-2" type="email" disabled :value="customerData.email">
    </div>
  </section>
</template>

<script>
import { mapState } from 'vuex';
export default {
  layout: 'account',
  middleware: ['auth.client'],
  computed: {
    ...mapState(["customerData"]),
  },
  async mounted() {
    await this.$store.dispatch("GET_CUSTOMER");
  },
}
</script>

<style>

</style>