<template>
  <main class="lw_max-w-xl lw_mx-auto lw_my-10">
    <section class="lw_bg-white lw_border lw_rounded lw_p-10 lw_mt-5">
      <h1 class="lw_mb-4 lw_text-3xl">Login to your account</h1>
      <fieldset class="lw_flex lw_flex-col lw_gap-5">
        <input
          v-model="email"
          type="email"
          name="email"
          class="lw_bg-gray-100 lw_rounded lw_p-2"
          placeholder="Email Address"
        />
        <input
          v-model="password"
          type="password"
          name="password"
          class="lw_bg-gray-100 lw_rounded lw_p-2"
          placeholder="Password"
        />
        <input
          @click="login(email, password)"
          type="submit"
          value="Login"
          class="
            lw_py-2 lw_px-4 lw_rounded lw_bg-primary
            hover:lw_cursor-pointer
            lw_text-white
            disabled:lw_opacity-40 disabled:lw_cursor-not-allowed
          "
        />
      </fieldset>
      <nuxt-link to="/account/register" class="lw_pt-3 lw_block">Create an account</nuxt-link>
      <div v-if="errors.length > 0" class="errors lw_mt-5 lw_bg-red-600 lw_rounded lw_p-3">
        {{errors[0].message}}
      </div>
    </section>
  </main>
</template>

<script>
import {accountLogin} from "~/gql/mutations/Account.gql"
export default {
  data() {
    return {
      email: "",
      password: "",
      errors: [],
    };
  },
  methods: {
    login(email, password) {
      this.errors = []
      const details = {
          email: email,
          password: password,
      };
      this.$apollo.mutate({
        mutation: accountLogin,
        variables: {
            input: details
        }
      }).then((data) => {
          if (data.data.customerAccessTokenCreate.customerUserErrors.length > 0) {
            this.errors = data.data.customerAccessTokenCreate.customerUserErrors
          } else {
            localStorage.setItem(
              "userAccessToken",
              JSON.stringify(data.data.customerAccessTokenCreate.customerAccessToken)
            );
            this.$router.push('/account')
          }
      }).catch((error) => {
          console.error(error)
      })
    },
  },
};
</script>

<style>
</style>