<template>
  <main class="lw_max-w-xl lw_mx-auto lw_my-10">
    <section class="lw_bg-white lw_border lw_rounded lw_p-10 lw_mt-5">
      <h1 class="lw_mb-4 lw_text-3xl">Register your account</h1>
      <fieldset class="lw_flex lw_flex-col lw_gap-5">
        <div class="lw_flex lw_flex-row lw_gap-4">
          <input
            class="lw_bg-gray-100 lw_rounded lw_p-2 lw_flex-1"
            type="text"
            v-model="firstName"
            name="firstName"
            placeholder="First Name"
          />
          <input
            class="lw_bg-gray-100 lw_rounded lw_p-2 lw_flex-1"
            type="text"
            v-model="lastName"
            name="lastName"
            placeholder="Last Name"
          />
        </div>
        <input
          type="email"
          name="email"
          class="lw_bg-gray-100 lw_rounded lw_p-2"
          v-model="email"
          placeholder="Email Address"
        />
        <input
          type="password"
          name="password"
          class="lw_bg-gray-100 lw_rounded lw_p-2"
          v-model="password"
          placeholder="Password"
        />
        <input
          class="lw_bg-gray-100 lw_rounded lw_p-2 lw_flex-1"
          v-model="phone"
          type="phone"
          name="phone"
          placeholder="+44"
        />
        <div class="lw_flex lw_flex-row lw_gap-2">
          <input
            class="lw_bg-gray-100 lw_rounded lw_p-2"
            type="checkbox"
            v-model="acceptsMarketing"
            name="marketing"
          />
          <label for="marketing"
            >Do you wish to recieve marketing emails?</label
          >
        </div>
        <input
          @click="register"
          type="submit"
          value="Submit"
          class="lw_py-2 lw_px-4 lw_rounded lw_bg-primary hover:lw_cursor-pointer lw_text-white disabled:lw_opacity-40 disabled:lw_cursor-not-allowed"
        />
      </fieldset>
      <nuxt-link to="/account/login" class="lw_pt-3 lw_block"
        >Already have an account?</nuxt-link
      >
    <div v-if="errors.message" class="errors lw_mt-5 lw_bg-red-600 lw_rounded lw_p-3">
            <p>{{errors.message}}</p>
    </div>
      <div v-if="errors.length > 0" class="">
          <div v-for="(error, index) in errors" :key="index" class="errors lw_mt-5 lw_bg-red-600 lw_rounded lw_p-3">
            <p>{{error.message}}</p>
          </div>
      </div>
    </section>
  </main>
</template>

<script>
import {customerCreate} from "~/gql/mutations/Account.gql"
export default {
  data() {
    return {
      email: "",
      firstName: "",
      lastName: "",
      password: "",
      phone: "",
      acceptsMarketing: false,
      errors: {},
    };
  },
  methods: {
    async register() {
      try {
        let data = {
            email: this.email,
            firstName: this.firstName,
            lastName: this.lastName,
            password: this.password,
            phone: this.phone,
            acceptsMarketing: this.acceptsMarketing,
        }
        const res = await this.$apollo.mutate({
          mutation: customerCreate,
          variables: {
            input: data,
          },
        });

        if (res.data.customerCreate.customer) {
            console.table(res.data.customerCreate.customer)
            this.$router.push("/account/login");
        } else {
            throw res.data.customerCreate.customerUserErrors
        }
      } catch (err) {
        this.errors = err
      }
    },
  },
};
</script>

<style></style>
