<template>
  <section>
    <LazyPageHeader
      title="Flow X"
      description="Are you looking for a safer and more comfortable way to ascend your stairs? Look no further than
the Flow X stairlift and its unique ASL technology. This advanced feature allows the stairlift to rotate
while in motion, keeping you in the safest and most comfortable position at all times. And with
linked seat and footrest, folding and unfolding has never been easier. The footrest is designed with
anti-slip and pre-adjustable positions to ensure optimum safety and comfort. Stay in control with the
dual-status lights on the armrest and patented angular armrest detection, preventing any unwanted
movement until you are safely in position. Let ASL technology take the strain off your joints and keep
you at ease as you ascend your stairs. Trust Flow X stairlift to deliver comfort and safety with every
ride."
      :seo="false"
    />

    <h2 class="lw_text-center lw_text-3xl lw_font-medium lw_my-10">
      Flow X Price Guide
    </h2>

    <div
      class="lw_max-w-7xl lw_mx-auto lw_flex lw_flex-row lw_gap-5 lw_content-start"
    >
      <div class="lw_bg-white lw_rounded-md lw_border lw_basis-[30%]">
        <div class="lw_p-5">
          <h3 class="lw_text-left lw_text-xl lw_font-medium lw_mb-3">
            Base Price - £4980
          </h3>
          <p>
            This includes:<br />
            <strong>Rail</strong> - 6m rail with horizontal overrun or standard vertical start <br>
            <strong>Chair</strong> - Automatic parking swivel {top and bottom), manual-folding seat
            and linked footrest, straight and curved armrest positions (with
            detection) <br>
            <strong>Seat Finish</strong> - Grey oak seat back and choice of 4 x vinyl upholstery colours <br>
            <strong>Rail Finish</strong> - White (RAL 9002), Stone Grey (RAL 7030),
            Pale Brown (RAL 8025) or Dark Brown (RAL 8019) <br>
          </p>
          <p>
            <strong>Warranty</strong>: Lifetime - Parts Only.<br />
            <span class="lw_ml-5"> Call outs and Labour – 2 years</span><br />
            <strong>Transportation</strong>: FOC for UK (Mainland) addresses
            with in 50 mile radius of head office.
          </p>
        </div>
      </div>
      <div class="lw_bg-white lw_rounded-md lw_border lw_basis-[30%]">
        <div class="lw_p-5">
          <h3 class="lw_text-left lw_text-xl lw_font-medium lw_mb-3">
            Rail Options
          </h3>
          <p>
            <strong>Rail per metre*</strong> (or part thereof) - £ 181 <br>
            <strong>Standard Bend</strong> (85 - 95 degrees) - £ 289<br>
            <strong>Extra charging point</strong> (installed on indicated spot and wired) - £ 82<br>
            <strong>Different RAL-colour</strong> - £ 1,298<br>
            <strong>Short start</strong> - £ 56<br><br>
            * The rail length includes the length of the bends<br><br>

            Labour to install stairlift £480<br><br>

            Reconditioned Flow X – Minus £1000 from the cost of new.
          </p>
        </div>
      </div>
      <div class="lw_bg-white lw_rounded-md lw_border lw_basis-[30%]">
        <div class="lw_p-5">
          <h3 class="lw_text-left lw_text-xl lw_font-medium lw_mb-3">
            Chair Options
          </h3>
          <p>
            <strong>Full ASL (swivel during travel)</strong> - £506 <br>
            <strong>Fixed seat (no swivel)</strong> - £89<br>
            <strong>Open armrests</strong> - £138<br>
            <strong>Short footrest</strong> – FOC<br>
            <strong>Fabric upholstery </strong>- £65<br>
            <strong>Leather upholstery</strong> - £202<br>
            <strong>Seat belt detection</strong> - £82<br>
            <strong>Automatic folding footrest</strong> - £282<br>
            <strong>Automatic seat and folding Footrest</strong> - £628<br>
            <strong>Call device</strong> - £426<br>
            <strong>Key Lock</strong> - £82<br>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<style scoped>
strong {
  font-weight: 500;
  @apply lw_text-primary;
  margin-bottom: 10px;
}
</style>
