<template>
  <section>
    <LazyPageHeader
      title="Curved Stairlifts for Sale"
      description="Considering a curved stairlift? Take a look at our top 10 factors to consider before making a
purchase. Our advice from industry experts ensures you make a smart decision that suits both your
requirements and budget."
      :seo="false"
    />

    <div
      class="lw_flex lw_flex-row lw_flex-wrap lw_max-w-7xl lw_my-24 lw_px-5 lw_mx-auto"
    >
      <div
        class="products lw_mt-10 md:lw_mt-0 lw_basis-[100%] md:lw_basis-[100%]"
      >
        <h3 class="lw_text-center lw_text-3xl lw_font-medium lw_mb-10">
          Our Curved Stairlifts
        </h3>
        <div
          class="lw_flex lw_flex-col !lw_pt-0 lw_w-full lw_content-start lw_flex-wrap lw_gap-5"
        >
          <div
            class="lw_flex-shrink lw_flex-grow-0 lw_basis-full md:lw_basis-full lw_w-full"
          >
            <div
              class="lw_bg-white lw_h-full lw_border lw_flex lw_items-center lw_flex-row lw_rounded lw_relative lw_overflow-hidden"
            >
              <img
                class="lw_object-cover lw_h-[700px] lw_w-[30%] lw_flex-none"
                src="https://otoliftstairlifts.co.uk/wp-content/uploads/2016/04/otolift_air_new-2.jpg"
                alt=""
              />
              <div class="lw_items-center lw_p-5">
                <h2 class="lw_text-2xl lw_font-medium lw_mb-1 lw_text-left">Otolift Air Stairlift</h2>
                <p>
                  Introducing the Otolift Modul-Air stairlift - the perfect
                  choice for narrow and steep staircases. With the smallest
                  diameter rail tube of any single rail stairlift available
                  today, this lift packs incredible performance into a sleek and
                  stylish design. But it&#39;s not just for challenging stairs -
                  this adaptable lift can also be customized to work on a wide
                  range of configurations. Plus, it comes with an impressive
                  variety of options to personalize your experience and meet
                  your specific needs. Get the perfect lift for your home with
                  the Otolift Modul-Air stairlift.
                </p>
                <br />
                <p>Discover the outstanding Otolift Modul-Air Stairlift:</p>
                <ul class="lw_list-disc lw_ml-10">
                  <li>
                    Compact and visually pleasing design with a low-positioned
                    rail
                  </li>
                  <li>
                    Easily negotiates steep and narrow stairs for a seamless
                    ride
                  </li>
                  <li>
                    Takes up minimal space, while allowing other users to access
                    the stairs
                  </li>
                  <li>
                    Includes Powered Folding Footrest and runs on battery power
                    in case of a power outage
                  </li>
                  <li>
                    Features light-touch controls and an all-around safety
                    system for added convenience and security
                  </li>
                  <li>
                    Experience comfort, convenience, and safety with the Otolift
                    Modul-Air Stairlift.
                  </li>
                </ul>
                <br />
                <p>
                  Otolift, a family-owned stairlift manufacturer, is based in
                  Bergambacht, a picturesque village in South Holland,
                  Netherlands. Established in 1891, the company has been
                  continuously run by three generations of the same family.
                  Otolift takes pride in its rich heritage and is recognised for
                  its innovative designs that set a benchmark for visual appeal,
                  reliability and quality, within the stairlift industry.
                  Otolift Stairlifts, established in 2012, proudly brings this
                  legacy to customers in the United Kingdom.
                </p>
                <div class="">
                  <nuxt-link
                    to="/stairlifts/curved-stairlifts/otolift"
                    class="lw_mt-5 lw_inline-block hover:lw_cursor-pointer lw_p-3 lw_bg-primary lw_text-white lw_rounded"
                    >View Otolift Prices</nuxt-link
                  >
                  <a
                    class="lw_mt-5 lw_inline-block hover:lw_cursor-pointer lw_p-3 lw_bg-secondary lw_text-white lw_rounded"
                    @click="openForm('Otto Lift')"
                    >Enquire Now</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            class="lw_flex-shrink lw_flex-grow-0 lw_basis-full md:lw_basis-full lw_w-full"
          >
            <div
              class="lw_bg-white lw_h-full lw_border lw_flex lw_items-center lw_flex-row lw_rounded lw_relative lw_overflow-hidden"
            >
              <img
                class="lw_object-cover lw_h-[500px] lw_w-[30%] lw_object-center"
                src="https://dolphinlifts.co.uk/wp-content/uploads/2020/11/Flow-X-seamless-stairlifts-1024x567.jpg"
                alt=""
              />
              <div class="lw_items-center lw_p-5">
                <h2 class="lw_text-2xl lw_font-medium lw_mb-1">
                  Flow X Stairlift
                </h2>
                <p>
If you need a stairlift for a narrow staircase, straight or curved, the Flow X is your solution. Designed
to fit onto your staircase, as opposed to your wall, the Flow X is fast and easy to install, with minimal
home disruption, while looking like a seamless part of your decor. And there&#39;s no need to
compromise on style, with options of vinyl, fabric, or leather for your upholstery. The Flow X is the
perfect choice for those in need of a curved stairlift.<br><br>
A specially designed ergonomic chair features a roomy backrest and seat area, along with a five-
degree seat recline that naturally promotes healthy posture. Say goodbye to discomfort and hello to
a better sitting experience <br><br>
Flow X has designed revolutionary armrests that offer numerous advantages. These armrests are
ergonomically tapered and offer extra support whether you are sitting or standing. The Flow X
stairlift also features armrests that are easy to access and use when getting on or off the lift.
                </p>
                <div class="">
                  <nuxt-link
                    to="/stairlifts/curved-stairlifts/flow-x"
                    class="lw_mt-5 hover:lw_cursor-pointer lw_inline-block lw_p-3 lw_bg-primary lw_text-white lw_rounded"
                    >View Flow X Prices</nuxt-link
                  >
                  <a
                    class="lw_mt-5 hover:lw_cursor-pointer lw_inline-block lw_p-3 lw_bg-secondary lw_text-white lw_rounded"
                    @click="openForm('Flow X')"
                    >Enquire Now</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lw_bg-white">
      <div class="lw_max-w-7xl lw_mx-auto lw_py-24 lw_px-5">
        <h2 class="lw_text-3xl lw_mb-3 lw_text-left">
          How we find the right stairlift for you?
        </h2>
        <p><strong>Initial Consultation</strong></p>
        <p>
          At Solent Mobility Centre, we begin our process with an in-home
          consultation to ensure that we understand your needs and address any
          concerns you may have about our stairlifts. We then conduct an
          assessment of your staircase to determine which of our stairlift
          models is best suited for your specific needs and configuration.
          Following our assessment, we will discuss our findings with you again
          to mutually agree on the best possible solution. Trust us to provide
          you with the best possible solution.
        </p>
        <br />
        <p><strong>Detailed Survey</strong></p>
        <p>
          At our company, we never pressure you into making a decision on the
          spot. If you choose to proceed with your purchase, we will schedule
          another visit to the property to conduct a thorough survey and take
          precise measurements of your entire staircase. Our engineer will
          manage the arrangements, and the process should take around one hour,
          depending on your staircase&#39;s layout.<br /><br />
          At this point in the process, we do require a deposit payment of up to
          50%, as our stairlifts are custom-made to meet your specific needs.
        </p>
        <br />
        <p><strong>Order</strong></p>
        <p>
          After receiving your stair survey, Solent Mobility will send your
          order to Otolift Stairlifts for processing. Otolift Stairlifts will
          create a rail design that meets your specifications and send it to us
          for approval before proceeding with the order. You can trust us to
          ensure your satisfaction at every step of the process.
        </p>
        <br />
        <p><strong>Agree Specification</strong></p>
        <p>
          Before moving your stairlift into production, we&#39;ll ensure that
          its rail design meets your specifications. If a deposit hasn&#39;t
          been paid yet, we&#39;ll request it here. Rest assured, Otolift
          Stairlifts will keep us informed about their progress during the
          manufacturing process, and provide expected delivery dates.
        </p>
        <br />
        <p><strong>Installation</strong></p>
        <p>
          Once we have established delivery dates, we will be in touch with the
          customer to arrange a suitable installation date. Solent Mobility will
          stand by to conduct a thorough product handover with you, the
          customer, to ensure you are fluent in operating the stairlift.<br /><br />
          Post handover, our in-house engineers will carry out annual chairlift
          servicing and maintenance.
        </p>
      </div>
    </div>
    <div
      v-show="form"
      class="form lw_bg-black lw_bg-opacity-50 lw_fixed lw_top-0 lw_left-0 lw_right-0 lw_bottom-0 lw_z-50"
    >
      <font-awesome-icon
        class="lw_fixed lw_top-3 lw_right-3 !lw_h-6 !lw_w-6 lw_text-white hover:lw_cursor-pointer"
        :icon="['fas', 'x']"
        @click="form = false"
      />
      <div class="lw_max-w-xl lw_flex lw_h-full lw_items-center lw_mx-auto">
        <div class="lw_bg-white lw_rounded lw_p-5 lw_w-full">
          <div class="_form_7"></div>
          <script
            src="https://solentmobility.activehosted.com/f/embed.php?id=7"
            type="text/javascript"
            charset="utf-8"
          ></script>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import LazyProduct from "~/components/global/shop/LazyProduct.vue";
export default {
  components: { LazyProduct },
  data() {
    return {
      form: false,
    };
  },
  methods: {
    openForm(product) {
      this.form = true;
      const productName = document.getElementsByName("field[1]")[0];
      productName.value = product;
    },
  },
};
</script>

<style></style>
