<template>
  <section>
    <LazyPageHeader
      title="Otolift Modul-Air Smart"
      description="Introducing the Otolift Modul-Air stairlift - the perfect choice for narrow and steep staircases. With the smallest diameter rail tube of any single rail stairlift available today, this lift packs incredible performance into a sleek and stylish design. But it's not just for challenging stairs - this adaptable lift can also be customized to work on a wide range of configurations. Plus, it comes with an impressive variety of options to personalize your experience and meet your specific needs. Get the perfect lift for your home with the Otolift Modul-Air stairlift."
      :seo="false"
    />

    <h2 class="lw_text-center lw_text-3xl lw_font-medium lw_my-10">Otolift Price Guide</h2>

    <div class="lw_max-w-7xl lw_mx-auto lw_flex lw_flex-row lw_gap-5 lw_content-start">
        <div class="lw_bg-white lw_rounded-md lw_border lw_basis-[30%]">
            <div class="lw_p-5">
                <h3 class="lw_text-left lw_text-xl lw_font-medium lw_mb-3">Base Price - £4270</h3>
                <p>
                    This includes:<br>
                        <strong>Chair</strong>: Chair with manual swivel seat (6020), Smart dashboard, Ergonomic
                        control<br>
                        <strong>Rail</strong>: One 90° degree bend, up to 6 metres of rail*<br>
                        <strong>Footrest</strong>: Powered folding (operation in the armrest).<br>
                        <strong>Remote controls</strong>: Two (RF).<br>
                        <strong>Charging points</strong>: Two (located on top and bottom park positions).<br>
                        <strong>Fabric Upholstery</strong>: 3 x options<br>
                        <strong>Synthetic leather upholstery</strong>: 6 x options<br>
                        <strong>Rail colours (Powder coating)</strong>: RAL 9001 Cream white - RAL 8025 Pale brown.<br>
                        <strong>Battery Charger</strong>: Transformer 230 to 24 Volt 35 VA.<br>
                        <strong>Rated load</strong>: 125 kg.<br>
                        <strong>Maximum rail length</strong>: 30 metres.<br>
                        <strong>Safety</strong>: Interlocking seat belt - Overspeed Governor - Safety switches footrest /
                        motor unit.
                </p>
                                <p><strong>Warranty</strong>: Lifetime - Parts Only.<br>
                    <span class="lw_ml-5">
                        Call outs and Labour – 2 years</span><br>
                        <span class="lw_ml-5">Batteries – 1 Year
                    </span><br>
                    <strong>Approvals</strong>: EN 81-40:2020, CE, UKCA. <br>
                    <strong>Transportation</strong>: FOC for UK (Mainland) addresses with in 50 mile radius of head
                    office.</p>
            </div>
        </div>
                <div class="lw_bg-white lw_rounded-md lw_border lw_basis-[30%]">
            <div class="lw_p-5">
                <h3 class="lw_text-left lw_text-xl lw_font-medium lw_mb-3">Rail Options</h3>
                <p>
                    <strong>Rail per metre*</strong> (or part thereof) - £140 <br>
                    <strong>Standard Ben</strong>d (85 - 95 degrees) - £280 <br>
                    <strong>Special Bend</strong> - £553<br>
                    <strong>Extra charging point</strong> (installed on indicated spot and wired) - £70<br>
                    <strong>Different RAL-colour</strong> - £910<br>
                    <strong>Excess vertical height</strong> over 6 meters - £532<br>
                    Short start - £FOC<br>
                    <strong>Top over-run</strong> (within 6 metres of rail length) - £FOC<br>
                    <strong>Bottom over-run (within 6 metres of rail length) - £FOC<br></strong>
                    Intermediate landing - £FOC<br>
                    <strong>Special fixing bracket</strong> (Top/Bottom of stairs) - £91<br>
                    * The rail length includes the length of the bends<br>
                </p>
            </div>
        </div>
                        <div class="lw_bg-white lw_rounded-md lw_border lw_basis-[30%]">
            <div class="lw_p-5">
                <h3 class="lw_text-left lw_text-xl lw_font-medium lw_mb-3">Chair Options</h3>
                <p>
                    <strong>Curved armrests</strong> - £FOC <br>
                    <strong>Powered swivel including reverse travel</strong> - £490 <br>
                    <strong>Reverse travel with flush footrest finish</strong> - £140 <br>
                    <strong>Leather upholstery</strong> (4 x options) - £84 <br>
                    <strong>Key Fob</strong> - Each - £98 <br>
                    <strong>Extra remote control</strong> - £126 <br>
                    <strong>Safety belt</strong> - 4-points (“H-fixation”) - £POA <br>
                    <strong>Safety belt</strong> - 5 points - £POA <br>
                    <strong>Safety bel</strong>t - 5 points child - £POA <br>
                    <strong>Ankle strap</strong> - £63 <br>
                    <strong>2 Way Communication Device</strong> - £280 <br><br>

                    Labour to install stairlift £480 <br><br>

                    Reconditioned Otolift Modul-Air Smart – Minus £1000 from the cost of new.
                </p>
            </div>
        </div>
    </div>
  </section>
</template>

<style scoped>
strong {
    font-weight: 500;
    @apply lw_text-primary;
    margin-bottom: 2px;
}
</style>