<template>
  <button
    class="lw_py-2 lw_px-4 lw_rounded lw_bg-primary lw_text-white lw_mt-3 disabled:lw_opacity-40 disabled:lw_cursor-not-allowed"
    @click="updateCart()"
    :disabled="quantity === 0 || variantId === ''"
  >
    Add To Cart
  </button>
</template>

<script>
import { cartCreate, cartLinesAdd } from "~/gql/mutations/Shopify.gql";
export default {
  props: {
    variantId: {
      type: String,
      default: "",
    },
    quantity: {
      type: Number,
      default: 0,
    },
  },
  methods: {
    async updateCart() {
      const cartExists = localStorage.getItem("cart");
      if (!cartExists) {
        try {
          const createCart = await this.$apollo.mutate({
            mutation: cartCreate,
            variables: {
              merchandiseId: this.variantId,
              quantity: this.quantity,
            },
          });

          if (createCart) {
            this.$parent.successAdd()
            console.log("Item added to cart");
            localStorage.setItem(
              "cart",
              JSON.stringify(createCart.data.cartCreate.cart)
            );
          }
        } catch (err) {
          console.table(err);
        }
      } else {
        const currentCart = JSON.parse(cartExists);
        console.log(currentCart.id);
        const createCart = await this.$apollo.mutate({
          mutation: cartLinesAdd,
          variables: {
            cartId: currentCart.id,
            lines: [{ merchandiseId: this.variantId, quantity: this.quantity }],
          },
        });

        if (createCart) {
          this.$parent.successAdd()
          console.log("Item updated to cart");
          console.table(createCart);
          localStorage.setItem(
            "cart",
            JSON.stringify(createCart.data.cartLinesAdd.cart)
          );
        }
      }
    },
  },
};
</script>

<style></style>
