<template>
  <div class="lw_fixed lw_bottom-5 lw_right-5 lw_z-50 ">
      <nuxt-link class="lw_relative lw_bg-primary cart lw_w-16 lw_h-16 lw_flex lw_rounded-full lw_justify-center lw_items-center" to="/cart">
        <!-- <p class="lw_absolute lw_top-0 lw_right-0 lw_bg-red-500 lw_rounded-full lw_p-2">2</p> -->
        <font-awesome-icon class="!lw_h-8 !lw_w-8 lw_text-white" :icon="['fas', 'shopping-basket']" />
      </nuxt-link>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.cart {
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 15%);
}
</style>