<template>
  <nuxt-link :to="`${this.$route.fullPath}/${productHandle}`">
    <div
      class="lw_bg-white lw_border lw_rounded lw_relative hover:lw_cursor-pointer lw_overflow-hidden"
      @mouseover="hover = true"
      @mouseleave="hover = false"
    >
      <div class="lw_w-full lw_h-80 lw_object-cover">
        <nuxt-img
          v-if="typeof productImage === 'object'"
          :src="`/${imageFix(productImage.url)}`"
          provider="imgix"
          width="300"
          height="300"
          :modifiers="{ auto: 'format,compress' }"
          fit="outside"
        />
        <img
          v-else-if="typeof productImage === 'string'"
          :src="productImage"
          width="300"
          height="300"
        />
        <img v-else src="https://picsum.photos/300/300" />
      </div>

      <div class="lw_p-5 lw_text-left">
        <div
          class="tags lw_absolute lw_top-5 lw_font-semibold lw_left-5 lw_bg-primary lw_rounded-md lw_text-white lw_py-2 lw_px-4"
          v-if="productTags && productTags.includes('Special Offer')"
        >
          Special Offer
        </div>
        <p class="lw_font-medium lw_capitalize lw_text-lg">{{ product }}</p>

        <div v-if="productRating" class="rating lw_flex">
          <font-awesome-icon
            v-for="index in parseInt(productRatingFix(productRating))"
            :key="index"
            class="lw_h-4 lw_w-4 lw_text-yellow-400"
            :icon="['fas', 'star']"
          />
          <p class="lw_text-sm">({{ productRatingCount.value }})</p>
        </div>

        <p
          id="price"
          class="lw_text-primary lw_text-2xl lw_font-semibold lw_my-2"
        >
          £{{ productPrice }}
        </p>

        <ul v-if="productSpecifications" class="lw_list-disc">
          <li class="lw_lowercase lw_text-left lw_ml-5 lw_text-sm">
            Weight - {{ productSpecifications.weight }}kg
          </li>
          <li class="lw_lowercase lw_text-left lw_ml-5 lw_text-sm">
            Max User Weight - {{ productSpecifications["max-user-weight"] }}kg
          </li>
          <li class="lw_lowercase lw_text-left lw_ml-5 lw_text-sm">
            Max Speed - {{ productSpecifications.speed }}mph
          </li>
        </ul>
        <div class="lw_flex lw_flex-row lw_gap-3 lw_justify-center">
          <!-- <p
            v-if="productPriceCompare"
            id="compare-price"
            class="lw_text-gray-400 lw_text-xl lw_font-semibold lw_mt-3 lw_line-through"
          >
            £{{ productPriceCompare }}
          </p> -->
        </div>
      </div>
      <transition name="fade-in">
        <div
          v-show="hover"
          class="overlay lw_rounded lw_absolute lw_top-0 lw_w-full lw_h-full lw_flex lw_items-center lw_justify-center lw_bg-primary lw_bg-opacity-90"
        >
          <a class="lw_text-white lw_font-bold lw_uppercase lw_text-xl"
            >Shop Now!</a
          >
        </div>
      </transition>
    </div>
  </nuxt-link>
</template>

<script>
export default {
  props: {
    productCategory: String,
    productImage: Object,
    product: String,
    productPrice: String,
    productTags: Array,
    productId: String,
    productHandle: String,
    productRating: String,
    productRatingCount: String,
    productSpecifications: Object,
  },
  data() {
    return {
      hover: false,
    };
  },
  methods: {
    imageFix(url) {
      let i = url.split("/");
      return i.pop();
    },
    productRatingFix(rating) {
      const json = JSON.parse(rating.value);
      return json.value;
    },
  },
};
</script>

<style scoped>
.fade-in-enter-active,
.fade-in-leave-active {
  transition: all 0.2s ease-in-out;
}
.fade-in-enter,
.fade-in-leave-to {
  opacity: 0;
}
</style>
