<template>
  <div
    class="lw_border-t lw_flex lw_gap-5 lw_flex-row lw_items-center lw_px-5 lw_py-3"
  >
    <nuxt-img
      v-if="itemImage"
      :src="`/${imageFix(itemImage.url)}`"
      fit="clamp"
      width="100"
      height="100"
      provider="imgix"
      :modifiers="{ auto: 'format,compress' }"
    />
    <img v-else src="https://picsum.photos/100/100" alt="">
    <div class="content lw_flex lw_flex-col">
      <p class="lw_font-medium">{{ itemName }}</p>
      <p class="lw_text-sm">{{ itemVariant }}</p>
    </div>
    <div
      class="actions lw_items-end lw_flex lw_flex-col lw_gap-3 lw_flex-1 lw_justify-end"
    >
          <div class="price lw_flex lw_flex-col lw_items-end">
        <p class="lw_font-semibold lw_text-primary lw_text-lg">
          £{{ currencyCovert(itemCost) }}
        </p>
        <p class="lw_text-xs lw_font-semibold lw_text-gray-500">£{{ currencyCovert(itemCost * 1.2) }} inc VAT</p>
      </div>
      <div class="quantity">
        <select
          class="lw_p-1 lw_border-2 lw_border-gray-100"
          @change="onChange($event)"
          name="quantity"
          id="quantity"
        >
          <option :value="itemQuantity" disabled selected hidden>
            {{ itemQuantity }}
          </option>
          <option v-for="index in 5" :key="index" :value="index">
            {{ index }}
          </option>
        </select>
      </div>
      <div class="clear">
        <p @click="remove()" class="lw_text-xs lw_cursor-pointer lw_text-red-600 lw_underline lw_font-semibold">remove item</p>
      </div>
    </div>
  </div>
</template>

<script>
import { cartLinesUpdate, cartLinesRemove } from "~/gql/mutations/Shopify.gql";
export default {
  props: {
    itemId: {
      type: String,
      default: null,
    },
    cartId: {
      type: String,
      default: null,
    },
    itemName: {
      type: String,
      default: null,
    },
    itemVariant: {
      type: String,
      default: null,
    },
    itemImage: {
      type: Object,
      default: null,
    },
    itemQuantity: {
      type: Number,
      default: null,
    },
    itemCost: {
      type: Number,
      default: null,
    },
    merchId: {
      type: String,
      default: null,
    },
  },
  methods: {
    imageFix(url) {
      let i = url.split("/");
      return i.pop();
    },
    async onChange(event) {
      try {
        const createCart = await this.$apollo.mutate({
          mutation: cartLinesUpdate,
          variables: {
            cartId: this.cartId,
            lines: [
              {
                id: this.itemId,
                merchandiseId: this.merchId,
                quantity: parseInt(event.target.value),
              },
            ],
          },
        });

        if (createCart) {
          localStorage.setItem(
            "cart",
            JSON.stringify(createCart.data.cartLinesUpdate.cart)
          );
          this.$parent.refresh();
        }
      } catch (err) {
        console.table(err);
      }
    },
    async remove() {
      try {
        const removeItem = await this.$apollo.mutate({
          mutation: cartLinesRemove,
          variables: {
            cartId: this.cartId,
            lineIds: [this.itemId],
          },
        });

        console.table(removeItem);

        console.log(removeItem.data.cartLinesRemove.cart.lines.edges.length);

        if (removeItem.data.cartLinesRemove.cart.lines.edges.length >= 1) {
          console.table("Still items");
          localStorage.setItem(
            "cart",
            JSON.stringify(removeItem.data.cartLinesRemove.cart)
          );
          this.$parent.refresh();
        } else {
          localStorage.removeItem("cart");
          this.$parent.refresh();
        }
      } catch (err) {
        console.table(err);
      }
    },
  },
};
</script>

<style></style>
