<template>
  <section>
    <LazyPageHeader title="wheelchair Hire" :seo="false" />

    <div class="lw_max-w-7xl lw_mx-auto lw_py-24 lw_px-5">
      <p>
        At Solent Mobility Centre, we pride ourselves on providing exceptional
        wheelchair hire services to meet the unique needs of individuals
        with mobility challenges. Located in the heart of Hampshire, UK, we have
        established ourselves as a trusted and reliable provider of mobility
        solutions.
        <br /><br />
        When you choose to hire a wheelchair from Solent Mobility Centre,
        you can expect a seamless and customer-focused experience. Our dedicated
        team of experts is committed to understanding your specific requirements
        and helping you select the most suitable wheelchair from our extensive
        fleet.
        <br /><br />
        Our rental wheelchairs are meticulously maintained, ensuring optimal
        performance and reliability. We regularly service and inspect each
        wheelchair to guarantee that it meets the highest safety standards. We also
        prioritize cleanliness, ensuring that every wheelchair is thoroughly
        cleaned and sanitized before it reaches your hands.
        <br /><br />
        To ensure your comfort and convenience, our fleet includes a variety of
        wheelchairs with different sizes, specifications, and features. Whether you
        need a compact wheelchair for indoor use or a robust model for outdoor
        adventures, we have the perfect option for you. Our team will guide you
        through the selection process, considering factors such as weight
        capacity, battery life, maneuverability, and terrain capabilities.
      </p>
    </div>

    <div class="lw_bg-white">
      <div class="lw_max-w-7xl lw_mx-auto lw_py-24 lw_px-5">
        <h2 class="lw_text-center lw_mb-20">How wheelchair Hire Works</h2>
        <div class="lw_flex lw_flex-row lw_gap-5">
          <div
            class="lw_basis-1/3 lw_p-5 lw_flex lw_flex-col lw_gap-4 lw_items-center lw_shadow-md"
          >
            <font-awesome-icon
              class="!lw_h-14 lw_w-14 lw_mr-2 lw_text-secondary"
              :icon="['fas', 'wheelchair']"
            />
            <h4 class="lw_text-lg lw_font-medium">Select your wheelchair</h4>
            <p class="lw_text-center lw_text-sm">
              Choose your wheelchair you'd like to rent from our catelogue
            </p>
            <nuxt-link
              class="lw_bg-primary lw_py-2 lw_px-4 lw_rounded-full lw_text-white"
              to="/hire"
              >View wheelchairs</nuxt-link
            >
          </div>
          <div
            class="lw_basis-1/3 lw_p-5 lw_flex lw_flex-col lw_gap-4 lw_items-center lw_shadow-md"
          >
            <font-awesome-icon
              class="!lw_h-14 lw_w-14 lw_mr-2 lw_text-secondary"
              :icon="['fas', 'shopping-basket']"
            />
            <h4 class="lw_text-lg lw_font-medium">Order your wheelchair</h4>
            <p class="lw_text-center lw_text-sm">
              Choose the date you'd like to hire out the wheelchair and
              place your order though the website.
            </p>
          </div>
          <div
            class="lw_basis-1/3 lw_p-5 lw_flex lw_flex-col lw_gap-4 lw_items-center lw_shadow-md"
          >
            <font-awesome-icon
              class="!lw_h-14 lw_w-14 lw_mr-2 lw_text-secondary"
              :icon="['fas', 'map-location']"
            />
            <h4 class="lw_text-lg lw_font-medium">Arrange Delivery</h4>
            <p class="lw_text-center lw_text-sm">
              Choose the date you'd like to hire out the wheelchair and
              place your order though the website.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="lw_max-w-7xl lw_mx-auto lw_py-24 lw_px-5">
      <h2 class="lw_text-center lw_mb-20">Benefits of wheelchair Hire</h2>
      <div class="lw_flex lw_flex-row lw_gap-5">
        <div
          class="lw_basis-1/4 lw_p-5 lw_flex lw_flex-col lw_gap-4 lw_items-center lw_shadow-md"
        >
          <font-awesome-icon
            class="!lw_h-14 lw_w-14 lw_mr-2 lw_text-secondary"
            :icon="['fas', 'wheelchair']"
          />
          <h4 class="lw_text-lg lw_font-medium">Select your wheelchair</h4>
          <p class="lw_text-center lw_text-sm">
            Choose your wheelchair you'd like to rent from our catelogue
          </p>
          <nuxt-link
            class="lw_bg-primary lw_py-2 lw_px-4 lw_rounded-full lw_text-white"
            to="/hire"
            >View wheelchairs</nuxt-link
          >
        </div>
        <div
          class="lw_basis-1/4 lw_p-5 lw_flex lw_flex-col lw_gap-4 lw_items-center lw_shadow-md"
        >
          <font-awesome-icon
            class="!lw_h-14 lw_w-14 lw_mr-2 lw_text-secondary"
            :icon="['fas', 'shopping-basket']"
          />
          <h4 class="lw_text-lg lw_font-medium">Order your wheelchair</h4>
          <p class="lw_text-center lw_text-sm">
            Choose the date you'd like to hire out the wheelchair and
            place your order though the website.
          </p>
        </div>
        <div
          class="lw_basis-1/4 lw_p-5 lw_flex lw_flex-col lw_gap-4 lw_items-center lw_shadow-md"
        >
          <font-awesome-icon
            class="!lw_h-14 lw_w-14 lw_mr-2 lw_text-secondary"
            :icon="['fas', 'map-location']"
          />
          <h4 class="lw_text-lg lw_font-medium">Arrange Delivery</h4>
          <p class="lw_text-center lw_text-sm">
            Choose the date you'd like to hire out the wheelchair and
            place your order though the website.
          </p>
        </div>
        <div
          class="lw_basis-1/4 lw_p-5 lw_flex lw_flex-col lw_gap-4 lw_items-center lw_shadow-md"
        >
          <font-awesome-icon
            class="!lw_h-14 lw_w-14 lw_mr-2 lw_text-secondary"
            :icon="['fas', 'map-location']"
          />
          <h4 class="lw_text-lg lw_font-medium">Arrange Delivery</h4>
          <p class="lw_text-center lw_text-sm">
            Choose the date you'd like to hire out the wheelchair and
            place your order though the website.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script></script>
