<template>
  <section>
    <LazyPageHeader
      title="Wheelchairs for Sale"
      description="If you're looking for top-quality, affordable mobility scooters for sale in Hampshire, you've come to the right place! Our range of high-performance scooters offers unbeatable value for money and is perfect for anyone looking to maintain their independence and mobility. Don't let age or disability hold you back - invest in one of our mobility scooters today and experience the freedom and flexibility you deserve!"
      :seo="false"
    />

    <div
      class="lw_flex lw_flex-row lw_flex-wrap lw_max-w-7xl lw_my-24 lw_px-5 lw_mx-auto"
    >
      <div
        class="filter lw_basis-[100%] md:lw_basis-[25%] lw_relative md:lw_sticky lw_top-5 lw_h-full"
      >
        <h4 class="lw_text-lg lw_font-medium">Top Categories</h4>
        <div
          class="lw_flex lw_flex-wrap lw_flex-row md:lw_flex-col lw_gap-x-5 lw_mt-1 lw_mb-5"
        >
          <nuxt-link to="/transit-wheelchairs">Transit Wheelchairs</nuxt-link>
          <nuxt-link to="/self-propelled-wheelchairs"
            >Self Propelled Wheelchairs</nuxt-link
          >
          <nuxt-link to="/bariatric-wheelchairs"
            >Bariatric Wheelchairs</nuxt-link
          >
          <nuxt-link to="/refurbished-wheelchairs"
            >Refurbished Wheelchairs</nuxt-link
          >
          <nuxt-link to="/lightweight-wheelchairs"
            >Lightweight Wheelchairs</nuxt-link
          >
          <nuxt-link to="/prescription-wheelchairs"
            >Prescription Wheelchairs</nuxt-link
          >
        </div>
        <h4 class="lw_text-lg lw_font-medium">Other Categories</h4>
        <div
          class="lw_flex lw_flex-wrap lw_flex-row md:lw_flex-col lw_gap-x-5 lw_mt-1 lw_mb-3"
        >
          <nuxt-link to="">Extras</nuxt-link>
          <nuxt-link to="">Accessories</nuxt-link>
          <nuxt-link to="">Cushions</nuxt-link>
          <nuxt-link to="">Insurance</nuxt-link>
          <nuxt-link to="">Wet Weather</nuxt-link>
          <nuxt-link to="">Hire</nuxt-link>
          <nuxt-link to="">Ramps</nuxt-link>
          <nuxt-link to="">Standard Ramps</nuxt-link>
          <nuxt-link to="">Folding Ramps</nuxt-link>
          <nuxt-link to="">All Ramps</nuxt-link>
          <nuxt-link to="">Hoists</nuxt-link>
          <nuxt-link to="">Portable Hoists</nuxt-link>
          <nuxt-link to="">Ceiling Hoists</nuxt-link>
        </div>
      </div>
      <div
        class="products lw_mt-10 md:lw_mt-0 lw_basis-[100%] md:lw_basis-[75%]"
      >
        <h2 class="lw_text-center lw_text-3xl lw_font-medium lw_mb-10">
          Featured Wheelchairs
        </h2>
        <div
          class="lw_flex lw_flex-row !lw_pt-0 lw_w-full lw_content-start lw_flex-wrap lw_gap-5"
        >
          <div
            class="lw_flex-shrink lw_flex-grow-0 lw_basis-full md:lw_basis-72"
          >
            <lazy-product
              product="Ergo lite 2"
              product-image="https://solent-shopify.imgix.net/KM-2501-Ergo-lite-14-grey_4060398f-4244-4e88-baba-f7c7d8dfb1d7.jpg?v=1662652240?auto=format,compress&w=300&h=300&fit=min"
              product-price="495"
              product-handle="self-propelled-wheelchairs/ergo-lite-2-self-propel"
            />
          </div>
          <div
            class="lw_flex-shrink lw_flex-grow-0 lw_basis-full md:lw_basis-72"
          >
            <lazy-product
              product="Ergo 125"
              product-image="https://solent-shopify.imgix.net/S-125Q24-1050x960-side.png?v=1662652242?auto=format,compress&w=300&h=300&fit=min"
              product-price="500"
              product-handle="self-propelled-wheelchairs/s-ergo-125-self-propel"
            />
          </div>
          <div
            class="lw_flex-shrink lw_flex-grow-0 lw_basis-full md:lw_basis-72"
          >
            <lazy-product
              product="Ergo 115"
              product-image="https://solent-shopify.imgix.net/KM-1510.3-910x870-24.png?v=1662652245?auto=format,compress&w=300&h=300&fit=min"
              product-price="500"
              product-handle="self-propelled-wheelchairs/s-ergo-115-self-propel"
            />
          </div>
          <div
            class="lw_flex-shrink lw_flex-grow-0 lw_basis-full md:lw_basis-72"
          >
            <lazy-product
              product="Kushall Compact"
              product-image="https://solent-shopify.imgix.net/Compact-wheelchair-main-image.jpg?v=1662652247?auto=format,compress&w=300&h=300&fit=min"
              product-price="1,920.00"
              product-handle="prescription-wheelchairs/kushall-compact"
            />
          </div>
          <div
            class="lw_flex-shrink lw_flex-grow-0 lw_basis-full md:lw_basis-72"
          >
            <lazy-product
              product="Quickie Nitrum"
              product-image="https://solent-shopify.imgix.net/nitrum-rigid-wheelchair-red-dot-winner-2022.jpg?v=1662652255?auto=format,compress&w=300&h=300&fit=min"
              product-price="3,622.00"
              product-handle="prescription-wheelchairs/nitrum"
            />
          </div>
          <div
            class="lw_flex-shrink lw_flex-grow-0 lw_basis-full md:lw_basis-72"
          >
            <lazy-product
              product="Quickie Neon 2"
              product-image="https://solent-shopify.imgix.net/NEON-2.png?v=1662652266?auto=format,compress&w=300&h=300&fit=min"
              product-price="1,750.00"
              product-handle="prescription-wheelchairs/neon-2"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="lw_bg-white">
      <div class="lw_max-w-7xl lw_mx-auto lw_py-24 lw_px-5">
        <h2 class="lw_text-3xl lw_mb-3 lw_text-left">
          What is the best Wheelchair?
        </h2>
        <p>
          Solent Mobility Centre is a family-run business with a decade of
          experience providing mobility solutions to help people gain greater
          independence and confidence in their everyday lives. We have strong
          ethical standards, conducting business with trust, integrity and
          punctuality. Our goal is to be open and honest in our communication
          while still offering friendly service at a reasonable price. At Solent
          Mobility Centre, our mission is to serve those who need it most –
          those seeking better quality of life for themselves or someone they
          love through the use of mobility products. Our vision is to continue
          being passionate about changing lives for the better through top-notch
          customer service and reliable products that meet every individual’s
          specific needs.
          <br /><br />
          Choosing the best wheelchair can be a daunting task, especially when
          there are so many options available. However, the most important
          factor to consider is the individual&#39;s specific needs and
          preferences. Some may require a wheelchair with specific features such
          as a lightweight frame, adjustable seat height, or easy
          manoeuvrability. Others may prioritize the aesthetic appeal or
          durability of the wheelchair. Ultimately, the best wheelchair is one
          that meets the individual&#39;s unique requirements and enhances their
          mobility and independence. Seeking advice from healthcare
          professionals or wheelchair experts can also be helpful in making the
          right choice.
          <br />
          <br />
        </p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">
          Features you need top look for when buying a wheelchair
        </h2>
        <p>
          If you&#39;re in the market for a wheelchair, you&#39;ll want to take
          note of a few key components before you make your purchase. These
          important factors can make all the difference when it comes to
          selecting the right wheelchair for your needs. Let&#39;s take a closer
          look at what you should keep in mind as you shop for a wheelchair.
        </p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">Comfort</h2>
        <p>
          Wheelchair comfort is all about the seat - materials, cushioning,
          size, and back support. <br /><br />
          A daily-use wheelchair should feel like a comfortable extension of the
          user&#39;s body. When it comes to seating, there&#39;s more to
          consider than just the material - you&#39;ll also want to think about
          cushioning, back support, and the perfect fit for the user&#39;s body.
          Remember, a well- fitted seat can make all the difference in a
          user&#39;s experience.
        </p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">Cushion</h2>
        <p>
          Looking to enhance your wheelchair experience? Consider adding a
          cushion to your seat! Not only do they provide additional comfort, but
          they also offer vital support and stability. If you&#39;re looking for
          an extra plush ride, opt for a gel cushion. Need help maintaining
          proper posture and mobility? A positioning cushion has got you
          covered. And if you&#39;re planning on prolonged use, a preventative
          cushion can help cushion you from pressure and friction. Give yourself
          the gift of a more enjoyable ride and explore the world of wheelchair
          cushions.
        </p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">Seats</h2>
        <p>
          Choosing the right wheelchair seat can make all the difference in your
          comfort and mobility. Most wheelchairs are designed with durable,
          easy-to-clean nylon or vinyl seats, but did you know that
          customizations are available depending on your frame style? From added
          padding to special materials, there are plenty of options to make your
          wheelchair seat work perfectly for you. Let us help you find the
          perfect fit.
        </p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">Seat Size</h2>
        <p>
          Did you know that the seat size of a wheelchair is divided into two
          parts? The seat width is the distance between armrests, while the seat
          depth is the measurement from the backrest to the front edge of the
          seat. Different wheelchairs come in various seat widths ranging from
          14 to 20 inches, with 18 inches being the most common. Seat depths can
          differ as well, so it&#39;s crucial to measure it while the user sits
          up in a natural and active position. Are you shopping for wheelchairs?
          Product specifications sections on most mobility retailer websites
          list both seat depth and width.
        </p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">Seat Height</h2>
        <p>
          Having the right height for your wheelchair is crucial for comfort and
          ease of use. The average seat height for most wheelchairs is around 20
          to 21 inches, perfect for those who are 5 feet tall or above. However,
          if you&#39;re shorter than 5 foot, transferring can become a challenge
          if your chair is too high. So, it&#39;s essential to consider your
          height when selecting your wheelchair to ensure maximum mobility and
          confidence.
        </p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">Backrest</h2>
        <p>
          There are several types of backrests available for wheelchairs that
          can provide maximum comfort and support. Here are some of the most
          common types:
        </p>

        <ol>
          <li type="1">
            Standard backrest: This is the most basic type of backrest, which is
            usually made of a padded material and attached to the wheelchair
            frame. It provides basic support and comfort.
          </li>
          <li type="1">
            Contoured backrest: This type of backrest is designed to conform to
            the shape of the user&#39;s back, providing more support and
            comfort. It is often made of a moulded foam material.
          </li>
          <li type="1">
            Adjustable backrest: This type of backrest can be adjusted to
            different angles, allowing the user to find the most comfortable
            position. It is often used by people who need to change positions
            frequently or who have limited mobility.
          </li>
          <li type="1">
            Reclining backrest: This type of backrest can be reclined to
            different angles, allowing the user to lie back and rest. It is
            often used by people who need to spend long periods of time in their
            wheelchair.
          </li>
          <li type="1">
            Tension-adjustable backrest: This type of backrest has a
            tension-adjustment feature that allows the user to adjust the amount
            of support provided by the backrest. It is often used by people who
            need more or less support depending on their activity level.
          </li>
          <li type="1">
            Air-cell backrest: This type of backrest has air cells that can be
            inflated or deflated to provide customized support and comfort. It
            is often used by people who need to relieve pressure on certain
            areas of their back.
          </li>
          <li type="1">
            Lateral support backrest: This type of backrest has side supports
            that can be adjusted to provide additional support and stability for
            the user&#39;s torso. It is often used by people who have limited
            trunk control or who need extra support during transfers.<br /><br />When
            choosing a backrest for a wheelchair, it is important to consider
            the user&#39;s specific needs and preferences, as well as any
            medical conditions or mobility limitations they may have. A
            healthcare professional or wheelchair specialist can help determine
            the best type of backrest for each individual.
          </li>
        </ol>
        <br />
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">Chair Height</h2>
        <p>
          When it comes to transporting a wheelchair, the height of the chair
          matters. Taller chairs may be trickier to move around and store,
          especially if you&#39;re traveling with them. But shorter chairs have
          their perks – they&#39;re easier to fold and collapse down, making
          them more convenient to pack up and go.<br /><br />
          Proper wheelchair height is key to a comfortable and healthy seating
          experience for wheelchair users. By adjusting the height, users can
          improve their posture and positioning, preventing discomfort and the
          risk of further health complications. So, whether you are a wheelchair
          user yourself or someone who cares for someone in a wheelchair, take
          the time to ensure the chair is adjusted to the right height.
        </p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">Chair Weight</h2>
        <p>
          One thing to consider is the weight of the chair. If you&#39;ll be
          moving it around frequently or traveling with it, you may want to opt
          for a lighter option. Prescription chairs and pediatric wheelchairs
          tend to weigh less than manual wheelchairs. Keep in mind that chair
          weight can vary greatly depending on the features and accessories. You
          can find chairs that weigh as little as 3.65kg or as much as 42kg! By
          taking the time to choose a chair that suits your needs, you can
          ensure that your mobility is smooth and manageable.
        </p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">Armrests</h2>
        <p>
          Armrest not only do they provide extra comfort, but they can also be
          easily removed or flipped up for easier transportation. And if
          you&#39;re worried about fitting your chair under a standard table
          top, fear not - many armrests are located at table or desk height, so
          you can easily tuck them away. Say goodbye to discomfort and hello to
          a more comfortable seating experience with armrests.
        </p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">Leg Rests</h2>
        <p>
          Did you know that leg rests can enhance your comfort and support when
          using a wheelchair? With various styles available, you can choose one
          that suits your needs. You need to consider if you want the leg rests
          to swing or adjust, as this can make a big difference when it comes to
          transferring out of the chair.
        </p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">Wheels</h2>
        <p>
          Enhancing the stability and convenience of any ride, wheelchair wheels
          come in a range of options to suit different needs. From solid to
          pneumatic, the type of wheel can have a significant impact on how the
          wheelchair performs on varying surfaces. While some maintenance-free
          options are available, it&#39;s important to keep in mind that wear
          and tear may require wheel replacement over time.
        </p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">Conclusion</h2>
        <p>
          Manual wheelchairs are an excellent option for many mobility equipment
          users. They are comfortable, reliable, provide high levels of support
          and can be easily transferred. If you are considering a manual
          wheelchair as your next piece of mobility equipment, consulting with
          Solent Mobility would be a great first step. With the help of our
          experienced staff, you’ll have all the information necessary to figure
          out which manual wheelchair was built for you. Whether it’s a chair
          with 12.5 inch wheels or one that reclines, our knowledgeable staff is
          here to ensure you find something that fits your lifestyle, needs and
          budget.
        </p>
      </div>
    </div>
  </section>
</template>

<script>
import LazyProduct from "~/components/global/shop/LazyProduct.vue";
export default {
  components: { LazyProduct },
};
</script>

<style></style>
