<template>
  <main class="lw_my-10">
    <div class="lw_max-w-7xl lw_mx-auto">
      <lazy-breadcrumbs />
    </div>
    <section
      class="lw_max-w-7xl lw_mx-auto lw_flex lw_flex-col md:lw_flex-row lw_gap-5 lw_my-5 lw_justify-between lw_px-2"
    >
      <div class="gallery lw_w-full md:lw_w-[48%]">
        <transition name="fade-in">
          <nuxt-img
            v-if="currentImage"
            :src="currentImage.url"
            width="960"
            height="700"
            provider="static"
            :modifiers="{ auto: 'format,compress' }"
            :alt="currentImage.altText"
            class="lw_border lw_rounded"
          />
          <img
            v-else
            src="https://picsum.photos/200/300"
            alt=""
            width="960"
            height="700"
          />
        </transition>

        <div
          class="thumbnails lw_flex lw_flex-row lw_gap-2 lw_justify-between lw_mt-5"
          v-if="product.images"
        >
          <nuxt-img
            class="lw_w-[23%] hover:lw_cursor-pointer lw_relative lw_border lw_rounded"
            :class="activeImage == index ? 'active' : ''"
            v-for="(image, index) in product.images.edges"
            :key="index"
            :src="image.node.url"
            provider="static"
            :modifiers="{ auto: 'format,compress' }"
            width="140"
            height="140"
            fit="outside"
            @click="activateImage(index)"
            draggable="false"
            :alt="image.node.altText"
          />
        </div>
      </div>
      <div class="product lw_w-full md:lw_w-[48%] lw_flex lw_gap-5 lw_flex-col">
        <client-only>
          <script type="application/ld+json">
            {
              "@context": "https://schema.org/",
              "@type": "Product",
              "name": "{{ product.title }}",
              "image": "{{`https://solent-shopify.imgix.net/${imageFix(currentImage.url)}`}}",
              "description": "{{product.description.replace('"', '')}}",
              "brand": {
                "@type": "Brand",
                "name": "{{product.vendor}}"
              },
              "offers": {
                "@type": "Offer",
                "url": "{{`https://solent-mobility.co.uk${$nuxt.$route.path}`}}",
                "priceCurrency": "GBP",
                "price": "{{product.variants.edges[0].node.priceV2.amount}}",
                "availability": "https://schema.org/InStock",
                "itemCondition": "https://schema.org/NewCondition"
              }
            }
          </script>
        </client-only>
        <div class="lw_bg-white lw_border lw_p-5 lw_rounded">
          <h1 class="lw_text-left lw_mb-3 lw_capitalize">
            {{ product.title }} {{ collectionTitle }}
          </h1>
          <div
            v-if="product.rating"
            class="rating lw_flex lw_items-center lw_mb-3"
          >
            <font-awesome-icon
              v-for="index in parseInt(productRatingFix(product.rating))"
              :key="index"
              class="lw_h-6 lw_w-6 lw_text-yellow-400"
              :icon="['fas', 'star']"
            />
            <p class="lw_text-sm">({{ product.rating_count.value }})</p>
          </div>
          <p class="lw_mb-3">
            {{ product.description.slice(0, 190) }}...
            <a href="#description" class="lw_text-primary lw_ml-2"
              >[Read More]</a
            >
          </p>
          <div
            class="variants"
            v-if="
              product.variants.edges.length >= 1 &&
              product.variants.edges[0].node.title !== 'Default Title'
            "
          >
            <fieldset>
              <label for="options"> Select Options </label>

              <select
                id="options"
                class="lw_p-2 lw_px-5 lw_border lw_rounded lw_text-sm lw_ml-3"
                @change="selectChange"
                v-model="selectedId"
              >
                <option disabled selected value>-- select an option --</option>
                <option
                  v-for="variant in product.variants.edges"
                  :key="variant.node.id"
                  :value="variant.node.id"
                >
                  {{ variant.node.title }}
                </option>
              </select>
            </fieldset>
          </div>
          <div class="quantity lw_mt-3">
            <fieldset>
              <label for="quantity">Quantity</label>
              <!-- <input
                type="number"
                id="quantity"
                name="quantity"
                min="0"
                max="5"
                placeholder="0"
                class="lw_p-2 lw_px-5 lw_border lw_rounded lw_text-sm lw_ml-3"
                v-model="quantity"
              /> -->
              <select
                class="lw_p-1 lw_ml-2 lw_border-2 lw_border-gray-100"
                v-model="quantity"
                name="quantity"
                id="quantity"
              >
                <option value="0" disabled selected hidden>0</option>
                <option v-for="index in 5" :key="index" :value="index">
                  {{ index }}
                </option>
              </select>
            </fieldset>
          </div>
          <!-- <p class="lw_text-base" v-html="product.descriptionHtml" /> -->
          <div
            class="price lw_text-primary lw_font-semibold lw_mt-3"
            v-if="
              product.variants.edges.length >= 1 &&
              product.variants.edges[0].node.title !== 'Default Title'
            "
          >
            <p class="lw_text-3xl" v-if="selectedVariant.priceV2">
              £{{ selectedVariant.priceV2.amount }}
            </p>
          </div>
          <div class="price lw_text-primary lw_font-semibold lw_mt-3" v-else>
            <p class="lw_text-3xl">
              £{{ product.variants.edges[0].node.priceV2.amount }}
            </p>
          </div>
          <lazy-add-to-basket
            :quantity="parseInt(quantity)"
            :variantId="selectedVariant.id || product.variants.edges[0].node.id"
          />

          <div class="lw_bg-green-500 lw_p-5 lw_rounded lw_mt-5" v-if="message">
            <p>{{ message }}</p>
          </div>
        </div>
        <div class="lw_bg-white lw_border lw_p-5 lw_rounded">
          <h3 class="lw_text-left lw_text-lg">Get Help</h3>
          <div class="lw_flex lw_mt-3 lw_justify-between">
            <button
              class="lw_py-2 lw_px-5 lw_bg-secondary lw_w-[48%] lw_text-white lw_text-sm lw_rounded"
              @click="openForm()"
            >
              Enquire Now!
            </button>
            <button
              class="lw_py-2 lw_px-5 lw_bg-secondary lw_w-[48%] lw_text-white lw_text-sm lw_rounded"
            >
              Book a Store Visit
            </button>
          </div>
        </div>
      </div>
    </section>

    <section class="important-info">
      <div class="tabs lw_bg-white lw_border lw_flex lw_flex-row lw_mb-5">
        <div
          class="lw_flex lw_flex-row lw_max-w-7xl lw_mx-auto lw_justify-between lw_w-full"
        >
          <a
            class="lw_py-5 lw_px-4 lw_text-lg lw_font-medium lw_border-t-4 lw_border-t-white hover:lw_cursor-pointer"
            @click="tab = 1"
            :class="{ 'lw_border-b-4 lw_border-b-primary': tab === 1 }"
            >Description</a
          >
          <a
            class="lw_py-5 lw_px-4 lw_text-lg lw_font-medium lw_border-t-4 lw_border-t-white hover:lw_cursor-pointer"
            @click="tab = 2"
            :class="{ 'lw_border-b-4 lw_border-primary': tab === 2 }"
            >Specifications</a
          >
          <a
            class="lw_py-5 lw_px-4 lw_text-lg lw_font-medium lw_border-t-4 lw_border-t-white hover:lw_cursor-pointer"
            @click="tab = 3"
            :class="{ 'lw_border-b-4 lw_border-primary': tab === 3 }"
            >Reviews</a
          >
        </div>
      </div>

      <div
        class="tab-content lw_max-w-7xl lw_mx-auto lw_bg-white lw_border lw_p-5 lw_rounded"
      >
        <transition name="fade-in">
          <div id="description" v-show="tab === 1">
            <p v-html="product.descriptionHtml" />
          </div>
          <div id="specifications" v-show="tab === 2"></div>
          <div id="reviews" v-show="tab === 3"></div>
        </transition>
      </div>
    </section>
    <div
      v-show="form"
      class="form lw_bg-black lw_bg-opacity-50 lw_fixed lw_top-0 lw_left-0 lw_right-0 lw_bottom-0 lw_z-50"
    >
      <font-awesome-icon
        class="lw_fixed lw_top-3 lw_right-3 !lw_h-6 !lw_w-6 lw_text-white hover:lw_cursor-pointer"
        :icon="['fas', 'x']"
        @click="form = false"
      />
      <div class="lw_max-w-xl lw_flex lw_h-full lw_items-center lw_mx-auto">
        <div class="lw_bg-white lw_rounded lw_p-5 lw_w-full">
          <div class="_form_2"></div>
          <script
            src="https://solentmobility.activehosted.com/f/embed.php?id=2"
            type="text/javascript"
            charset="utf-8"
          ></script>
        </div>
      </div>
    </div>
    <div
      class="vat-popup  lw_fixed lw_z-[1001] lw_top-0 lw_left-0 lw_right-0 lw_bottom-0 lw_bg-black lw_bg-opacity-60 lw_flex lw_justify-center lw_items-center"
      v-show="checkoutSuccess"
    >
      <div class="lw_p-5">
        <div
          class="lw_bg-white lw_overflow-hidden lw_relative lw_z-[52] lw_max-w-5xl lw_w-full lw_flex lw_flex-col lg:lw_flex-row lw_rounded-xl"
        >
          <div class="lw_w-full lg:lw_w-2/5">
            <div class="lw_bg-gray-100 lw_text-center lw_p-5">
              <p class="lw_text-2xl lw_font-semibold">
                Thank you for adding the
                <span class="lw_text-primary">{{ product.title }}</span> to your
                basket
              </p>
              <nuxt-img
                v-if="currentImage"
                :src="currentImage.url"
                width="370"
                height="370"
                provider="static"
                :modifiers="{ auto: 'format,compress' }"
                :alt="currentImage.altText"
              />
              <nuxt-link
                class="lw_bg-primary lw_py-3 lw_text-center lw_w-full lw_block lw_text-white lw_font-semibold lw_rounded-lg"
                to="/cart"
                >Go To Basket</nuxt-link
              >
            </div>
          </div>
          <div class="lw_w-full lg:lw_w-3/5 checkout lw_flex lw_flex-col lw_p-5 lw_gap-3">
            <p
              v-if="product.tags.includes('Special Offer')"
              class="lw_text-3xl lw_font-semibold lw_text-center lw_mb-3"
            >
              Special Offer Addons
            </p>
            <p
              v-else
              class="lw_text-3xl lw_font-semibold lw_text-center lw_mb-3"
            >
             Item Addons
            </p>
            <div class="lw_flex lw_flex-col lw_gap-2">
              <div
                class="lw_bg-gray-100 lw_p-5 lw_rounded-lg lw_flex lw_flex-row lw_items-center"
                v-if="product.tags.includes('Special Offer')"
              >
                <div class="lw_basis-1/2">
                  <p class="lw_text-lg lw_font-semibold">12 Months Membership</p>
                  <p class="lw_text-sm lw_font-medium">FREE</p>
                  <button
                    class="lw_bg-primary lw_text-white lw_text-sm lw_font-medium lw_rounded-lg lw_py-1 lw_px-5 lw_mt-5"
                  >
                    Add to Basket
                  </button>
                </div>
                <div class="lw_basis-1/2">
                  <nuxt-img
                    class="lw_rounded-lg"
                    provider="static"
                    src="https://solent-mobility.imgix.net/littleweb/membership.jpg"
                    width="500"
                    height="250"
                    :modifiers="{ auto: 'format,compress' }"
                  />
                </div>
              </div>
            </div>
          </div>
          <p
            @click="checkoutSuccess = false"
            class="lw_cursor-pointer lw_absolute lw_top-5 lw_right-5 lw_font-semibold"
          >
            Close
          </p>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import LazyBreadcrumbs from "~/components/global/shop/LazyBreadcrumbs.vue";
import { productByHandle } from "~/gql/queries/Shopify.gql";
import LazyAddToBasket from "~/components/global/shop/LazyAddToBasket.vue";
export default {
  components: { LazyBreadcrumbs, LazyAddToBasket },
  data() {
    return {
      activeImage: 0,
      tab: 1,
      selectedId: "",
      selectedVariant: {},
      quantity: 0,
      form: false,
      message: "",
      checkoutSuccess: false,
    };
  },
  head() {
    return {
      title: `${this.product.title} ${this.collectionTitle} - Solent Mobility Centre`,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: "description",
          name: "description",
          content: `${this.product.title} ${this.collectionTitle} from ${this.product.vendor} for sale in Hampshire. The ${this.product.title} is one of the best ${this.collectionTitle}! Available from Solent Mobility!`,
        },
      ],
    };
  },
  async asyncData({ app, route, error, $http }) {
    const client = app.apolloProvider.defaultClient;
    // const product = await client
    //   .query({
    //     query: productByHandle,
    //     variables: {
    //       handle: route.params.product,
    //     },
    //   })
    //   .then(({ data }) => data);

    // if (product.productByHandle) {
    //   return {
    //     product: product.productByHandle,
    //   };
    // } else {
    //   error({ statusCode: 404, message: "Page not found" });
    // }

    const product = await $http.$post("https://solentmobility.co.uk/api/get-product", {
      productHandle: route.params.product,
    });
    if (product.productByHandle) {
      return {
        product: product.productByHandle,
      };
    } else {
      error({ statusCode: 404, message: "Page not found" });
    }
  },
  computed: {
    currentImage() {
      if (this.product.images.edges[this.activeImage]) {
        return this.product.images.edges[this.activeImage].node;
      }
    },
    collectionTitle() {
      const title = this.$route.params.tag.replace(/-/g, " ");
      return title.replace(/(^\w{1})|(\s+\w{1})/g, (letter) =>
        letter.toUpperCase()
      );
    },
  },
  methods: {
    successAdd() {
      this.checkoutSuccess = true;
      if (this.product.tags.includes("Special Offer")) {
        console.log("Special Offer");
      }
    },
    imageFix(url) {
      let i = url.split("/");
      return i.pop();
    },
    activateImage(index) {
      this.activeImage = index;
    },
    productRatingFix(rating) {
      const json = JSON.parse(rating.value);
      return json.value;
    },
    selectChange() {
      const selectedVariant = this.product.variants.edges.find(
        (data) => data.node.id == this.selectedId
      );
      this.selectedVariant = selectedVariant.node;
    },
    openForm() {
      this.form = true;
      const productName = document.getElementsByName("field[1]")[0];
      productName.value = this.product.title;
    },
  },
  watch: {
    selectedId() {
      this.selectChange();
    },
  },
  mounted() {},
};
</script>

<style scoped>
input[type="radio"]:checked + label {
  @apply lw_bg-primary lw_text-white lw_font-medium;
}
.active {
  filter: brightness(0.5);
}
.fade-in-enter-active,
.fade-in-leave-active {
  transition: all 0.2s ease-in-out;
}
.fade-in-enter,
.fade-in-leave-to {
  opacity: 0;
}
</style>
