<template>
  <div>
    <LazyPageHeader :title="title" :image="collection.image" />
    <div class="lw_max-w-7xl lw_mx-auto lw_mt-12">
      <lazy-breadcrumbs />
    </div>

    <div class="filters lw_max-w-7xl lw_mx-auto lw_my-5">
      <div class="lw_flex lw_flex-row">
        <div class="lw_w-1/4 lw_mr-5">
          <select
            class="lw_w-full lw_bg-white lw_border lw_rounded lw_py-3 lw_px-5"
            name="sort-by"
            id=""
            @change="sort"
          >
            <option disabled selected value="">SORT BY</option>
            <option value="lowHigh">Low to High</option>
          </select>
        </div>
      </div>
    </div>

    <section class="products lw_max-w-7xl lw_mx-auto">
      <div
        class="lw_flex lw_flex-row lw_p-5 !lw_pt-0 lw_w-full lw_content-start lw_flex-wrap lw_gap-5"
        v-if="collection && collection.products.edges.length > 0"
      >
        <div
          class="lw_flex-shrink lw_flex-grow-0 lw_basis-full md:lw_basis-72"
          v-for="(product, id) in collection.products.edges"
          :key="id"
        >
          <div v-if="product.node.specifications !== null">
            <lazy-product
              :product="product.node.title"
              :product-id="product.node.variants.edges[0].node.id"
              :product-image="product.node.featuredImage"
              :product-price="product.node.variants.edges[0].node.price.amount"
              :product-handle="product.node.handle"
              :product-rating="product.node.rating"
              :product-rating-count="product.node.rating_count"
              :product-specifications="
                JSON.parse(product.node.specifications.value)
              "
              :product-tags="product.node.tags"
            />
          </div>
          <div v-else>
            <lazy-product
              :product="product.node.title"
              :product-id="product.node.variants.edges[0].node.id"
              :product-image="product.node.featuredImage"
              :product-price="product.node.variants.edges[0].node.price.amount"
              :product-handle="product.node.handle"
              :product-rating="product.node.rating"
              :product-rating-count="product.node.rating_count"
              :product-tags="product.node.tags"
            />
          </div>
        </div>
      </div>

      <div
        class="lw_flex lw_flex-row lw_p-5 lw_w-full lw_content-start lw_flex-wrap lw_gap-5"
        v-else
      >
        <p>Sorry, there are no products in this category!</p>
      </div>
    </section>
  </div>
</template>

<script>
import LazyBreadcrumbs from "~/components/global/shop/LazyBreadcrumbs.vue";
import { collectionByHandle } from "~/gql/queries/Shopify.gql";
import LazyProduct from "~/components/global/shop/LazyProduct.vue";
export default {
  components: { LazyBreadcrumbs, LazyProduct },

  async asyncData({ app, route, error, $http }) {
    const collectionData = await $http.$post(
      "https://solentmobility.co.uk/api/get-products",
      {
        collectionHandle: route.params.tag,
      }
    );
    if (collectionData.collection) {
      return {
        collection: collectionData.collection,
      };
    } else {
      error({ statusCode: 404, message: "Page not found" });
    }
  },
  computed: {
    title() {
      if (this.$route.params.tag === "6-8-mph-mobility-scooters") {
        const title = "6-8 Mph Mobility Scooters";
        return title;
      } else {
        const title = this.$route.params.tag.replace(/-/g, " ");
        return title;
      }
    },
  },
  methods: {
    sort(event) {
      let products = this.collection.products.edges;

      if (event.target.value === "lowHigh") {
        products.sort(function (a, b) {
          return (
            parseFloat(a.node.variants.edges[0].node.price.amount) -
            parseFloat(b.node.variants.edges[0].node.price.amount)
          );
        });

        console.log(products);
      }
    },
  },
  head() {
    return {
      title: `Solent Mobility Centre | ${this.capitalizeText(
        this.title
      )} in Hampshire for Sale`,
      meta: [
        {
          hid: "description",
          name: "description",
          content: "",
        },
      ],
    };
  },
};
</script>

<style></style>
