<template>
  <section>
    <LazyPageHeader
      :title="collection.collection.title"
      :description="collection.collection.description"
      :image="collection.collection.image"
    />
    <div class="sub-categories lw_max-w-7xl lw_mx-auto lw_my-12">
      <!-- <h2>Shop by {{ subCategoryTitle }} Categories</h2> -->

      <lazy-breadcrumbs />

      <div
        class="lw_flex lw_flex-row lw_flex-wrap lw_gap-1 md:lw_gap-5 lw_mt-10 lw_justify-start xl:lw_px-0 lw_px-3"
      >
        <lazy-categories
          v-for="(subCategories, subCategoriesKey) in subCategory"
          :key="subCategoriesKey"
          :title="subCategories.node.title"
          :handle="`${$route.path}/${subCategories.node.handle}`"
          :image="subCategories.node.image"
        />
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from "vuex";
import LazyBreadcrumbs from "~/components/global/shop/LazyBreadcrumbs.vue";
import { collectionByHandle } from "~/gql/queries/Shopify.gql";
export default {
  components: { LazyBreadcrumbs },
  data() {
    return {
      // subCategoryTitle: "",
    };
  },
  computed: {
    ...mapState(["subCategory"]),
  },
  async mounted() {
    await this.$store.dispatch(
      "GET_SUBCOLLECTIONS",
      this.$route.params.collection
    );
  },
  async asyncData({ app, route, error, $http }) {
    const collectionData = await $http.$post("https://solentmobility.co.uk/api/get-products", {
      collectionHandle: route.params.collection,
    });
    return {
      collection: collectionData,
    };
    // const client = app.apolloProvider.defaultClient;
    // const collection = await client
    //   .query({
    //     query: collectionByHandle,
    //     variables: {
    //       handle: route.params.collection,
    //     },
    //   })
    //   .then(({ data }) => data);
    // if (collection.collection) {
    //   return {
    //     collection: collection,
    //   };
    // } else {
    //   error({ statusCode: 404, message: 'Page not found' })
    // }
  },
  head() {
    return {
      title: `Solent Mobility Centre | ${this.capitalizeText(
        this.collection.collection.title
      )} in Hampshire for Sale`,
      meta: [
        {
          hid: "description",
          name: "description",
          content: `${this.collection.collection.description}`,
        },
      ],
    };
  },
};
</script>

<style></style>
