<template>
  <div>
    <TheHeader />
    <section>
      <h1 class="lw_text-left lw_mt-5 lw_pl-5">My Account</h1>
      <div class="lw_flex lw_flex-row lw_gap-5 lw_p-5">
        <div class="lw_bg-white lw_h-96 lw_w-1/3 lw_p-4">
          <h2 class="lw_text-left lw_text-xl">Welcome, Callum Gregory</h2>
          <div class="lw_flex lw_flex-col lw_gap-3 lw_mt-5">
            <nuxt-link to="/account" class="lw_p-2 lw_bg-gray-50"
              >My Account</nuxt-link
            >
            <nuxt-link to="/account/orders" class="lw_p-2 lw_bg-gray-50"
              >Recent Orders</nuxt-link
            >
            <a @click="logout" class="hover:lw_cursor-pointer lw_p-2 lw_bg-gray-50">Logout</a>
          </div>
        </div>
        <div class="lw_bg-white lw_h-96 lw_w-2/3">
          <Nuxt />
        </div>
      </div>
    </section>
    <ShopLazyBasketIcon />
    <LazyTheFooter />
  </div>
</template>

<script>
import { customerAccessTokenDelete } from "~/gql/mutations/Shopify.gql";
export default {
  methods: {
    async logout() {
      try {
        let key = JSON.parse(localStorage.getItem('userAccessToken'));

        const res = await this.$apollo.mutate({
          mutation: customerAccessTokenDelete,
          variables: {
            customerAccessToken: key.accessToken,
          },
        });

        if (res) {
          localStorage.removeItem('userAccessToken')
          this.$router.push('/account/login')
        }
      } catch (err) {
        console.table(err)
      }
    },
  },
};
</script>

<style scoped>
.nuxt-link-exact-active {
  @apply lw_bg-primary lw_text-white;
}
</style>
