<template>
  <div>
    <TheHeader />
    <Nuxt />
    <ShopLazyBasketIcon />
    <LazyTheFooter />
  </div>
</template>

<script>
export default {
  created() {
    if (process.browser) {
      let activeCampaign = document.createElement("script");
      activeCampaign.setAttribute("src", "/js/active-campaign.js");
      document.body.appendChild(activeCampaign);
    }
  },
};
</script>

<style>
.bm-item-list {
  margin: 0 !important;
}
.bm-item-list>* {
  padding: 0 !important;
}
.bm-menu {
      background-color: #ffffff !important;
    box-shadow: #c9c9c93d -7px 1px 13px 13px;
}
.bm-burger-button {
    position: fixed !important;
    z-index: 999;
}

span.bm-burger-bars.line-style {
    @apply lw_bg-primary;
}
body {
  font-family: "Montserrat";
  background: #f5f5f5;
}
input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
textarea {
  @apply lw_outline-none focus:lw_border-primary focus:lw_border-2 lw_border-2 lw_border-transparent;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
._form_2 form._form {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100% !important;
}
._form_4 form {
  background: transparent !important;
}

._form_4 form input {
  border: 0 !important;
  border-radius: 0 !important;
}
._form-label {
  display: none !important;
}
._inline-style ._button-wrapper {
  margin: 0 !important;
  margin-left: 20px !important;
}
._inline-style input[type="text"] {
  width: 100% !important;
}
div ._form {
  margin: 0 !important;
  max-width: 100% !important;
}
input[type="text"],
input[type="date"],
textarea {
  border: 0 !important;
}
body div._form_6 input[type="text"],
body div._form_6 textarea,
body div._form_2 textarea,
body div._form_2 input[type="text"],
body div._form_7 textarea,
body div._form_7 input[type="text"] {
  padding: 10px !important;
  font-size: 15px !important;
  background: #f5f5f5;
}
body div._form_6 label {
  display: block !important;
}
</style>
