<template>
  <div class="">
      <LazyPageHeader :seo="false" :title="blogs.title" :description="blogs.excerpt" :image="blogs.image" />
      <article class="lw_max-w-[1200px] lw_mx-auto lw_my-10 lw_p-5 lw_bg-white" v-html="blogs.contentHtml">

      </article>
  </div>
</template>

<script>
import { blogByHandle } from "~/gql/queries/Blog.gql";
export default {
  async asyncData({ app, error, route }) {
    const client = app.apolloProvider.defaultClient;
    const blog = await client
      .query({
        query: blogByHandle,
        variables: {
          handle: route.params.handle,
        },
      })
      .then(({ data }) => data.blogs.edges[0].node.articleByHandle);

    return {
      blogs: blog,
    };
  },
};
</script>

<style>
article h2 {
    @apply lw_text-left;
}
</style>
