<template>
  <div class="">
        <LazyPageHeader
        :seo="false"
      title="Our News & Blogs"
      description="Solent Mobility wants to keep our customers in the loop, with all our latest news and offers."
    />
    <article class="lw_max-w-[1200px] lw_m-auto lw_flex lw_flex-wrap lw_flex-row lw_gap-5 lw_px-5 lw_mt-10">
      <nuxt-link class="lw_w-full md:lw_w-[40%] last:lw_flex-grow-0 lw_flex-grow lg:lw_w-[30%] lw_bg-white lw_border" v-for="(blog, index) in blogs" :key="index" :to="`/blog/${blog.node.handle}`">
        <img v-if="blog.node.image" :src="blog.node.image.url" alt="">
        <img v-else src="https://solent-mobility.imgix.net/littleweb/mobility-scooters-near-me.jpeg" alt="">
        <div class="lw_p-5">
          <h3 class="lw_font-semibold lw_text-lg">{{blog.node.title}}</h3>
          <p>{{blog.node.excerpt}}</p>
        </div>
      </nuxt-link>
    </article>
  </div>
</template>

<script>
import { blogs } from "~/gql/queries/Blog.gql";
export default {
  async asyncData({ app, error }) {
    const client = app.apolloProvider.defaultClient;
    const blog = await client
      .query({
        query: blogs,
      })
      .then(({ data }) => data.blogs.edges[0].node.articles.edges);

    return {
      blogs: blog,
    };
  },
};
</script>

<style>
article h3 {
  @apply lw_text-left;
}
</style>
