<template>
  <section>
    <LazyPageHeader
      title="24/7 Call Outs"
      description="Welcome to Solent Mobility Centre, where we believe that customer satisfaction doesn&#39;t end with
the purchase of your mobility product. We understand that owning a stairlift, mobility scooter,
wheelchair, or any other mobility product can be a significant investment, and we want to ensure
that you have peace of mind long after your purchase."
      :seo="false"
    />

      <div class="lw_max-w-7xl lw_mx-auto lw_py-24 lw_px-5">
        <h2 class="lw_text-3xl lw_mb-3 lw_text-left">
          24/7 Emergency Call Outs 
        </h2>
        <p>
            That&#39;s why we offer a 24/7 after-hours care line to all our customers. Our team of expert engineers
works tirelessly to ensure that you have the support you need, whenever you need it. Whether you
have a question about your product, need technical assistance, or require emergency repairs, our
after-hours care line is always available to help.<br><br>

Our engineers are highly trained and experienced in all aspects of mobility products, and they are
dedicated to providing you with the best possible service. We understand that mobility products are
essential for your daily life, which is why we work hard to ensure that any issues are resolved quickly
and efficiently.<br><br>

At Solent Mobility Centre, we believe that our commitment to customer satisfaction doesn&#39;t end
with the sale. We are passionate about providing you with ongoing support and assistance to ensure
that your mobility product continues to meet your needs and expectations.<br><br>

If you have any questions or concerns about your mobility product, don&#39;t hesitate to contact us
about our after-hours care line. Our team of experts is always available to help you, no matter the
time of day or night. With Solent Mobility Centre, you
        </p>
      </div>


  </section>
</template>

<script>
import LazyProduct from "~/components/global/shop/LazyProduct.vue";
export default {
  components: { LazyProduct },
};
</script>

<style></style>
