<template>
  <section>
    <LazyPageHeader
      :seo="false"
      title="About Us"
      description="Solent Mobility CentreLtd is an independent family run business with over 10 years’ experience specialising insupply,service and maintenanceof all mobility products. We have strong working ethics firmly set in building working relationships based on trust and integrity with our customers. Our aim is to give the best possible service by being punctual, open and honest in our communications both verbal and written and being accountable for our actions. We pride ourselves on offering a personal, friendly service with a high degree of professionalism at a very reasonable cost.Why we do what we do at Solent Mobility Centreis because “We are passionate about providing a better quality of life for you and those that you care for”. This was thought up by Mike, one of the directors here and our employees are devoted to the mission, learning and embodying the necessary skills for success. "
    />

    <div class="meet-the-team lw_py-14 lw_mx-auto lw_max-w-7xl">
      <h2>Meet The Team</h2>

      <div class="lw_flex lw_flex-row lw_gap-5 lw_mt-10 lw_flex-wrap">
        <div
          v-for="(person, index) in staff"
          :key="index"
          class="team-member lw_flex-grow lw_w-[30%] lw_bg-white lw_rounded last:lw_flex-grow-0"
        >
          <img src="https://picsum.photos/400/250" alt="" />
          <div class="lw_p-5 lw_text-center">
            <h3 class="lw_text-2xl lw_font-semibold">{{ person.name }}</h3>
            <p class="lw_text-base lw_font-semibold">{{ person.role }}</p>
            <p class="lw_mt-2 lw_text-sm">{{ person.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      staff: [
        {
          name: "Mike Watts",
          description:
            "Mike and wife Debbie opened Solent Mobility Centre in 2008 as the retail outlet to accompany their successful hospital repair company, Shepherd Hospital Equipment.Mike served in the Royal Navy as a Weapons Engineer from 1977 –2001, and a following 15+ years repairing and maintaining hospital equipment has given him invaluable technical knowledge and experience that has benefitted Solent Mobility from its opening to what the company is today.",
          photo: "",
          role: "Director",
        },
        {
          name: "Debbie Watts",
          description:
            "With a background in customer service, Debbie was for many years the driving force behind Solent Mobility Centre. She created many of the working practices that makes Solent Mobility Centre’s customer service so highly rated and focused on the customer experience.In 2018, Debbie and Mike took a step back from the day-to-day running of the company to focus on new and exciting ventures, although they still maintain a presence at the core of the business.",
          photo: "",
          role: "Director",
        },
        {
          name: "Ben Watts",
          description:
            "Ben got involved with the company in 2009 as an engineer and has gained invaluable experience in the mobility industry over the years. After later becoming Director of Solent Mobility Centre, Ben has taken his practical and business knowledge to grow the company in exciting new ways.As of 2018, Ben has been the principal Director for Solent Mobility Centre is extremely proud of his team and the customer focused values they uphold.",
          photo: "",
          role: "Director",
        },
        {
          name: "Jamie Watts",
          description:
            "Jamie joined the family business in 2006 as an engineer for parent company Shepherd Hospital Equipment. He later became a director for the company, using his engineering knowledge and expertise to oversee the smooth running of day-to-day operations.In 2018 he became lead Director for Shepherds and keeps an active interest in Solent Mobility Centre and lending the occasional helping hand.",
          photo: "",
          role: "Director",
        },
        {
          name: "Liz Kelly",
          description:
            "Liz joined in 2009 and currently works for parent company Shepherd Hospital Equipment as office manager. She has a background in mobility sales (which she uses to help Solent Mobility when needed) and office management within NHS wheelchair contracts.Liz enjoys the variety of her job and works closely with Director Jamie to manage the Shepherds engineers and to oversee new and existing contracts. She believes good communication is the key to her work, keeping clients updated at every stage.Liz is fond of travelling and learning about and immersing herself in new cultures. She especially enjoyed her trip to Mexico, snorkelling in underground caves and cenotes",
          photo: "",
          role: "Office Manager",
        },
        {
          name: "Simon Kelly",
          description:
            "Simon has over 30 years’ experience in the mobility industry and brought a wealth of knowledge with him as he began working for Solent Mobility Centre in 2009. As our Mobility Advisor, he is a trusted expert for all things relating to wheelchairs, powerchairs and scooters.He is fully qualifiedand enjoys measuring and giving adviceon high-end prescription wheelchairs with patience and thoroughness. He takes pride in his work and considers being honest and friendly his greatest traits within his role.Simon is a sports enthusiast who loves to see the world and all it has to offer. His passion for football andcricket are rivalled only by his fascination with birds -an exciting combination of interests that make him truly one-of-a kind!",
          photo: "",
          role: "Mobility Advisor",
        },
        {
          name: "Lynn Nunn",
          description:
            "Lynn joined the Solent Mobility team in 2013 and through the years has become integral to the smooth running of our showroom. She enjoys working in a tight knit team to deliver a great experience, and the direct interaction with customers–getting to know them and their needs.She has a long background in customer service and understands the importance of listening to people and fitting recommendations around their personal requirements.Outside of work she is kept busy by being a Mum of six and by her five Grandchildren, as well as enjoying taking her dog out for long walks",
          photo: "",
          role: "Sales Assistant",
        },
        {
          name: "Gareth Pickett",
          description:
            "Gareth became a member of the Solent Mobility team in 2016 and is responsible for repairing, maintaining and servicing equipment aspart of our excellent after care service.He puts value in being able to help people in need as part of his job and seeing the difference that his work aids in making people’s lives easier. Our regular customers he sees as an extended family –welcome into our showroom for a coffee and a chat anytime.Gareth is a huge rugby fan and an avid follower of the sport –especially when Wales are playing. The rest of his time is spent with his family",
          photo: "",
          role: "Solent Engineer",
        },
        {
          name: "CJ",
          description:
            "CJ joined us in 2017 after relocating tothe local area. He has a background in care and brings this knowledge forward to bolster his great customer service skills.Finding genuine enjoyment in helping others, CJ feels fulfilled giving our customers a valued experience and helping them to live their lives to the fullest. CJ is an absolutely integral part of our customer aftercareand enjoys being part of the team here at Solent Mobility Centre..CJ Loves Arsenal FCnearly as much as he likes spending time with his wife and son that was born in May 2022.",
          photo: "",
          role: "Solent Engineer",
        },
        {
          name: "Kevin Armitage",
          description:
            "Kevin has joined our mobility specialist team in 2022 and is learning the intricacies of custom fitting, servicing, and fixing customers' products. With his newfound knowledge he will provide personalised care to all of your needs!An keenpaddleboarder and devoted Aston Villa fan, he loves making the most out of life. He cherishes quality time with his family, making them a priority in life.",
          photo: "",
          role: "Solent Engineer",
        },
        {
          name: "Kayleigh Fowler",
          description:
            "Kayleigh joined our sales team during the summer of 2019 with great customer service skills right off the bat.Having come from a background in customer service, Kayleigh knows that good conversation and making our customers feel right at home are two of the most important parts of an outstanding customer service.Kayleigh enjoys spending her spare time with her family, as well as reading and watching Netflix.",
          photo: "",
          role: "Sales Assistant",
        },
        {
          name: "Katrina Pilbeam",
          description:
            "Katrina has been an invaluable addition to the team as a shop assistant since she joined in July 2022. Herenthusiasm for customer service and dedication to helping customers find what they need quickly, accurately, and efficiently is unparalleled. She truly takes pleasure in brightening people's day-to-day lives with her friendly demeanour and excellent product knowledge!When not at work, Katrina loves to take a stroll in nature with her two dogs. Surrounded by lush greenery and the joyful panting of her furry friends, she delights in finding peace away from the hustle and bustle of everyday life during theseprecious moments spent outdoors.",
          photo: "",
          role: "Sales Assistant",
        },
        {
          name: "Hayley Steadman",
          description:
            "Hayley is our latest addition, joining the team this January! She was welcomed warmly and has already fit right in with her new colleagues. We're so happy she's here to stay!She works in the background of a business, making sure all the little details are taken care of. She's like an unseen superhero -behind her efforts lies a finely tuned machine!On her days off, she takes long strolls on the beach with her pup and snuggles up to enjoy quality time with her two little ones.",
          photo: "",
          role: "Admin Assistant",
        },
      ],
    };
  },
};
</script>

<style></style>
