<template>
  <section>
    <LazyPageHeader :seo="false" title="Your Cart" />
    <client-only>
      <div class="items lw_mt-5">
        <div class="" v-if="!cart">
          <h2>Cart Empty</h2>
        </div>
        <div
          class="lw_flex lw_flex-col lg:lw_flex-row lw_gap-5 lw_p-5 lw_max-w-[1640px] lw_mx-auto"
          v-else
        >
          <div class="lw_basis-full lg:lw_basis-4/6 lw_flex lw_flex-col lw_gap-5">
            <div class="lw_bg-white lw_rounded-xl">
              <div
                class="top lw_flex lw_flex-row lw_justify-between lw_px-5 lw_py-3"
              >
                <p class="lw_text-xs lw_text-gray-500 lw_font-medium">
                  PRODUCT
                </p>
                <p class="lw_text-xs lw_text-gray-500 lw_font-medium">TOTAL</p>
              </div>
              <ShopLazyCartItem
                v-for="(item, index) in cart.lines.edges"
                :key="index"
                :merchId="item.node.merchandise.id"
                :itemId="item.node.id"
                :itemImage="item.node.merchandise.image"
                :itemName="item.node.merchandise.product.title"
                :itemVariant="item.node.merchandise.title"
                :itemQuantity="item.node.quantity"
                :itemCost="parseInt(item.node.estimatedCost.totalAmount.amount)"
                :cartId="cart.id"
              />
            </div>

            <div class="lw_bg-white lw_rounded-xl lw_flex lw_flex-col lg:lw_flex-row lw_p-5">
              <div class="lw_basis-full lg:lw_basis-1/3">
                <div
                  class="checkout pointer-right lw_flex lw_flex-col lw_pt-10 lw_pb-24 lw_text-white lw_justify-center lw_items-center"
                >
                  <p class="lw_text-lg">Pay</p>
                  <p class="lw_text-4xl lw_font-semibold">NO VAT</p>
                  <p class="lw_text-lg">on your purchase</p>
                </div>
              </div>
              <div
                class="lw_basis-full lg:lw_basis-2/3 lw_flex lw_justify-center lw_items-center"
              >
                <div class="lw_flex lw_flex-col lw_gap-5">
                  <p class="lw_text-secondary lw_font-semibold lw_text-2xl">
                    Are you entitled to VAT relief?
                  </p>
                  <div class="lw_flex lw_flex-col lw_gap-2">
                    <div class="lw_flex lw_flex-row lw_items-center lw_gap-2">
                      <font-awesome-icon
                        class="!lw_h-6 !lw_w-6 lw_text-primary"
                        :icon="['fas', 'square-check']"
                      />
                      <p>Long term health condition?</p>
                    </div>
                    <div class="lw_flex lw_flex-row lw_items-center lw_gap-2">
                      <font-awesome-icon
                        class="!lw_h-6 !lw_w-6 lw_text-primary"
                        :icon="['fas', 'square-check']"
                      />
                      <p>Registered as disabled?</p>
                    </div>
                  </div>
                  <button
                    class="lw_border-2 lw_border-secondary lw_w-full lw_p-5 lw_text-center lw_font-semibold lw_rounded-xl"
                    @click="disabilityVAT = true"
                  >
                    Entitled to VAT Relief?
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="lw_basis-full lg:lw_basis-2/6">
            <div
              class="lw_w-full lw_p-5 checkout lw_rounded-xl lw_flex lw_flex-col lw_gap-3"
            >
              <h2
                class="lw_text-4xl lw_text-white lw_text-center lw_font-medium"
              >
                Summary
              </h2>
              <div
                class="lw_bg-white lw_rounded-xl lw_p-5 lw_flex lw_flex-col lw_gap-3"
              >
                <div
                  class="lw_border-b lw_border-gray-100 lw_pb-2 lw_flex lw_flex-row lw_justify-between"
                >
                  <p>
                    <span class="lw_font-medium lw_text-gray-500"
                      >Sub total:</span
                    >
                  </p>
                  <p class="lw_font-semibold lw_text-lg lw_text-gray-700">
                    £{{
                      currencyCovert(cart.estimatedCost.subtotalAmount.amount)
                    }}
                  </p>
                </div>

                <div
                  class="lw_border-b lw_border-gray-100 lw_pb-2 lw_flex lw_flex-row lw_justify-between"
                >
                  <p>
                    <span class="lw_font-medium lw_text-gray-500"
                      >VAT (20%):</span
                    >
                  </p>
                  <p class="lw_font-semibold lw_text-lg lw_text-gray-700">
                    £{{
                      currencyCovert(
                        cart.estimatedCost.subtotalAmount.amount * 0.2
                      )
                    }}
                  </p>
                </div>

                <div class="lw_flex lw_flex-col lw_gap-1 lw_text-center">
                  <p class="lw_font-medium lw_text-sm lw_text-gray-500">
                    Total Amount
                  </p>
                  <p class="lw_font-semibold lw_text-primary lw_text-3xl">
                    £{{
                      currencyCovert(
                        cart.estimatedCost.totalAmount.amount * 1.2
                      )
                    }}
                  </p>
                  <p class="lw_font-medium lw_text-sm lw_text-gray-500">
                    £{{
                      currencyCovert(cart.estimatedCost.subtotalAmount.amount)
                    }}
                    with VAT relief
                  </p>
                </div>
                <div
                  class="lw_border-t lw_border-gray-100 lw_pt-5 lw_flex lw_flex-col lw_gap-2"
                >
                  <button
                    class="lw_border-2 lw_border-secondary lw_w-full lw_p-5 lw_text-center lw_font-semibold lw_rounded-xl"
                    @click="disabilityVAT = true"
                  >
                    Entitled to VAT Relief?
                  </button>

                  <button
                    class="checkout lw_w-full lw_p-5 lw_text-center lw_font-semibold lw_text-white lw_rounded-xl"
                  >
                    Proceed to Checkout
                  </button>
                  <!-- <button
                    @click="checkout()"
                    :disabled="disabilityVAT && (!disName || !disReason)"
                    class="lw_bg-primary lw_place-self-start lw_px-5 lw_py-2 lw_rounded lw_text-white disabled:lw_opacity-70 disabled:lw_cursor-not-allowed"
                  >
                    Checkout
                  </button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="vat-popup lw_fixed lw_z-[51] lw_top-0 lw_left-0 lw_right-0 lw_bottom-0 lw_bg-black lw_bg-opacity-60 lw_flex lw_justify-center lw_items-center"
        v-show="disabilityVAT"
      >
        <div class="lw_p-5">
          <div
            class="lw_bg-white lw_overflow-hidden lw_relative lw_z-[52] lw_max-w-5xl lw_w-full lw_flex lw_flex-col lg:lw_flex-row lw_rounded-xl"
          >
            <div class="lw_w-full lg:lw_w-2/3">
              <div class="lw_bg-secondary lw_text-center lw_p-5 lw_text-white">
                <p class="lw_text-2xl lw_font-semibold lw_mb-2">
                  Do you or the person you’re buying for…
                </p>
                <div class="lw_flex lw_flex-row lw_justify-center lw_gap-3">
                  <div class="lw_flex lw_flex-row lw_items-center lw_gap-2">
                    <font-awesome-icon
                      class="!lw_h-6 !lw_w-6 lw_text-primary"
                      :icon="['fas', 'square-check']"
                    />
                    <p>Long term health condition?</p>
                  </div>
                  <div class="lw_flex lw_flex-row lw_items-center lw_gap-2">
                    <font-awesome-icon
                      class="!lw_h-6 !lw_w-6 lw_text-primary"
                      :icon="['fas', 'square-check']"
                    />
                    <p>Long term health condition?</p>
                  </div>
                </div>
              </div>
              <div class="lw_p-5 lw_flex lw_flex-col lw_items-center">
                <p class="lw_text-secondary lw_font-semibold lw_text-2xl">
                  Then you'll save yourself £
                </p>
                <p class="lw_text-gray-500 lw_font-semibold">
                  just fill out your details below
                </p>
                <div
                  class="lw_flex lw_flex-col lw_gap-3 lw_mt-5 lw_self-stretch lw_items-center"
                >
                  <input
                    type="text"
                    class="lw_bg-gray-50 lw_w-3/4 lw_rounded lw_py-2 lw_px-5"
                    name="customer-name"
                    placeholder="Full Name"
                    id=""
                    v-model="disName"
                  />
                  <input
                    type="text"
                    placeholder="Disability Condition"
                    class="lw_bg-gray-50 lw_w-3/4 lw_block lw_rounded lw_py-2 lw_px-5"
                    name="customer-notes"
                    v-model="disReason"
                  />
                  <button
                    class="lw_w-3/4 lw_bg-primary lw_rounded-xl lw_p-3 lw_text-white lw_font-semibold lw_text-center"
                  >
                    Remove £ VAT
                  </button>
                </div>
              </div>
            </div>
            <div
              class="lw_w-full lg:lw_w-1/3 checkout lw_flex lw_justify-center lw_items-center"
            >
              <div class="lw_flex lw_flex-col lw_gap-2 lw_text-white lw_p-5">
                <p class="lw_font-semibold lw_text-lg lw_mb-2">
                  Some conditions:
                </p>
                <div class="lw_flex lw_flex-row lw_items-center lw_gap-2">
                  <font-awesome-icon
                    class="!lw_h-6 !lw_w-6 lw_text-white"
                    :icon="['fas', 'square-check']"
                  />
                  <p class="lw_font-semibold">Diabetes</p>
                </div>
                <div class="lw_flex lw_flex-row lw_items-center lw_gap-2">
                  <font-awesome-icon
                    class="!lw_h-6 !lw_w-6 lw_text-white"
                    :icon="['fas', 'square-check']"
                  />
                  <p class="lw_font-semibold">Diabetes</p>
                </div>
              </div>
            </div>
            <p
              @click="disabilityVAT = false"
              class="lw_cursor-pointer lw_absolute lw_top-2 lw_right-2 lg:lw_top-5 lg:lw_right-5 lw_text-white lw_font-semibold"
            >
              Close
            </p>
          </div>
        </div>
      </div>
    </client-only>
  </section>
</template>

<script>
import {
  cartNoteUpdate,
  cartAttributesUpdate,
  cartDiscountCodesUpdate,
} from "~/gql/mutations/Shopify.gql";
export default {
  data() {
    return {
      cart: "",
      disabilityVAT: false,
      disName: "",
      disReason: "",
      cartNote: "",
      checkoutUrl: "",
    };
  },
  created() {
    this.currentCart();
  },
  methods: {
    currentCart() {
      if (process.browser) {
        this.cart = JSON.parse(localStorage.getItem("cart"));
      }
    },
    refresh() {
      this.currentCart();
    },
    async checkout() {
      let cartUrl = this.cart.checkoutUrl;
      if (this.cartNote) {
        try {
          const test2 = await this.$apollo.mutate({
            mutation: cartNoteUpdate,
            variables: {
              cartId: this.cart.id,
              note: this.cartNote,
            },
          });
          console.table(test2);
        } catch (err) {
          console.table(err);
        }
      }
      if (this.disabilityVAT) {
        try {
          let vatDetails = `VAT Exempt Name: ${this.disName}
            VAT Exempt Reason: ${this.disReason}`;
          await this.$apollo.mutate({
            mutation: cartAttributesUpdate,
            variables: {
              cartId: this.cart.id,
              attributes: {
                key: "VAT Exemption",
                value: vatDetails,
              },
            },
          });
          // await this.$apollo.mutate({
          //   mutation: cartDiscountCodesUpdate,
          //   variables: {
          //     cartId: this.cart.id,
          //     discountCodes: ["VAT-EXEMPT"],
          //   },
          // });
        } catch (err) {
          console.table(err);
        }
      }

      localStorage.removeItem("cart");
      this.openInNewTab(cartUrl);
    },
    openInNewTab(href) {
      Object.assign(document.createElement("a"), {
        target: "_blank",
        href: href,
      }).click();
    },
    clearCart() {
      localStorage.removeItem("cart");
      this.refresh();
    },
  },
};
</script>

<style scoped>
.checkout {
  background: url(https://solent-mobility.imgix.net/littleweb/pattern-fade.png?auto=format,compress&w=600&h=400),
    linear-gradient(272deg, #e95711, #e95711);
}
.pointer-right {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}
</style>
