<template>
  <section>
    <LazyPageHeader :seo="false" title="Contact Us" />
  
    <div class="lw_flex lw_flex-col md:lw_flex-row lw_m-5 lw_gap-5">
        <div class="lw_bg-white lw_rounded-md lw_p-5 lw_flex lw_flex-1 lw_basis-2/4 lw_flex-col lw_gap-3">
            <p>Here at Solent Mobility we provide a first class service to each and every one of our valued customers, and all in the most professional and friendly manner possible. Whatever you require with regards to mobility equipment or products, make sure we are your first port of call! Come and meet our friendly staff even enjoy a cup of tea or coffee while you look around our large spacious showroom in the High Street, Lee on the Solent.</p>
            <div class="lw_flex lw_flex-row lw_gap-3">
                <svg class="lw_h-6 lw_w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M511.2 387l-23.25 100.8c-3.266 14.25-15.79 24.22-30.46 24.22C205.2 512 0 306.8 0 54.5c0-14.66 9.969-27.2 24.22-30.45l100.8-23.25C139.7-2.602 154.7 5.018 160.8 18.92l46.52 108.5c5.438 12.78 1.77 27.67-8.98 36.45L144.5 207.1c33.98 69.22 90.26 125.5 159.5 159.5l44.08-53.8c8.688-10.78 23.69-14.51 36.47-8.975l108.5 46.51C506.1 357.2 514.6 372.4 511.2 387z"/></svg>
                <a href="tel:02392 009999">02392 009999</a>
            </div>
            <div class="lw_flex lw_flex-row lw_gap-3">
                <svg class="lw_h-6 lw_w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z"/></svg>
                <a href="tel:02392 009999">107 High St, Lee-on-the-Solent PO13 9BU</a>
            </div>
            <div class="lw_flex lw_flex-row lw_gap-3">
                <svg class="lw_h-6 lw_w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M464 64C490.5 64 512 85.49 512 112C512 127.1 504.9 141.3 492.8 150.4L275.2 313.6C263.8 322.1 248.2 322.1 236.8 313.6L19.2 150.4C7.113 141.3 0 127.1 0 112C0 85.49 21.49 64 48 64H464zM217.6 339.2C240.4 356.3 271.6 356.3 294.4 339.2L512 176V384C512 419.3 483.3 448 448 448H64C28.65 448 0 419.3 0 384V176L217.6 339.2z"/></svg>
                <a href="mailto:cs@solent-ltd.co.uk">cs@solent-ltd.co.uk</a>
            </div>
            <div class="lw_flex lw_flex-row lw_gap-3 lw_items-center">
            <svg class="lw_h-6 lw_w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512zM232 256C232 264 236 271.5 242.7 275.1L338.7 339.1C349.7 347.3 364.6 344.3 371.1 333.3C379.3 322.3 376.3 307.4 365.3 300L280 243.2V120C280 106.7 269.3 96 255.1 96C242.7 96 231.1 106.7 231.1 120L232 256z"/></svg>
            <div class="lw_flex lw_flex-col">
                    <p>Monday - Friday - 9:00 - 17:00</p>
                    <p>Saturday - 9:00 - 15:00</p>
                    <p>Sunday - Closed</p>
                </div>
            </div>
        </div>
        <div class="lw_flex-grow lw_flex-shrink lw_bg-white lw_rounded-md lw_p-2 lw_flex-1 lw_basis-2/4">
            <div class="_form_6"></div><script src="https://solentmobility.activehosted.com/f/embed.php?id=6" type="text/javascript" charset="utf-8"></script>
        </div>
    </div>
  </section>
</template>

<script>
export default {
 head() {
      return {
        title: 'Solent Mobility Centre | Contact Us',
        meta: [
          {
            hid: 'description',
            name: 'description',
            content: 'Here at Solent Mobility we provide a first class service to each and every one of our valued customers, and all in the most professional and friendly manner possible. Whatever you require with regards to mobility equipment or products, make sure we are your first port of call! Come and meet our friendly staff even enjoy a cup of tea or coffee while you look around our large spacious showroom in the High Street, Lee on the Solent.'
          }
        ]
      }
    }
}
</script>

<style scoped>
svg {
    @apply lw_fill-secondary;
}

</style>