<template>
  <section>
    <LazyPageHeader :seo="false" title="Delivery and Returns Policy" />
    <div class="lw_max-w-7xl lw_mx-auto lw_py-10">
        <h2>Delivery and Returns Policy</h2>
        <p>
Delivery and Returns Policy at Solent Mobility Centre, we strive to ensure that every
purchase you make with us is a smooth and hassle-free experience. That&#39;s why we have a
comprehensive delivery and returns policy in place to protect your rights as a customer.
        </p>
        <p>
          We aim to dispatch your order within 24-48 hours of receipt or delivery of your product to us
from the manufacturer.
        </p>
        <p>
          Please note that delivery times may vary depending on the product you have ordered, as
some items are made to order and may take longer to arrive. In such cases, we will inform
you of the expected delivery time and keep you updated throughout the process.
        </p>
        <p>
         If you require urgent delivery, please contact us and we will do our best to accommodate
your request.
        </p>
       
        <p>
          Returns We understand that sometimes you may need to return an item, and we are happy
to offer a hassle-free returns policy to ensure your satisfaction. If you wish to return an item,
please notify us within 14 days of receipt of the product.
        </p>
        <p>
          You can do this by using our online returns form or by contacting us directly. We will then
provide you with a return’s authorisation number and instructions on how to send the item
back to us. Please note that the item must be returned in its original condition and
packaging, and you will be responsible for the cost of return postage.
        </p>
        <p>
Once we have received the item and confirmed that it is in its original condition, we will issue
a refund within 14 days. In the unlikely event that you receive a faulty or damaged item,
please contact us immediately and we will arrange for a replacement or refund as
appropriate.
        </p>
        <p>
Contact Us If you have any questions about our delivery and returns policy, please don&#39;t
hesitate to contact us. Our friendly and knowledgeable customer service team is always on
hand to help you with any queries or concerns you may have.
        </p>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style scoped>
h2 {
    @apply !lw_text-left !lw_mb-3;
}
p {
    @apply lw_mb-4
}
</style>
