<template>
  <section>
    <LazyPageHeader
      title="Finance Offers Designed to Help You!"
      description="Welcome to our finance page, where we offer flexible finance packages for stairlifts, powerchairs,
wheelchairs and other equipment that you will need to help you live independently. We understand
that mobility equipment can be a significant investment, which is why we offer low deposit and
monthly payment options that are tailored to suit your budget and needs."
      :seo="false"
    />

      <div class="lw_max-w-7xl lw_mx-auto lw_py-24 lw_px-5">
        <h2 class="lw_text-3xl lw_mb-3 lw_text-left">
          Mobility Scooter & Wheelchair Finance
        </h2>
        <p>
Our finance packages are designed to make it easier for you to get the mobility equipment you need
without breaking the bank. With our finance options, you can spread the cost of your purchase over
a period of time that works for you, making it more affordable and manageable. <br><br>

We offer a range of finance packages to suit different budgets and requirements. Whether you need
a stairlift, powerchair, or wheelchair, we have a finance option that can help you get the equipment
you need. Our team of finance experts will work with you to find the best package for your needs
and budget. <br><br>

Applying for finance is quick and easy. You can apply in-store, and we&#39;ll guide you through the
process every step of the way. We&#39;ll help you choose the right finance package and ensure that you
understand all the terms and conditions. <br><br>

At Solent Mobility Centre, we&#39;re committed to making mobility equipment more accessible and
affordable. With our finance packages, you can get the equipment you need without worrying about
the cost. Contact us today to learn more about our finance options and how we can help you get the
mobility equipment you need.
        </p>
      </div>


  </section>
</template>

<script>
import LazyProduct from "~/components/global/shop/LazyProduct.vue";
export default {
  components: { LazyProduct },
};
</script>

<style></style>
