<template>
  <section class="main">
    <client-only>
      <LazySlider />
    </client-only>

    <div class="categories lw_max-w-7xl lw_mx-auto lw_my-12">
      <h2>Shop by Categories</h2>

      <!-- Categories Blocks  -->
      <div
        class="lw_flex lw_flex-row lw_flex-wrap lw_gap-1 md:lw_gap-5 lw_mt-10 lw_justify-between xl:lw_px-0 lw_px-3"
      >
        <lazy-categories
          v-for="(categories, categoriesKey) in categoryList.data"
          :key="categoriesKey"
          :title="categories.title"
          :handle="`/${categories.handle}`"
          :image="categories.image"
          :price="categories.products"
        />
      </div>
    </div>

    <!-- <div class="brands lw_max-w-6xl lw_hidden md:lw_block lw_mx-auto lw_mb-16 xl:lw_px-0 lw_px-3">
      <h2 class="lw_text-center lw_font-medium lw_text-3xl">Shop by Brands</h2>

      <div
        class="brand lw_flex lw_flex-row lw_gap-5 lw_justify-between lw_mt-10"
      >
        <lazy-brands />
        <lazy-brands />
        <lazy-brands />
        <lazy-brands />
        <lazy-brands />
        <lazy-brands />
      </div>
    </div> -->

    <div
      class="best-sellers lw_bg-white lw_border lw_py-10 lw_relative lw_overflow-hidden xl:lw_px-0 lw_px-3"
    >
      <!-- <img class="cropped-img lw_z-0" src="https://cdn.shopify.com/s/files/1/2178/1121/products/product-image-lifestyle-journey-3.jpg?v=1611750876"> -->
      <div class="lw_max-w-7xl lw_mx-auto lw_relative lw_z-10">
        <h2>Best Sellers</h2>

        <div
          class="lw_flex lw_flex-row lw_gap-5 lw_mt-10 lw_justify-between lw_flex-wrap md:lw_flex-nowrap"
        >
          <lazy-featured
            title="Alumina Pro"
            price="£2,200"
            handle="/mobility-scooters/aluminium-mobility-scooters/alumina-pro"
            image="https://solent-shopify.imgix.net/Motion-Scooter-011-scaled-1_4972304c-f3c3-46db-8a50-4946565e4077.jpg?v=1662652166?auto=format,compress&w=960&h=700&fit=clamp"
          />
          <lazy-featured
            title="Apex Rapid"
            price="£1,100"
            handle="/mobility-scooters/travel-mobility-scooters/apex-rapid"
            image="https://solent-shopify.imgix.net/Apex-Rapid-red-e1641566085626-1024x1130.jpg?v=1660133183?auto=format,compress&w=960&h=700&fit=clamp"
          />
          <lazy-featured
            title="I Go+"
            price="£2,200"
            handle="/powerchairs/travel-powerchairs/i-go"
            image="https://solent-shopify.imgix.net/igo.jpg?v=1663070189?auto=format,compress&w=960&h=700&fit=clamp"
          />
          <lazy-featured
            title="Ergo Lite 2 Transit Transit Wheelchairs"
            price="From £495"
            handle="/wheelchairs/transit-wheelchairs/ergo-lite-2-transit"
            image="https://solent-shopify.imgix.net/KM-2501-Ergo-lite-14-grey_a716f315-ea31-4f64-bea6-1970e66dc8c8.jpg?v=1662652238?auto=format,compress&w=960&h=700&fit=clamp"
          />
        </div>
      </div>
    </div>

    <div
      class="testimonials lw_py-10 lw_relative lw_overflow-hidden xl:lw_px-0 lw_px-3"
    >
      <!-- <img class="cropped-img lw_z-0" src="https://cdn.shopify.com/s/files/1/2178/1121/products/product-image-lifestyle-journey-3.jpg?v=1611750876"> -->
      <div class="lw_max-w-6xl lw_mx-auto lw_relative lw_z-10">
        <h2>Our Testimonials</h2>

        <div class="lw_bg-white lw_border lw_mt-10">
          <div class="testimonial lw_p-5">
            <div
              class="elfsight-app-554d958c-72d9-4b28-a842-1b5314ecab98"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="special lw_hidden sm:lw_block lw_max-w-6xl lw_mx-auto xl:lw_px-0 lw_px-3"
    >
      <div
        class="specials lw_flex lw_flex-row lw_gap-5 lw_justify-between lw_mt-10"
      >
        <div class="lw_bg-white lw_border lw_p-5 lw_w-1/2">
          <div class="lw_flex lw_flex-row lw_items-center lw_gap-5">
            <font-awesome-icon
              class="!lw_h-16 !lw_w-16"
              :icon="['fas', 'square-check']"
            />
            <div class="content">
              <h5 class="lw_text-2xl lw_font-medium">Standard Membership</h5>
              <p>
                3 Months Free Standard Membership with every Mobility Scooter
                purchase
              </p>
            </div>
          </div>
        </div>
        <div class="lw_bg-white lw_border lw_p-5 lw_w-1/2">
          <div class="lw_flex lw_flex-row lw_items-center lw_gap-5">
            <font-awesome-icon
              class="!lw_h-16 !lw_w-16"
              :icon="['fas', 'square-check']"
            />
            <div class="content">
              <h5 class="lw_text-2xl lw_font-medium">FREE 1st Years Service</h5>
              <p>
                Free Service for the first year on every Mobility Scooter that
                is purchased
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about lw_bg-white lw_border lw_my-16">
      <div
        class="lw_max-w-7xl lw_mx-auto lw_px-5 lw_py-16 lw_flex lw_flex-col lw_gap-10"
      >
        <h1 class="lw_text-left">
          Mobility Scooters & Equipment by Solent Mobility Centre in Hampshire
        </h1>
        <p class="lw_text-justify columns-2">
          Have you been looking for mobility aids and/or mobility equipment
          within Hampshire, Sussex, Dorset and Wiltshire area? Then we can help.
          Come and see us at our mobility showroom, one of the largest on the
          South Coast where we have a vast selection of mobility aids from
          stairlifts, furniture and beds to mobility scooters, wheelchairs and
          daily living aids including Tena products. We also have a range of
          equipment to hire if you are planning a holiday or having a relative
          to stay and do not have the room or want the inconvenience of
          transporting your own items. Here at Solent Mobility we provide a
          first class service to each and every one of our valued customers, and
          all in the most professional and friendly manner possible. Whatever
          you require with regards to mobility equipment or products, make sure
          we are your first port of call! Solent Mobility was awarded the
          ‘Customer Service award’ and ‘Retailer of the year’ in the Portsmouth
          news business awards 2018.
        </p>
        <div class="lw_flex">
          <nuxt-link class="lw_bg-primary lw_p-3 lw_text-white" to="/about-us"
            >Read More
          </nuxt-link>
        </div>
      </div>
    </div>

    <div class="info lw_max-w-7xl lw_mx-auto xl:lw_px-0 lw_px-3">
      <div class="lw_flex lw_flex-col md:lw_flex-row lw_gap-10">
        <div class="faq lw_w-full md:lw_w-1/2">
          <h3>FAQs</h3>

          <div class="lw_pt-5">
            <lazy-faq title="How can I pay for my order?"
              >We accept all major credit cards, and use Shopify as our payment
              gateway! If you would like to pay monthly, please contact
              us.</lazy-faq
            >
            <lazy-faq title="Do you ship all over the UK?"
              >Currently we only allow local delivery, within approximately a
              50mile radius from our Shop.</lazy-faq
            >
            <lazy-faq title="Can I hire a scooter?"
              >Yes of course! We have a hire website, that you can find in the
              menu.</lazy-faq
            >
            <lazy-faq title="Is your mobility shop open?"
              >We are open Monday - Friday (9am - 5pm) <br />
              Saturday (9am - 3pm)</lazy-faq
            >
            <lazy-faq title="Can Mobility Scooters go up hill?"
              >Yes, Mobility Scooters can go up hills.</lazy-faq
            >
          </div>
        </div>
        <div class="blogs lw_w-full md:lw_w-1/2">
          <h3>Latest News</h3>

          <div class="lw_flex lw_mt-7 lw_flex-row lw_gap-2">
            <div class="lw_basis-[50%]">
              <lazy-featured
                title="Dance Classes For Wheelchair Users"
                handle="/blog/dance-classes-for-wheelchair-users"
                image="https://cdn.shopify.com/s/files/1/0577/0585/7162/articles/Liberate_1_113471.jpg?v=1683797895"
              />
            </div>
            <div class="lw_basis-[50%]">
              <lazy-featured
                title="4 Reasons Why You Should Service Your Scooter"
                handle="/blog/national-thrombosis-week"
                image="https://cdn.shopify.com/s/files/1/0577/0585/7162/articles/Thrombosis_Week_Solent_Mobility_Centre_Post_80.png?v=1683033838"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import LazyBlogs from "../components/global/LazyBlogs.vue";
import LazyBrands from "../components/global/LazyBrands.vue";
import LazyCategories from "../components/global/LazyCategories.vue";
import LazyFaq from "../components/global/LazyFaq.vue";
import LazyFeatured from "../components/global/LazyFeatured.vue";
import LazySpecial from "../components/global/LazySpecial.vue";

import { collectionPreview } from "~/gql/queries/Shopify.gql";

import { mapState } from "vuex";

export default {
  components: {
    LazyCategories,
    LazyFeatured,
    LazyBrands,
    LazySpecial,
    LazyFaq,
    LazyBlogs,
  },
  name: "IndexPage",
  data() {
    return {
      collection: [],
    };
  },
  head() {
    return {
      script: [
        {
          src: "https://apps.elfsight.com/p/platform.js",
          defer: true,
          body: true,
        },
      ],
    };
  },
  methods: {
    imageFix(url) {
      let i = url.split("/");
      return i.pop();
    },
  },
  computed: {
    ...mapState(["categoryList"]),
  },
  async mounted() {
    await this.$store.dispatch("GET_COLLECTIONS");
  },
};
</script>

<style>
html {
  scroll-behavior: smooth;
}
h2,
h3,
h1 {
  @apply lw_text-center lw_text-4xl lw_font-medium;
}
.cropped-img {
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(42% 0, 100% 0, 100% 100%, 0% 100%);
  height: 100%;
  opacity: 0.5;
}
.testimonial-person {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 44%, 0% 0%);
}
.Main__Container-sc-1n4ud0o-0 > a {
  display: none !important;
}
.slider {
  background: url(https://solent-mobility.imgix.net/littleweb/pattern-fade.png?auto=format,compress&w=600&h=400),
    linear-gradient(272deg, #1a2d6d, #1a2d6d);
  background-repeat: repeat-x;
}

.slider-orange {
  background: url(https://solent-mobility.imgix.net/littleweb/pattern-fade.png?auto=format,compress&w=600&h=400),
    linear-gradient(272deg, #e95711, #e95711);
  background-repeat: repeat-x;
}

.slider-xmas {
  background: url(https://solent-mobility.imgix.net/littleweb/pattern-fade.png?auto=format,compress&w=600&h=400),
    linear-gradient(272deg, #e61326, #e61326);
  background-repeat: repeat-x;
}

@media screen and (max-width: 768px) {
  .header-img {
    grid-column: 1;
    grid-row: 1;
  }
  .columns-2 {
    columns: 1 !important;
  }
}
.columns-2 {
  columns: 2;
}
</style>
