<template>
  <div>
    <LazyPageHeader :seo="false" title="Mobility Hire" description="Mobility hire is a great option for those who need to temporarily or permanently replace a wheelchair, scooter or other mobility device. Mobility hire companies offer a wide range of equipment to choose from, and often have flexible hire periods to best suit your needs." />

    <rentle-store shop="solentmobilityhire" />
  </div>
</template>

<script>
export default {
  head() {
    return {
      script: [
        {
          src: "https://cdn.rentle.io/embed/bundle.js"
        }
      ]
    }
  }
}
</script>

<style>

</style>