<template>
  <div>
    <LazyPageHeader :seo="false" title="Our Pricing" />
    <div class="lw_bg-white lw_px-5 lw_py-14">
      <p class="lw_max-w-7xl lw_mx-auto">
        Our team at Solent Mobility Centre is here to help you make informed
        decisions! We call this journey the 'They Ask, You Answer', and we'll
        ensure all your questions on ‘The Big 5’: <strong>
            Cost, Price, Comparison &
            Reviews , ‘Best Of’
        </strong> and of course <strong>Problem</strong> categories are addressed. Rest
        assured that any issues or problems you may face will be taken care of
        as well. Join us in our quest in becoming the number 1 trusted advisors
        in the mobility world – ask away!
        <br /><br />
        Uncovering the truth for our customers is our top priority. We believe
        in delivering honest and impartial information, because that's how we
        help you get the best experience possible! Our website is just starting
        out - but rest assured if there’s anything else you need to know, or any
        questions unanswered on-site already – then let us know and we'll be
        more than happy to answer them.<br /><br />
        Our team of experts have committed to providing our customers with all
        the knowledge necessary for making informed buying decisions. We
        understand that shopping experiences can be daunting, so we dedicated an
        entire department towards creating a comfortable and helpful environment
        from the first moment you walk in!<br /><br />
        It’s our belief that the buyers journey is the most important indicator
        of our success and we are passionate about providing a better quality of
        life for you and those that you care for.
      </p>
    </div>


    <div class="lw_max-w-7xl lw_py-14 lw_mx-auto">
      <h2>Delivery & Assembly</h2>
      <p class="lw_mt-10 lw_max-w-7xl lw_mx-auto">
Here at Solent Mobility Centre we believe that the customers experience should not end when the product is purchased. The delivery of each and every product is a very important process of the buying experience.<br /><br />
This in mind, we do not charge delivery on all products that would require an engineer to set up and demonstrate the product. This is in a 50 mile radius of our head office in Lee-on-the-Solent.<br /><br />
The products will be delivered and shown to you with trained staff that will take the time and care to make sure that you have confidence in your product before they leave. They will also remove any packaging and recycle all waste.

      </p>
    </div>

    <div class="lw_bg-white lw_px-5 lw_py-14">
              <h2>Aftercare</h2>
      <p class="lw_mt-10 lw_max-w-7xl lw_mx-auto">
        We're committed to you not just before, but also after your purchase. Our dedication to upholding our values and principles shows in the way we continue taking care of both you and your product long after delivery.<br /><br />
At Solent Mobility, we know you want to make the most of your product. That's why our team is here – to provide personalized advice and guidance tailored just for you! No question too big or small; it’s all about helping YOU out on this journey.<br /><br />
We'll handle all the legwork for you! When it comes to repairs, parts or anything else related - we have your back. We can flawlessly manage and order what's necessary so that all of your needs are taken care of quickly and easily. We will deal with the manufacturers, so you don’t have to spend hours on hold.<br /><br />
We understand the importance of staying informed. That's why we strive to keep you in-the-know on all your orders! We're here every step of the way so that nothing is ever left up to chance.<br /><br />
We understand how easy it can be to forget about routine service appointments. That’s why we provide personalised reminders for servicing your product, so you don't miss any important maintenance schedules! Just give us a call and book an appointment—we make sure the process is fast and convenient!<br /><br />
Not able to bring the products you need serviced to us? Don't worry! We can come and collect them, take care of all your needs and then return them when we're finished.
Looking for an extra boost of confidence? Our membership is the perfect way to give yourself a peace-of-mind guarantee - it can be added whenever you need!
We're here to help whenever you need it - just give us a call and one of our friendly staff members will be more than happy to assist with any questions or queries.

      </p>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
