<template>
  <section>
    <LazyPageHeader :seo="false" title="Privacy Policy" />
    <div class="lw_max-w-7xl lw_mx-auto lw_py-10">
        <h2>Privacy Policy</h2>
        <p>
          This privacy policy sets out how Solent Mobility Centre uses and protects
          any information that you give Solent Mobility Centre&nbsp;when you use
          this website.
        </p>
        <p>
          Solent Mobility Centre is committed to ensuring that your privacy is
          protected. Should we ask you to provide certain information by which you
          can be identified when using this website, then you can be assured that it
          will only be used in accordance with this privacy statement.
        </p>
        <p>
          Solent Mobility Centre may change this policy from time to time by
          updating this page. You should check this page regularly to ensure that
          you are happy with any changes. This policy is effective from 25/05/18 and
          includes the new requirements of the GDPR.
        </p>
        <p>&nbsp;</p>
        <h2>What we collect</h2>
        <p>
          The personal information we collect might include your name, address,
          postcode, phone numbers, email address, IP address, and information
          regarding what pages are accessed and when. We will not collect, store or
          process data that is labelled as sensitive under GDPR.
        </p>
        <p>&nbsp;</p>
        <h2>What we do with the information we gather</h2>
        <p>
          We require this information to understand your needs and provide you with
          a better service, and in particular for the following reasons:
        </p>
        <ul>
          <li>Internal record keeping.</li>
          <li>We may use the information to improve our products and services.</li>
          <li>
            We may periodically send promotional emails about new products, special
            offers or other information which we think you may find interesting
            using the email address which you have provided.
          </li>
          <li>
            From time to time, we may also use your information to contact you for
            market research purposes. We may contact you by email, phone, fax or
            mail. We may use the information to customise the website according to
            your interests.
          </li>
        </ul>
        <h2>Security</h2>
        <p>
          We are committed to ensuring that your information is secure. In order to
          prevent unauthorised access or disclosure, we have put in place suitable
          physical, electronic and managerial procedures to safeguard and secure the
          information we collect on-line.
        </p>
        <p>&nbsp;</p>
        <h2>Transfer of personal data outside of the EU</h2>
        <p>
          There may be occasions where data may be transferred outside of the EU for
          storage or processing (e.g. bulk email providers). Where necessary, we
          will take steps to ensure that there are adequate safeguards in place to
          protect your personal data.
        </p>
        <p>&nbsp;</p>
        <h2>How we use cookies</h2>
        <p>
          A cookie is a small file which is placed on your computer’s hard drive
          which helps analyse web traffic or lets you know when you visit a
          particular site. Cookies allow web applications to respond to you as an
          individual enabling it to tailor its operations to your needs, likes and
          dislikes by gathering and remembering information about your preferences.
          For more information and a guide to deleting and controlling cookies,
          please refer to aboutcookies.org, provided by international law firm
          Pinsent Masons.
        </p>
        <p>
          We use traffic log cookies to identify which pages are being used. This
          helps us analyse data about web page traffic and helps us to identify ways
          to improve our website in order to tailor it better to our customer needs.
          We only use this information for statistical analysis purposes.
        </p>
        <p>
          Overall, cookies help us provide you with a better and more usable
          website, by enabling us to monitor which pages you find useful and which
          you do not. A cookie in no way gives us access to your computer or any
          information about you, other than the data you choose to share with us.
        </p>
        <p>
          You can choose to accept or decline cookies. Most web browsers
          automatically accept cookies, but you can usually modify your browser
          setting to decline cookies if you prefer. This may however limit some
          functionality and prevent you from taking full advantage of the website.
          For details on how to do this, please refer to aboutcookies.org, provided
          by international law firm Pinsent Masons.
        </p>
        <p>
          We use Google Analytics to collect data on how our users are using our
          website and their demographics (age, gender) and interests which enables
          us to evaluate how our users’ behaviour varies by demographics and
          interests in order that we can improve our website content, marketing and
          services for our clients. The information generated by the cookies about
          your use of our website (including your IP address) will be transmitted to
          and stored by Google on servers in the United States. Google may also
          transfer this information to third parties where required to do so by law,
          or where such third parties process the information on Google’s behalf.
          Google undertakes not to associate your IP address with any other data
          held by Google.
        </p>
        <p>
          The Google Analytics features we implement may be based on Display
          Advertising (e.g. Remarketing, Google Display Network Impression
          Reporting, the DoubleClick Campaign Manager integration, or Google
          Analytics Demographics and Interest Reporting).
        </p>
        <p>
          Users can opt-out of Google Analytics for Display Advertising and
          customize Google Display Network ads using the Ads Settings. If you prefer
          that Google Analytics does not collect any data from you when you visit a
          website that has it incorporated, information for opting out can be found
          on Google Analytics’ currently available opt-outs for the web.
        </p>
        <p>
          You may request details of personal information which we hold about you
          under the GDPR (previously the Data Protection Act 1998). If you would
          like a copy of the information held on you please email us at
          <a href="mailto:cs@solent-ltd.co.uk">cs@solent-ltd.co.uk</a>
        </p>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style scoped>
h2 {
    @apply !lw_text-left !lw_mb-3;
}
</style>
