<template>
  <section>
    <LazyPageHeader :seo="false" title="Special Offer for Mobility Scooters" />
    <div class="lw_bg-white lw_px-5 lw_py-14">
      <p class="lw_max-w-7xl lw_mx-auto">
        Solent Mobility Centre had been looking for ways to provide their
        customers with the best service and support they could offer. The team
        had come up with a great idea – a scooter care package that would help
        ensure that those who bought mobility scooters from them were looked
        after long after the purchase was made. <br /><br />

        The package included a 12-month membership, giving customers peace of
        mind that Solent Mobility Centre would be there to help if ever they
        needed assistance in regards to their scooter. It also provided an
        eight-point safety check every winter so that when summer arrived, the
        scooter was always in top condition, ready for use. To keep it safe all
        year round, the package also included both a tiller cover and storage
        cover; two must-haves for any serious mobility enthusiast! <br /><br />

        All in all, Solent Mobility Centre wanted to make sure their customers
        felt secure and taken care of not just at point of purchase but beyond
        too. After months of hard work developing this new concept, it was
        finally revealed - much to everyone's delight. Customers instantly
        appreciated what was on offer - knowing someone was watching out for
        them during each step of their journey gave them greater confidence and
        security as they travelled about town on their trusty scooter.
        <br /><br />

        With such an amazing sense of service being offered by Solent Mobility
        Centre, no wonder its many happy customers keep coming back time and
        time again.
      </p>
    </div>

    <div class="cta-ms-offer lw_flex lw_justify-center lw_my-10">
      <nuxt-img
        provider="static"
        src="https://solent-mobility.imgix.net/littleweb/Light+Brown+and+Beige+Elegant+Call+To+Action+LinkedIn+Banner.jpg"
        width="1200"
        height="300"
        :modifiers="{ auto: 'format,compress' }"
      />
    </div>

    <div class="lw_max-w-7xl lw_mx-auto">
      <h2>Standard Benefits</h2>

      <div
        class="lw_flex lw_flex-row lw_gap-5 lw_flex-wrap lw_justify-center lw_py-10"
      >
        <div
          class="lw_bg-white lw_basis-[100%] sm:lw_basis-[45%] lw_flex-grow md:lw_basis-[30%] lw_rounded-md lw_border lw_overflow-hidden"
        >
          <nuxt-img
            provider="static"
            src="https://solent-mobility.imgix.net/littleweb/membership.jpg"
            width="400"
            height="150"
            :modifiers="{ auto: 'format,compress' }"
          />
          <div class="lw_p-5">
            <h3 class="lw_text-2xl lw_text-center">12 Month membership</h3>
            <p class="lw_text-center">
              Solent Mobility’s membership scheme is a service that is provided
              to make sure you have peace of mind after a purchase even when the
              store is closed.
            </p>
          </div>
        </div>
        <div
          class="lw_bg-white lw_basis-[100%] sm:lw_basis-[45%] lw_flex-grow md:lw_basis-[30%] lw_rounded-md lw_border lw_overflow-hidden"
        >
          <nuxt-img
            provider="static"
            src="https://solent-mobility.imgix.net/littleweb/Scooter+repair.png"
            width="400"
            height="150"
            :modifiers="{ auto: 'format,compress' }"
          />
          <div class="lw_p-5">
            <h3 class="lw_text-2xl lw_text-center">8 Point Safety Check</h3>
            <p class="lw_text-center">
              The 8 point safety check included with all new mobility scooters
              is there to make sure your scooter is ready for the summer ahead.
            </p>
          </div>
        </div>
        <div
          class="lw_bg-white lw_basis-[45%] lw_flex-grow md:lw_basis-[30%] lw_rounded-md lw_border lw_overflow-hidden"
        >
          <nuxt-img
            provider="static"
            src="https://solent-mobility.imgix.net/littleweb/Scooter+Control+Panel+Cover.jpg"
            width="400"
            height="150"
            :modifiers="{ auto: 'format,compress' }"
          />
          <div class="lw_p-5">
            <h3 class="lw_text-2xl lw_text-center">Tiller & Storage Cover</h3>
            <p class="lw_text-center">
              We include a tiller cover and storage cover to make sure that your
              scooter is kept in the best possible condition even if you are not
              using it.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="lw_bg-white lw_px-5 lw_py-14">
      <h2 class="lw_max-w-7xl lw_mx-auto lw_text-left">What the offer is</h2>
      <ul class="lw_max-w-7xl lw_mx-auto lw_py-5 lw_columns-2 lw_list-disc">
        <li>
          A mobility scooter care package with all new mobility scooters<br />
          purchased from Solent Mobility Centre.
        </li>
        <li>12 months Premium membership included.</li>
        <li>A service at the end of the 12 months included.</li>
        <li>A tiller cover.</li>
        <li>A storage cover.</li>
        <li>Engineered delivery free of charge</li>
        <li>Beginning of summer 8 point safety check.</li>
        <li>
          £442.36 worth of products all included FREE with all NEW mobility
          scooter purchases.
        </li>
      </ul>
    </div>

    <div class="lw_max-w-7xl lw_mx-auto lw_py-14">
      <h2>Membership Includes</h2>
      <div
        class="lw_flex lw_flex-row lw_gap-5 lw_flex-wrap lw_justify-center lw_py-10 lw_px-5"
      >
        <div
          class="lw_bg-white lw_max-w-[500px] lw_w-full lw_rounded-md lw_border lw_overflow-hidden"
        >      <nuxt-img
        provider="static"
        src="https://solent-mobility.imgix.net/littleweb/membership.jpg"
        width="500"
        height="250"
        :modifiers="{ auto: 'format,compress' }"
      />
          <h3 class="lw_text-2xl lw_text-center lw_mt-5">Standard Membership</h3>

          <div class="lw_p-5 lw_flex lw_flex-col lw_gap-2">
            <div class="lw_flex lw_flex-row lw_gap-2">
              <font-awesome-icon
                class="lw_h-4 lw_w-4 lw_text-yellow-400 lw_mr-2"
                :icon="['fas', 'star']"
              />
              <p class="lw_w-[90%]">
                Service 12 months after purchase (can only be used up to 1 month
                after the 12 months is finished)
              </p>
            </div>
            <div class="lw_flex lw_flex-row lw_gap-2">
              <font-awesome-icon
                class="lw_h-4 lw_w-4 lw_text-yellow-400 lw_mr-2"
                :icon="['fas', 'star']"
              />
              <p class="lw_w-[90%]">  
                Unlimited call outs (if more than 3 call outs for the same issue
                in the same 12 months then a call out will be charged at the
                correct rate)
              </p>
            </div>
            <div class="lw_flex lw_flex-row lw_gap-2">
              <font-awesome-icon
                class="lw_h-4 lw_w-4 lw_text-yellow-400 lw_mr-2"
                :icon="['fas', 'star']"
              />
              <p class="lw_w-[90%]">Out of hours call outs</p>
            </div>
            <div class="lw_flex lw_flex-row lw_gap-2">
              <font-awesome-icon
                class="lw_h-4 lw_w-4 lw_text-yellow-400 lw_mr-2"
                :icon="['fas', 'star']"
              />
              <p class="lw_w-[90%]">
                If your equipment is required to stay with us for an extended
                period of time (more than 1 week) for repair, we will offer you
                a loan product (subject to availability) matching as close as we
                can included in the membership
              </p>
            </div>
            <div class="lw_flex lw_flex-row lw_gap-2">
              <font-awesome-icon
                class="lw_h-4 lw_w-4 lw_text-yellow-400 lw_mr-2"
                :icon="['fas', 'star']"
              />
              <p class="lw_w-[90%]">Up to 5 years warranty on parts</p>
            </div>
            <div class="lw_flex lw_flex-row lw_gap-2">
              <font-awesome-icon
                class="lw_h-4 lw_w-4 lw_text-yellow-400 lw_mr-2"
                :icon="['fas', 'star']"
              />
              <p class="lw_w-[90%]">Labour will still be charged at the standard rates</p>
            </div>
          </div>
          <nuxt-link to="/contact" class="lw_p-4 lw_block lw_bg-primary lw_transition hover:lw_bg-secondary lw_uppercase lw_text-center lw_font-medium lw_text-white lw_w-full">Contact Us</nuxt-link>

        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style></style>
