<template>
  <section>
    <LazyPageHeader :seo="false" title="Terms & Conditions" />
    <div class="lw_max-w-7xl lw_mx-auto lw_py-10">
        <h2>Cancellations &amp; Amendments</h2>
        <p>
Please note that where goods are personalised, customised, special order or made to order, you
(the buyer) have a right to cancel the order only until we or our supplier begin work on the order.
Since work may begin immediately, it is important that you are happy with the details of your order
from the outset. These products can only be returned if found to be faulty.
        </p>
        <p>
As soon as you realise that you need to change your order please contact our team on 02392
009999 and one of our advisors will help you. You will be asked to confirm the change or
cancellation in writing. If you amend or change your order, you may find there are changes to your
delivery timescale and/or the price you pay for the item(s) (as you’ll be charged the current selling
price on the day you amend or cancel the order). You have a legal right to cancel your order within
7 days.
Any change or cancellation of furniture orders on our 48 hour delivery service can only be made on
the day of placing your order.
        </p><br>
        <h2>Non-Returnable Products</h2>
        <p>
For reasons of hygiene and cross infection, our returns policy does not extend to the following
products: bed, mattresses, toppers and pillows, incontinence products, all hygiene products such as
urinals, commodes and bed pans, compression stockings/tights, bathlifts or similar items cannot be
returned.
        </p>
        <p>
          Special order, spare parts and “prescriptive” products such as wheelchairs, made to measure
products or products with extras built in cannot be returned unless faulty.
        </p>
        <p>
Extra wide bariatric products marked special order or made to measure can only be returned if
faulty.
        </p>
        <p>Products which are made to meet your order are strictly non-cancellable, non-returnable and non-
refundable. In the event of a defect your statutory rights are not affected, when the item may need
to be returned for replacement or repair only.</p><br>
        <h2>Delivery arrangements</h2>
        <p>
We will aim to deliver the goods by the date quoted for delivery but delivery times are not
guaranteed. If delivery is delayed due to any cause beyond our reasonable control, the delivery
date will be extended by a reasonable period and we will contact you to arrange an alternative
time.
        </p>
        <p>
When your order is ready, we will contact you to arrange delivery if you are unable to accept the
delivery offered or you wish us to hold your order for a period of time, we can provide a storage
service at a cost of £25 per week.
        </p>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style scoped>
h2 {
    @apply !lw_text-left !lw_mb-3;
}
</style>
