<template>
  <section>
    <LazyPageHeader
      title="Home Glide Standard"
      description="HomeGlide is your answer for any straight staircase! Crafted with utmost comfort and affordability
in mind, this lift makes the installation process a breeze - without requiring long-term renovations or
modifications. With quick setup times and minimal disruption to your home interior, you&#39;ll be at
ease knowing that independence can still thrive within it.
Experience the supreme comfort of HomeGlide: its generously padded seat and fire retardant, liquid
repellent upholstery provide a durable foundation for support. Finished in modern neutral grey hue,
this lift effortlessly blends into any décor while being simple to operate with an easy-to-use joystick.
Cleaning is also made easier as stain removal becomes effortless.
Our HomeGlide&#39;s unbeatable safety features guarantee you peace of mind and security. Enjoy your
journey up or down the stairs with a retractable, easily accessible seatbelt to keep you secure on the
stairlift! Plus, thanks to special safety edges located on both drive unit and footrest parts - any
obstacles will be detected in due time causing it stop safely before contact is made. With battery-
powered operation too - should there ever arise a power cut issue - fear not: our lift has got that
covered for you! And if just wanting an added extra bit of protection? The optional integrated call
device feature allows connection direct through here by programming 3 telephone numbers so
family members can always stay informed throughout each ride.
HomeGlide is the perfect solution to your home mobility needs. With its timeless design, rounded
shapes and remote control operation you can easily arrive at either top or bottom of stairs with
ease! And if not in use? Simply fold it away – just 15 inches wide - so it won&#39;t obstruct other users&#39;
passage on any landing. Enjoy convenience without sacrificing style- that&#39;s what makes HomeGlide a
hassle-free must have for every household."
      :seo="false"
    />

    <h2 class="lw_text-center lw_text-3xl lw_font-medium lw_my-10">
      Home Glide Standard
    </h2>

    <div
      class="lw_max-w-7xl lw_mx-auto lw_flex lw_flex-row lw_gap-5 lw_content-start"
    >
      <div class="lw_bg-white lw_rounded-md lw_border lw_basis-[30%]">
        <div class="lw_p-5">
          <h3 class="lw_text-left lw_text-xl lw_font-medium lw_mb-3">
            Base Price - £1900
          </h3>
          <p>
            Chair and Drive Grey upholstery - fire-retardant and
            liquid-repellent fabric. Rail 2 x 2500 mm Aluminium rail sections,
            pre-assembled. Controls Joystick on armrest, 2x infra-red call and
            send stations.
          </p><br>
          <p>
            <strong>Warranty</strong>: Lifetime - Parts Only.<br />
            <span class="lw_ml-5"> Call outs and Labour – 2 years</span><br />
            <span class="lw_ml-5">Batteries – 1 Year </span><br />
            <strong>Transportation</strong>: FOC for UK (Mainland) addresses
            with in 50 mile radius of head office.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<style scoped>
strong {
  font-weight: 500;
  @apply lw_text-primary;
  margin-bottom: 2px;
}
</style>
