<template>
  <section>
    <LazyPageHeader
      title="Straight Stairlifts for Sale"
      description="Considering a curved stairlift? Take a look at our top 10 factors to consider before making a
purchase. Our advice from industry experts ensures you make a smart decision that suits both your
requirements and budget."
      :seo="false"
    />

    <div
      class="lw_flex lw_flex-row lw_flex-wrap lw_max-w-7xl lw_my-24 lw_px-5 lw_mx-auto"
    >
      <div
        class="products lw_mt-10 md:lw_mt-0 lw_basis-[100%] md:lw_basis-[100%]"
      >
        <h3 class="lw_text-center lw_text-3xl lw_font-medium lw_mb-10">
          Our Straight Stairlifts
        </h3>
        <div
          class="lw_flex lw_flex-col !lw_pt-0 lw_w-full lw_content-start lw_flex-wrap lw_gap-5"
        >
          <div
            class="lw_flex-shrink lw_flex-grow-0 lw_basis-full md:lw_basis-full lw_w-full"
          >
            <div
              class="lw_bg-white lw_h-full lw_border lw_flex lw_items-center lw_flex-row lw_rounded lw_relative lw_overflow-hidden"
            >
              <img
                class="lw_object-cover lw_h-[400px] lw_object-left lw_w-[30%]"
                src="https://www.accessbdd.com/wp-content/uploads/2022/06/Wide_Front_Read-To-Travel-scaled-e1657012252253-1760x1100.jpg.webp"
                alt=""
              />
              <div class="lw_items-center lw_p-5">
                <h2 class="lw_text-2xl lw_font-medium lw_mb-1 lw_text-left">Home Glide Standard</h2>
                <p>
HomeGlide is your answer for any straight staircase! Crafted with utmost comfort and affordability
in mind, this lift makes the installation process a breeze - without requiring long-term renovations or
modifications. With quick setup times and minimal disruption to your home interior, you&#39;ll be at
ease knowing that independence can still thrive within it. <br> <br>
Experience the supreme comfort of HomeGlide: its generously padded seat and fire retardant, liquid
repellent upholstery provide a durable foundation for support. Finished in modern neutral grey hue,
this lift effortlessly blends into any décor while being simple to operate with an easy-to-use joystick.
Cleaning is also made easier as stain removal becomes effortless.                </p>
                <div class="">
                  <nuxt-link
                    to="/stairlifts/straight-stairlifts/home-glide-standard"
                    class="lw_mt-5 lw_inline-block hover:lw_cursor-pointer lw_p-3 lw_bg-primary lw_text-white lw_rounded"
                    >View Home Glide Standard Prices</nuxt-link
                  >
                  <a
                    class="lw_mt-5 lw_inline-block hover:lw_cursor-pointer lw_p-3 lw_bg-secondary lw_text-white lw_rounded"
                    @click="openForm('Home Glide Standard')"
                    >Enquire Now</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            class="lw_flex-shrink lw_flex-grow-0 lw_basis-full md:lw_basis-full lw_w-full"
          >
            <div
              class="lw_bg-white lw_h-full lw_border lw_flex lw_items-center lw_flex-row lw_rounded lw_relative lw_overflow-hidden"
            >
              <img
                class="lw_object-cover lw_h-[300px] lw_object-left lw_w-[30%] lw_flex-none"
                src="https://dolphinlifts.co.uk/wp-content/uploads/2017/11/Thyssen-HomeGlide-Straight-Stairlift-Downstairs.jpg"
                alt=""
              />
              <div class="lw_items-center lw_p-5">
                <h2 class="lw_text-2xl lw_font-medium lw_mb-1 lw_text-left">Home Glide Extra</h2>
                <p>
Upgrade your stair experience with HomeGlide Extra. This package offers a fusion of style and
functionality, allowing you to glide up the stairs in true comfort. With additional features from the
standard offering, it&#39;s time for an upgrade that ensures effortless travel on any straight staircase.                <div class="">
                  <nuxt-link
                    to="/stairlifts/straight-stairlifts/home-glide-extra"
                    class="lw_mt-5 lw_inline-block hover:lw_cursor-pointer lw_p-3 lw_bg-primary lw_text-white lw_rounded"
                    >View Home Glide Extra Prices</nuxt-link
                  >
                  <a
                    class="lw_mt-5 lw_inline-block hover:lw_cursor-pointer lw_p-3 lw_bg-secondary lw_text-white lw_rounded"
                    @click="openForm('Home Glide Extra')"
                    >Enquire Now</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lw_bg-white">
      <div class="lw_max-w-7xl lw_mx-auto lw_py-24 lw_px-5">
        <h2 class="lw_text-3xl lw_mb-3 lw_text-left">
          How we find the right stairlift for you?
        </h2>
        <p><strong>Initial Consultation</strong></p>
        <p>
          At Solent Mobility Centre, we begin our process with an in-home
          consultation to ensure that we understand your needs and address any
          concerns you may have about our stairlifts. We then conduct an
          assessment of your staircase to determine which of our stairlift
          models is best suited for your specific needs and configuration.
          Following our assessment, we will discuss our findings with you again
          to mutually agree on the best possible solution. Trust us to provide
          you with the best possible solution.
        </p>
        <br />
        <p><strong>Detailed Survey</strong></p>
        <p>
          At our company, we never pressure you into making a decision on the
          spot. If you choose to proceed with your purchase, we will schedule
          another visit to the property to conduct a thorough survey and take
          precise measurements of your entire staircase. Our engineer will
          manage the arrangements, and the process should take around one hour,
          depending on your staircase&#39;s layout.<br /><br />
          At this point in the process, we do require a deposit payment of up to
          50%, as our stairlifts are custom-made to meet your specific needs.
        </p>
        <br />
        <p><strong>Order</strong></p>
        <p>
          After receiving your stair survey, Solent Mobility will send your
          order to Otolift Stairlifts for processing. Otolift Stairlifts will
          create a rail design that meets your specifications and send it to us
          for approval before proceeding with the order. You can trust us to
          ensure your satisfaction at every step of the process.
        </p>
        <br />
        <p><strong>Agree Specification</strong></p>
        <p>
          Before moving your stairlift into production, we&#39;ll ensure that
          its rail design meets your specifications. If a deposit hasn&#39;t
          been paid yet, we&#39;ll request it here. Rest assured, Otolift
          Stairlifts will keep us informed about their progress during the
          manufacturing process, and provide expected delivery dates.
        </p>
        <br />
        <p><strong>Installation</strong></p>
        <p>
          Once we have established delivery dates, we will be in touch with the
          customer to arrange a suitable installation date. Solent Mobility will
          stand by to conduct a thorough product handover with you, the
          customer, to ensure you are fluent in operating the stairlift.<br /><br />
          Post handover, our in-house engineers will carry out annual chairlift
          servicing and maintenance.
        </p>
      </div>
    </div>
    <div
      v-show="form"
      class="form lw_bg-black lw_bg-opacity-50 lw_fixed lw_top-0 lw_left-0 lw_right-0 lw_bottom-0 lw_z-50"
    >
      <font-awesome-icon
        class="lw_fixed lw_top-3 lw_right-3 !lw_h-6 !lw_w-6 lw_text-white hover:lw_cursor-pointer"
        :icon="['fas', 'x']"
        @click="form = false"
      />
      <div class="lw_max-w-xl lw_flex lw_h-full lw_items-center lw_mx-auto">
        <div class="lw_bg-white lw_rounded lw_p-5 lw_w-full">
          <div class="_form_7"></div>
          <script
            src="https://solentmobility.activehosted.com/f/embed.php?id=7"
            type="text/javascript"
            charset="utf-8"
          ></script>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import LazyProduct from "~/components/global/shop/LazyProduct.vue";
export default {
  components: { LazyProduct },
  data() {
    return {
      form: false,
    };
  },
  methods: {
    openForm(product) {
      this.form = true;
      const productName = document.getElementsByName("field[1]")[0];
      productName.value = product;
    },
  },
};
</script>

<style></style>
