<template>
  <section>
    <LazyPageHeader
      title="Stairlifts for Sale"
      description="A stairlift is a great option for you, if you have difficulty with stairs. It is a motorised chair that travels
up and down the stairs, allowing you to stay in your home without having to move out or go through
the trouble of installing a through floor lift or a ramp. stairlifts are a great option for the elderly,
disabled, or anyone who has trouble navigating stairs."
      :seo="false"
    />

    <div
      class="lw_flex lw_flex-row lw_flex-wrap lw_max-w-7xl lw_my-24 lw_px-5 lw_mx-auto"
    >
      <div
        class="filter lw_basis-[100%] md:lw_basis-[25%] lw_relative md:lw_sticky lw_top-5 lw_h-full"
      >
        <h4 class="lw_text-lg lw_font-medium">Top Categories</h4>
        <div
          class="lw_flex lw_flex-wrap lw_flex-row md:lw_flex-col lw_gap-x-5 lw_mt-1 lw_mb-5"
        >
          <nuxt-link to="/transit-wheelchairs">Straight Stairlifts</nuxt-link>
          <nuxt-link to="/self-propelled-wheelchairs"
            >Curved Stairlifts</nuxt-link
          >
        </div>
        <h4 class="lw_text-lg lw_font-medium">Other Categories</h4>
        <div
          class="lw_flex lw_flex-wrap lw_flex-row md:lw_flex-col lw_gap-x-5 lw_mt-1 lw_mb-3"
        >
          <nuxt-link to="">Extras</nuxt-link>
          <nuxt-link to="">Power Swivel Stairlifts</nuxt-link>
          <nuxt-link to="">Straight Hinge Stairlifts</nuxt-link>
          <nuxt-link to="">Curved Reverse Travel Stairlifts</nuxt-link>
          <nuxt-link to="">Refurbished Stairlifts</nuxt-link>
          <nuxt-link to="">Hire</nuxt-link>
          <nuxt-link to="">Insurance</nuxt-link>
          <nuxt-link to="">Stairlift Insurance</nuxt-link>
          <nuxt-link to="">Extended Warranties</nuxt-link>
          <nuxt-link to="">Hoists</nuxt-link>
          <nuxt-link to="">Portable Hoists</nuxt-link>
          <nuxt-link to="">Ceiling Hoists</nuxt-link>
        </div>
      </div>
      <div
        class="products lw_mt-10 md:lw_mt-0 lw_basis-[100%] md:lw_basis-[75%]"
      >
        <h3 class="lw_text-center lw_text-3xl lw_font-medium lw_mb-10">
          Featured Stairlifts
        </h3>
        <div
          class="lw_flex lw_flex-col !lw_pt-0 lw_w-full lw_content-start lw_flex-wrap lw_gap-5"
        >
          <div
            class="lw_flex-shrink lw_flex-grow-0 lw_basis-full md:lw_basis-full lw_w-full"
          >
            <div
              class="lw_bg-white lw_h-full lw_border lw_flex lw_items-center lw_flex-col lg:lw_flex-row lw_rounded lw_relative hover:lw_cursor-pointer lw_overflow-hidden"
            >
              <img
                class="lw_object-cover lw_h-[300px] lw_w-full lg:lw_h-[500px] lg:lw_w-[30%]"
                src="https://www.accessbdd.com/wp-content/uploads/2020/09/Flow-X-comfort-1120x620.jpg"
                alt=""
              />
              <div class="lw_items-center lw_p-5">
                <h2 class="lw_text-2xl lw_text-left lw_font-medium lw_mb-1">
                  Curved Stairlifts For Sale!
                </h2>
                <p>
                  A curved stairlift is designed to help people with mobility
                  issues move up and down curved staircases. Unlike straight
                  stairlifts, which are designed to fit on straight staircases,
                  curved stairlifts are custom-made to fit the unique shape of a
                  curved staircase.<br /><br />
                  Curved stairlifts consist of a chair or platform that is
                  attached to a rail that runs along the staircase. The rail is
                  custom-made to fit the exact shape of the curved staircase,
                  ensuring a perfect fit and smooth ride. The user sits on the
                  chair or platform and is then lifted up or down the stairs by
                  the motorized Chair.<br /><br />
                  A curved stairlift is a highly specialized and customized
                  device that can provide people with increased mobility and
                  independence, allowing them to continue living in their own
                  homes comfortably and safely.
                </p>
                <div class="">
                  <nuxt-link
                    to="/stairlifts/curved-stairlifts"
                    class="lw_mt-5 lw_inline-block lw_p-3 lw_bg-primary lw_text-white lw_rounded"
                    >View Curved Stairlifts</nuxt-link
                  >
                  <nuxt-link
                    to="/contact"
                    class="lw_mt-5 lw_inline-block lw_p-3 lw_bg-secondary lw_text-white lw_rounded"
                    >Get Free Quote</nuxt-link
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            class="lw_flex-shrink lw_flex-grow-0 lw_basis-full md:lw_basis-full lw_w-full"
          >
            <div
              class="lw_bg-white lw_h-full lw_border lw_flex lw_items-center lw_flex-col lg:lw_flex-row lw_rounded lw_relative hover:lw_cursor-pointer lw_overflow-hidden"
            >
              <img
                class="lw_object-cover lw_h-[300px] lw_w-full lg:lw_h-[500px] lg:lw_w-[30%] lw_object-right"
                src="https://www.acornstairlifts.co.uk/assets/img/130/zoom/130-stairlift-seated.jpg"
                alt=""
              />
              <div class="lw_items-center lw_p-5">
                <h2 class="lw_text-2xl lw_text-left lw_font-medium lw_mb-1">
                  Straight Stairlifts For Sale!
                </h2>
                <p>
                  A straight stairlift is designed to help people with mobility
                  issues move up and down straight staircases. It consists of a
                  chair or platform that is attached to a rail that runs along
                  the staircase. The rail is installed on the stair treads and
                  not on the wall, ensuring that the device is stable and
                  secure.<br /><br />
                  The user sits on the chair or platform and is then lifted up
                  or down the stairs by the motorized device. The chair or
                  platform typically has a seatbelt or other safety features to
                  ensure that the user is secure during the ride.<br /><br />
                  Straight stairlifts are designed to fit on straight staircases
                  and are typically easy to install. They can be installed
                  quickly and with minimal disruption to the home. They are also
                  relatively affordable with different option available.
                </p>
                <div class="">
                  <nuxt-link
                    to="/stairlifts/straight-stairlifts"
                    class="lw_mt-5 lw_inline-block lw_p-3 lw_bg-primary lw_text-white lw_rounded"
                    >View Straight Stairlifts</nuxt-link
                  >
                  <nuxt-link
                    to="/contact"
                    class="lw_mt-5 lw_inline-block lw_p-3 lw_bg-secondary lw_text-white lw_rounded"
                    >Get Free Quote</nuxt-link
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lw_bg-white">
      <div class="lw_max-w-7xl lw_mx-auto lw_py-24 lw_px-5">
        <h2 class="lw_text-3xl lw_mb-3 lw_text-left">
          How we find the right stairlift for you?
        </h2>
        <p><strong>Initial Consultation</strong></p>
        <p>
          At Solent Mobility Centre, we begin our process with an in-home
          consultation to ensure that we understand your needs and address any
          concerns you may have about our stairlifts. We then conduct an
          assessment of your staircase to determine which of our stairlift
          models is best suited for your specific needs and configuration.
          Following our assessment, we will discuss our findings with you again
          to mutually agree on the best possible solution. Trust us to provide
          you with the best possible solution.
        </p>
        <br />
        <p><strong>Detailed Survey</strong></p>
        <p>
          At our company, we never pressure you into making a decision on the
          spot. If you choose to proceed with your purchase, we will schedule
          another visit to the property to conduct a thorough survey and take
          precise measurements of your entire staircase. Our engineer will
          manage the arrangements, and the process should take around one hour,
          depending on your staircase&#39;s layout.<br /><br />
          At this point in the process, we do require a deposit payment of up to
          50%, as our stairlifts are custom-made to meet your specific needs.
        </p>
        <br />
        <p><strong>Order</strong></p>
        <p>
          After receiving your stair survey, Solent Mobility will send your
          order to Otolift Stairlifts for processing. Otolift Stairlifts will
          create a rail design that meets your specifications and send it to us
          for approval before proceeding with the order. You can trust us to
          ensure your satisfaction at every step of the process.
        </p>
        <br />
        <p><strong>Agree Specification</strong></p>
        <p>
          Before moving your stairlift into production, we&#39;ll ensure that
          its rail design meets your specifications. If a deposit hasn&#39;t
          been paid yet, we&#39;ll request it here. Rest assured, Otolift
          Stairlifts will keep us informed about their progress during the
          manufacturing process, and provide expected delivery dates.
        </p>
        <br />
        <p><strong>Installation</strong></p>
        <p>
          Once we have established delivery dates, we will be in touch with the
          customer to arrange a suitable installation date. Solent Mobility will
          stand by to conduct a thorough product handover with you, the
          customer, to ensure you are fluent in operating the stairlift.<br /><br />
          Post handover, our in-house engineers will carry out annual chairlift
          servicing and maintenance.
        </p>
      </div>
    </div>
  </section>
</template>

<script>
import LazyProduct from "~/components/global/shop/LazyProduct.vue";
export default {
  components: { LazyProduct },
};
</script>

<style></style>
