<template>
  <section>
    <LazyPageHeader :title="`${capitalizeText(hireFix(this.$route.name))} Hire`" :seo="false" />

    <div class="lw_max-w-7xl lw_mx-auto lw_py-24 lw_px-5">
      <p>
        At Solent Mobility Centre, we pride ourselves on providing exceptional
        {{capitalizeText(hireFix(this.$route.name))}} hire services to meet the unique needs of individuals
        with mobility challenges. Located in the heart of Hampshire, UK, we have
        established ourselves as a trusted and reliable provider of mobility
        solutions.
        <br /><br />
        When you choose to hire a {{capitalizeText(hireFix(this.$route.name))}} from Solent Mobility Centre,
        you can expect a seamless and customer-focused experience. Our dedicated
        team of experts is committed to understanding your specific requirements
        and helping you select the most suitable {{capitalizeText(hireFix(this.$route.name))}} from our extensive
        fleet.
        <br /><br />
        Our rental {{capitalizeText(hireFix(this.$route.name))}}s are meticulously maintained, ensuring optimal
        performance and reliability. We regularly service and inspect each
        {{capitalizeText(hireFix(this.$route.name))}} to guarantee that it meets the highest safety standards. We also
        prioritize cleanliness, ensuring that every {{capitalizeText(hireFix(this.$route.name))}} is thoroughly
        cleaned and sanitized before it reaches your hands.
        <br /><br />
        To ensure your comfort and convenience, our fleet includes a variety of
        {{capitalizeText(hireFix(this.$route.name))}}s with different sizes, specifications, and features. Whether you
        need a compact {{capitalizeText(hireFix(this.$route.name))}} for indoor use or a robust model for outdoor
        adventures, we have the perfect option for you. Our team will guide you
        through the selection process, considering factors such as weight
        capacity, battery life, maneuverability, and terrain capabilities.
      </p>
    </div>

    <div class="lw_bg-white">
      <div class="lw_max-w-7xl lw_mx-auto lw_py-24 lw_px-5">
        <h2 class="lw_text-center lw_mb-20">How {{capitalizeText(hireFix(this.$route.name))}} Hire Works</h2>
        <div class="lw_flex lw_flex-row lw_gap-5">
          <div
            class="lw_basis-1/3 lw_p-5 lw_flex lw_flex-col lw_gap-4 lw_items-center lw_shadow-md"
          >
            <font-awesome-icon
              class="!lw_h-14 lw_w-14 lw_mr-2 lw_text-secondary"
              :icon="['fas', 'wheelchair']"
            />
            <h4 class="lw_text-lg lw_font-medium">Select your {{capitalizeText(hireFix(this.$route.name))}}</h4>
            <p class="lw_text-center lw_text-sm">
              Choose your {{capitalizeText(hireFix(this.$route.name))}} you'd like to rent from our catelogue
            </p>
            <nuxt-link
              class="lw_bg-primary lw_py-2 lw_px-4 lw_rounded-full lw_text-white"
              to="/hire"
              >View {{capitalizeText(hireFix(this.$route.name))}}s</nuxt-link
            >
          </div>
          <div
            class="lw_basis-1/3 lw_p-5 lw_flex lw_flex-col lw_gap-4 lw_items-center lw_shadow-md"
          >
            <font-awesome-icon
              class="!lw_h-14 lw_w-14 lw_mr-2 lw_text-secondary"
              :icon="['fas', 'shopping-basket']"
            />
            <h4 class="lw_text-lg lw_font-medium">Order your {{capitalizeText(hireFix(this.$route.name))}}</h4>
            <p class="lw_text-center lw_text-sm">
              Choose the date you'd like to hire out the {{capitalizeText(hireFix(this.$route.name))}} and
              place your order though the website.
            </p>
          </div>
          <div
            class="lw_basis-1/3 lw_p-5 lw_flex lw_flex-col lw_gap-4 lw_items-center lw_shadow-md"
          >
            <font-awesome-icon
              class="!lw_h-14 lw_w-14 lw_mr-2 lw_text-secondary"
              :icon="['fas', 'map-location']"
            />
            <h4 class="lw_text-lg lw_font-medium">Arrange Delivery</h4>
            <p class="lw_text-center lw_text-sm">
              Choose the date you'd like to hire out the {{capitalizeText(hireFix(this.$route.name))}} and
              place your order though the website.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="lw_max-w-7xl lw_mx-auto lw_py-24 lw_px-5">
      <h2 class="lw_text-center lw_mb-20">Benefits of {{capitalizeText(hireFix(this.$route.name))}} Hire</h2>
      <div class="lw_flex lw_flex-row lw_gap-5">
        <div
          class="lw_basis-1/4 lw_bg-white lw_p-5 lw_flex lw_flex-col lw_gap-4 lw_items-center lw_shadow-md"
        >
          <font-awesome-icon
            class="!lw_h-14 lw_w-14 lw_mr-2 lw_text-secondary"
            :icon="['fas', 'wheelchair']"
          />
          <h4 class="lw_text-lg lw_font-medium">Cost Savings</h4>
          <p class="lw_text-center lw_text-sm">
            Mobility hire allows businesses to save on costs associated with purchasing and maintaining their own fleet of vehicles, such as fuel, insurance, maintenance and storage.
          </p>
        </div>
        <div
          class="lw_basis-1/4 lw_bg-white lw_p-5 lw_flex lw_flex-col lw_gap-4 lw_items-center lw_shadow-md"
        >
          <font-awesome-icon
            class="!lw_h-14 lw_w-14 lw_mr-2 lw_text-secondary"
            :icon="['fas', 'shopping-basket']"
          />
          <h4 class="lw_text-lg lw_font-medium">Flexibility</h4>
          <p class="lw_text-center lw_text-sm">
With mobility hire, businesses can access a wide range of vehicle types at short notice for any length of time they need them for without having to commit to long-term contracts or leases. 
          </p>
        </div>
        <div
          class="lw_basis-1/4 lw_bg-white lw_p-5 lw_flex lw_flex-col lw_gap-4 lw_items-center lw_shadow-md"
        >
          <font-awesome-icon
            class="!lw_h-14 lw_w-14 lw_mr-2 lw_text-secondary"
            :icon="['fas', 'map-location']"
          />
          <h4 class="lw_text-lg lw_font-medium">Convenience</h4>
          <p class="lw_text-center lw_text-sm">
Mobility hire eliminates the hassle of dealing with paperwork and offers a convenient way for businesses to manage their transportation needs quickly and efficiently. 
          </p>
        </div>
                <div
          class="lw_basis-1/4 lw_bg-white lw_p-5 lw_flex lw_flex-col lw_gap-4 lw_items-center lw_shadow-md"
        >
          <font-awesome-icon
            class="!lw_h-14 lw_w-14 lw_mr-2 lw_text-secondary"
            :icon="['fas', 'map-location']"
          />
          <h4 class="lw_text-lg lw_font-medium lw_text-center">Safety & Security</h4>
          <p class="lw_text-center lw_text-sm">
All vehicles available through mobility hire are regularly serviced by qualified technicians who ensure that all safety requirements are met before the vehicle is released for use. Additionally, customers have access to 24/7 roadside assistance in case anything goes wrong during their journey
          </p>
        </div>
      </div>
    </div>


    <div class="lw_bg-white">
      <div class="lw_max-w-7xl lw_mx-auto lw_py-24 lw_px-5">
        <h2 class="lw_text-center lw_mb-20">{{capitalizeText(hireFix(this.$route.name))}} Hire FAQs</h2>
        <div class="lw_max-w-2xl lw_mx-auto">
                      <lazy-faq :title="`Can you hire ${capitalizeText(hireFix(this.$route.name))}s`"
              >Yes, you can hire {{capitalizeText(hireFix(this.$route.name))}}s from Solent Mobility Centre if you have difficulty walking or standing for long periods of time. Our {{capitalizeText(hireFix(this.$route.name))}}s are available to hire or buy, and can help you get around easily and comfortably</lazy-faq
            >
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import LazyFaq from "~/components/global/LazyFaq.vue";

export default {
  components: {
    LazyFaq,
  },
};
</script>
