<template>
  <section>
    <LazyPageHeader
      title="Mobility Scooters for Sale"
      description="If you're looking for top-quality, affordable mobility scooters for sale in Hampshire, you've come to the right place! Our range of high-performance scooters offers unbeatable value for money and is perfect for anyone looking to maintain their independence and mobility. Don't let age or disability hold you back - invest in one of our mobility scooters today and experience the freedom and flexibility you deserve!"
      :seo="false"
    />

    <div
      class="lw_flex lw_flex-row lw_flex-wrap lw_max-w-7xl lw_my-24 lw_px-5 lw_mx-auto"
    >
      <div class="filter lw_basis-[100%] md:lw_basis-[25%] lw_relative md:lw_sticky lw_top-5 lw_h-full">
        <h4 class="lw_text-lg lw_font-medium ">Top Categories</h4>
        <div class="lw_flex lw_flex-wrap lw_flex-row md:lw_flex-col lw_gap-x-5 lw_mt-1 lw_mb-5">
          <nuxt-link to="/mobility-scooters/car-boot-scooters"
            >Car Boot Mobility Scooters</nuxt-link
          >
          <nuxt-link to="/mobility-scooters/travel-mobility-scooters"
            >Travel Mobility Scooters</nuxt-link
          >
          <nuxt-link to="/car-boot-scooters"
            >Aluminium Mobility Scooters</nuxt-link
          >
          <nuxt-link to="/car-boot-scooters"
            >Pavement Mobility Scooters</nuxt-link
          >
          <nuxt-link to="/car-boot-scooters"
            >6-8 Mph Mobility Scooters</nuxt-link
          >
          <nuxt-link to="/car-boot-scooters"
            >Cabin & All Terrain Mobility Scooters</nuxt-link
          >
          <nuxt-link to="/car-boot-scooters"
            >Refurbished Mobility Scooters</nuxt-link
          >
        </div>
        <h4 class="lw_text-lg lw_font-medium ">Other Categories</h4>
        <div class="lw_flex lw_flex-wrap lw_flex-row md:lw_flex-col lw_gap-x-5 lw_mt-1 lw_mb-3">
          <nuxt-link to="/mobility-scooters/car-boot-scooters"
            >Accessories</nuxt-link
          >
          <nuxt-link to="/mobility-scooters/car-boot-scooters"
            >Covers</nuxt-link
          >
          <nuxt-link to="/mobility-scooters/car-boot-scooters"
            >Cushions</nuxt-link
          >
          <nuxt-link to="/mobility-scooters/car-boot-scooters"
            >Insurance and Warranty</nuxt-link
          >
          <nuxt-link to="/mobility-scooters/car-boot-scooters">Hire</nuxt-link>
          <nuxt-link to="/mobility-scooters/car-boot-scooters"
            >Standard Ramps</nuxt-link
          >
          <nuxt-link to="/mobility-scooters/car-boot-scooters"
            >Folding Ramps</nuxt-link
          >
          <nuxt-link to="/mobility-scooters/car-boot-scooters"
            >All Ramps</nuxt-link
          >
          <nuxt-link to="/mobility-scooters/car-boot-scooters"
            >Mobility Scooter Chargers</nuxt-link
          >
          <nuxt-link to="/mobility-scooters/car-boot-scooters"
            >Mobility Scooter Batteries
          </nuxt-link>
        </div>
      </div>
      <div class="products lw_mt-10 md:lw_mt-0 lw_basis-[100%] md:lw_basis-[75%]">
        <h2 class="lw_text-center lw_text-3xl lw_font-medium lw_mb-10">
          Featured Mobility Scooters
        </h2>
        <div
          class="lw_flex lw_flex-row !lw_pt-0 lw_w-full lw_content-start lw_flex-wrap lw_gap-5"
        >
          <div
            class="lw_flex-shrink lw_flex-grow-0 lw_basis-full md:lw_basis-72"
          >
            <lazy-product
              product="Apex Rapid"
              product-image="https://solent-shopify.imgix.net/Apex-Rapid-red-e1641566085626-1024x1130.jpg?v=1660133183?auto=format,compress&w=300&h=300&fit=min"
              product-price="1,100.00"
              product-handle="travel-mobility-scooters/apex-rapid"
            />
          </div>
          <div
            class="lw_flex-shrink lw_flex-grow-0 lw_basis-full md:lw_basis-72"
          >
            <lazy-product
              product="Sapphire 2"
              product-image="https://solent-shopify.imgix.net/sterling-sapphire-2-mobility-scooters_ad477505-3505-4e8d-b0ec-440a2f21d2c2.jpg?v=1662652174?auto=format,compress&w=300&h=300&fit=min"
              product-price="1,700.00"
              product-handle="travel-mobility-scooters/sapphire-2"
            />
          </div>
          <div
            class="lw_flex-shrink lw_flex-grow-0 lw_basis-full md:lw_basis-72"
          >
            <lazy-product
              product="Lithilite"
              product-image="https://solent-shopify.imgix.net/smart_97e7dadc-46c0-481a-b5bb-12367bf0deb2.jpg?v=1662652159?auto=format,compress&w=300&h=300&fit=min"
              product-price="1,400.00"
              product-handle="travel-mobility-scooters/lithilite"
            />
          </div>
          <div
            class="lw_flex-shrink lw_flex-grow-0 lw_basis-full md:lw_basis-72"
          >
            <lazy-product
              product="Alumina"
              product-image="https://solent-shopify.imgix.net/1-Alumina_8504eec0-a9c2-4deb-8421-6e45455b6585.jpg?v=1662652164?auto=format,compress&w=300&h=300&fit=min"
              product-price="1,900.00"
              product-handle="travel-mobility-scooters/alumina"
            />
          </div>
          <div
            class="lw_flex-shrink lw_flex-grow-0 lw_basis-full md:lw_basis-72"
          >
            <lazy-product
              product="Colt Sport"
              product-image="https://solent-shopify.imgix.net/product-image-chase-1_6d94e7ed-82af-40b0-83f5-d1f5d8dfb765.jpg?v=1662652145?auto=format,compress&w=300&h=300&fit=min"
              product-price="1,900.00"
              product-handle="6-8-mph-mobility-scooters/colt-sport"
            />
          </div>
          <div
            class="lw_flex-shrink lw_flex-grow-0 lw_basis-full md:lw_basis-72"
          >
            <lazy-product
              product="Evolite"
              product-image="https://solent-shopify.imgix.net/1.evolite_2269d564-cb21-4251-acd8-b701ecb34fca.jpg?v=1662652162?auto=format,compress&w=300&h=300&fit=min"
              product-price="1,400.00"
              product-handle="travel-mobility-scooters/evolite"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="lw_bg-white">
      <div class="lw_max-w-7xl lw_mx-auto lw_py-24 lw_px-5">
        <h2 class="lw_text-3xl lw_mb-3 lw_text-left">
          What is the best Mobility Scooter?
        </h2>
        <p>
          You need the perfect mobility scooter to suit your lifestyle, but
          searching for it can be an intimidating process. Luckily, there are so
          many style choices available today that you're sure to find something
          equipped with all of the features most suited for what you need! To
          make shopping easier and more enjoyable, we've put together this
          helpful guide outlining everything worth considering when buying a
          mobility scooter – now no matter where life takes you, your Scooter
          will always have just as much personality as you do!
          <br /><br />
          We often receive inquiries about this subject, and we're here to
          provide answers! While there may not be one answer to solve any given
          situation, a multitude of potential solutions exist - it's simply up
          to you which mobility scooter is the best for your unique
          circumstances.<br /><br />
          Determining the perfect scooter for your unique needs can be a tricky
          prospect! To get you on track, we've developed some insightful
          questions to help narrow down which scooter is right for you.
          <br />
          <br />
        </p>
        <ol>
          <li type="1">
            Do you require the scooter to go in the boot of a car?
          </li>
          <li type="1">How far do you want to travel on your scooter?</li>
          <li type="1">What terrain will you be going over?</li>
          <li type="1">Where will you keep your Scooter when not in use?</li>
          <li type="1">How will you charge your Scooter?</li>
          <li type="1">Will your scooter require suspension?</li>
          <li type="1">How much ground clearance do you require?</li>
          <li type="1">Would you want to or need to drive on the road?</li>
          <li type="1">How fast do you need to go?</li>
          <li type="1">Will you need to take your scooter on a plane?</li>
          <li type="1">What is your budget for a Scooter?</li>
          <li type="1">What type of tyres would you want?</li>
        </ol><br>
        <p>
          We've done the research, so you don't have to! Our team has compiled
          the answers to all your questions.
        </p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">
          Do you require the scooter to go in the boot of a car?
        </h2>
        <p>
          Mobility Boot Scooters provide an ideal combination of convenience and
          efficiency, making it the perfect solution for on-the-go
          transportation. Their clever design allows them to quickly break down
          into lightweight components that fit easily in most car boots, saving
          you valuable time when travelling - so you can arrive at your
          destination with minimal fuss!
        </p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">
          How far do you want to travel on your scooter?
        </h2>
        <p>
          Get the freedom to experience more with our selection of stylish and
          dependable mobility scooters! Our range spans 6-35 miles on one
          charge, giving you more opportunities for taking trips or running
          errands. With these models, your sights are only limited by how far
          you can go--so explore away!
        </p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">
          What terrain will you be going over?
        </h2>
        <p>
          Our scooters are ready for wherever life takes you! Whether it's a
          leisurely stroll through the shopping centre or an adventure up
          hillier terrain, our wheels have got your covered. With so many
          varieties of scooter to choose from, finding one that fits your needs
          has never been easier!
        </p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">
          Where will you keep your Scooter when not in use?
        </h2>
        <p>With a mobility scooter, you have to think on where to store it. The best solution? Ensure
your scooter stays safe and dry in a secure storage location – the only choice for keeping
your scooter at its optimum performance!</p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">
          How will you charge your Scooter?
        </h2>
        <p>Keep your mobility scooter charged and ready to ride with overnight charging! Don't let a
flat battery stop you, ensure that it's powered up before each journey for unbeatable
reliability.
Keep your scooter in top condition: charge it once a week if not being used for longer
periods of time! To make sure nothing disrupts that joy of riding, plugging your scooter into
the charger overnight will give you peace-of-mind when taking on longer trips.</p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">
          Will your scooter require suspension?
        </h2>
        <p>For a truly effortless ride, proper suspension is essential. To ensure you make the most out
of your journey - don't overlook one of life's simplest pleasures: ultimate comfort with an
optimized scooter that has just the right amount suspension!
If you're looking for a mobility scooter that can handle more challenging terrain, our models
come with larger suspension to provide superior stability and a smooth ride.</p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">
          How much ground clearance do you require?
        </h2>
        <p>Mobility scooters come in all shapes, sizes - and heights! With varying ground
clearances helping riders tackle a range of terrain, there's never been an easier way
to move around.</p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">
          Would you want to or need to drive on the road?
        </h2>
        <p>Did you know that mobility scooters can take to the open road at speeds of 6-8mph?
But if they're on pavements, it's best to keep them going no faster than 4 mph for a
safe and smooth ride.</p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">
         How fast do you need to go?
        </h2>
        <p>When you're cruising around town, it's important to know the speed limits - and they
can vary greatly depending on where you are. If you choose to take a spin downtown
or along the pavement, remember that your top speed should be 4mph; if travelling
upon paved roads however, 6-8 mph is usually acceptable providing there aren't any
other restrictions in place. So strap yourself in and get ready for whatever drives
await!</p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">
         Will you need to take your scooter on a plane?
        </h2>
        <p>Have you ever wondered if it's safe to take your mobility scooter battery on a plane?
Well, SLA and NiMH batteries are non-spillable and allowed depending on the airline
– but Lithium Ion ones have additional restrictions for safety reasons.
When you're planning to travel with your mobility scooter, it's important to keep
battery watt hours in mind. In general, a single Li Ion battery shouldn't exceed
300Wh and two batteries should not be over 160Wh each. To calculate Watt Hours
for any particular battery, just multiply Amp Hours by volts! However if you have an
especially designed traveller's scooter these rules may likely not apply-- always
double check both the airline regulations and replacement mobility scooter batteries
before jetting off on your adventure!</p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">
         What is your budget for a Scooter?
        </h2>
        <p>Deciding how much to spend on a mobility scooter can be tricky - do you want something
low-cost and basic or all the bells and whistles? It's important to find one that fits your
budget while still giving you what you need.</p>
        <h2 class="lw_text-3xl lw_mb-3 lw_mt-10 lw_text-left">
         What type of tyres would you want?
        </h2>
        <p>Struggling to decide between pneumatic or solid tyres for your mobility scooter? It's
important to consider the benefits of both - with pneumatic you get a more cushioned ride,
but solids are known for being more durable and low-maintenance. Ultimately it comes
down to preference!</p>
<br>
<p>Ultimately, which mobility scooter is best for you depends on your individual needs and
abilities. It's important to remember that investing the time to research and understand the
features of each mobility scooter can help you make an informed decision that will ensure
satisfaction and improved quality of life. Furthermore, when it comes to purchasing a
mobility scooter, don't be afraid to ask questions - both of vendors and users within your
community. Asking around can provide insight from first hand experience, further helping
you determine which type of mobility scooter works best for you.
Whatever choice you make can open up newfound opportunities for self-sufficient,
independent living. Don't wait any longer to make the perfect selection - choose the best
option today!</p>
      </div>
    </div>
  </section>
</template>

<script>
import LazyProduct from "~/components/global/shop/LazyProduct.vue";
export default {
  components: { LazyProduct },
};
</script>

<style></style>
