<template>
  <section>
    <LazyPageHeader
      title="Mobility Scooter Insurance"
      :seo="false"
    />

      <div class="lw_max-w-7xl lw_mx-auto lw_py-24 lw_px-5">
        <h2 class="lw_text-3xl lw_mb-3 lw_text-left">
Specially designed insurance for mobility scooters as well as manual and powered wheelchairs that helps keep you moving.        </h2>
        <p>
           Solent has partnered with disability insurance specialists, Fish Insurance, who can offer you cover to
help protect your mobility equipment. Solent can introduce you to Fish Insurance who can discuss
the products they offer and your cover needs. <br><br>
Fish Insurance offer insurance for Mobility Scooters, Powered Wheelchairs and Manual Wheelchairs.
These insurance policies are designed to provide you with cover for liability claims, as well as theft
and accidental damage to your mobility equipment. <br><br>
Cover for these products is provided by Fish Insurance. As with any policy, limits and exclusions
apply. For full details of the cover provided <a href="https://www.fishinsurance.co.uk/downloads/">click here</a>. <br><br>
Fish Insurance are pleased to offer a <strong>£10 discount* </strong>for Mobility Scooter and Powered Wheelchair
referrals received from Solent. <br><br>
<strong>
    To visit their website <a href="https://www.fishinsurance.co.uk/?utm_source=Mobility-Retailer&amp%3Butm_medium=webpage">click here</a> or call 0333 331 3976 and quote code [2185] to claim your
    discount
</strong> <br><br>
*Discount is only available to customers who have been referred to Fish by Solent when using the
above code. The introductory discount will be deducted from your first-year premium only. Discount
does not apply to Mobility Scooter and Powered Wheelchair ‘Lite’. <br><br>

Solent [is an Introducer Appointed Representative of / works in partnership with] Fish Adminstration
Limited. Fish Insurance is a trading style of Fish Administration Ltd. Fish Administration Ltd is
authorised and regulated by the Financial Conduct Authority, Firm Reference Number 310172. Fish
Administration Ltd is registered in England &amp; Wales. Company Registration Number 4214119.
Registered Office: Rossington’s Business Park, West Carr Road, Retford, Nottinghamshire, DN22
7SW. Fish Administration Ltd is part of the PIB Group.
        </p>
      </div>


  </section>
</template>

<script>
import LazyProduct from "~/components/global/shop/LazyProduct.vue";
export default {
  components: { LazyProduct },
};
</script>
<style scoped>
a {
    @apply lw_text-primary;
}
</style>
