<template>
  <div class="lw_relative">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <nuxt-link to="/furniture">
            <nuxt-img
              class="lw_object-cover sm:lw_object-contain lw_h-[170px] sm:lw_h-[inherit] lw_w-full header-img"
              src="https://solent-mobility.imgix.net/littleweb/Furniture+Sale.jpg"
              provider="static"
              width="1920"
              height="500"
              alt="Mobility Scooters in Hampshire"
              :modifiers="{ auto: 'format,compress' }"
            />
          </nuxt-link>
        </div>
                <div class="swiper-slide">
          <nuxt-link to="/powerchairs">
            <nuxt-img
              class="lw_object-cover sm:lw_object-contain lw_h-[170px] sm:lw_h-[inherit] lw_w-full header-img"
              src="https://solent-mobility.imgix.net/littleweb/Powerchair+Sale.jpg"
              provider="static"
              width="1920"
              height="500"
              alt="Mobility Scooters in Hampshire"
              :modifiers="{ auto: 'format,compress' }"
            />
          </nuxt-link>
        </div>
      </div>
    </div>
    <!-- If navigation buttons are needed -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</template>
<script>
// import Swiper JS
// add or remove unused modules
import { Swiper, Navigation, Autoplay } from "swiper";
import "swiper/swiper-bundle.min.css";
export default {
  mounted() {
    // configure Swiper to use modules. The modules were tested with SwiperJS v6.8.4 with NuxtJS v2.15.7
    // previously it was before export default. Moved here for performance issues. Move back in case of problems.
    // init Swiper:  eslint-disable used for deleting error of unsued const swiper
    /* eslint-disable no-unused-vars */
    const swiper = new Swiper(".swiper", {
      // Optional parameters
      // @see https://swiperjs.com/swiper-api#parameters
      loop: false,
      effect: "cards",
      grabCursor: true,
      // remove unused modules if needed
      modules: [Navigation, Autoplay],
      // Pagination if needed
      pagination: {
        el: ".swiper-pagination",
        type: "bullets",
        clickable: true,
      },
      // Autoplay if needed
      autoplay: {
        delay: 5000,
      },
      // Navigation arrows if needed
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
    // you can use different options later
    swiper.on("activeIndexChange", (swiper) => {
      // console.log(swiper)
    });
  },
};
</script>

<style>
.swiper {
  width: 100%;
  max-height: 500px;
  height: 100%;
}
</style>
