<template>
    <div class="lw_bg-white lw_border lw_p-5 lw_w-1/2">
        <div class="lw_flex lw_flex-row lw_items-center lw_gap-5">
            <font-awesome-icon class="lw_h-16 lw_w-16" :icon="['fas', 'square-check']" />
            <div class="content">
                <h5 class="lw_text-2xl lw_font-medium">2 Year Warranty</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, maiores?</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>