<template>
  <div class="blog lw_bg-white lw_border lw_w-1/2 lw_rounded lw_overflow-hidden">
      <nuxt-img src="https://solent-mobility.imgix.net/2021/11/mobility-vehicle-servicing.jpg" class="lw_object-cover lw_w-full lw_h-[inherit]"
        provider="static"
        width="400"
        height="200"
        alt="Mobility Scooters in Hampshire"
        :modifiers="{ auto: 'format,compress' }" />
      <div class="content lw_p-3">
          <h4 class="lw_font-medium lw_text-xl">Servicing</h4>
          <p class="lw_text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, mollitia!</p>
      </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>