<template>
  <nuxt-link class="lw_w-[48%] md:lw_w-[23%]" :to="`${handle}`">
    <div
      class="cat-item lw_bg-white lw_border lw_relative hover:lw_cursor-pointer lw_rounded lw_overflow-hidden"
      @mouseover="hover = true"
      @mouseleave="hover = false"
    >
      <div class="">
        <nuxt-img
          v-if="image"
          class="lw_object-cover lw_w-full lw_h-[200px]"
          :src="image.url"
          provider="static"
          width="300"
          height="200"
          :alt="image.altText"
          :modifiers="{ auto: 'format,compress' }"
        />
        <nuxt-img
          v-else
          class="lw_object-cover lw_w-full lw_h-[200px]"
          src="https://solent-mobility.imgix.net/littleweb/mobility-scooters-near-me.jpeg"
          provider="static"
          width="300"
          height="200"
          alt="Mobility Scooters Product Range | Mobility Scooters near me"
          :modifiers="{ auto: 'format,compress' }"
        />
        <div class="content lw_p-5 lw_text-center">
          <h4 class="lw_font-semibold">{{ title }}</h4>
          <p>for <span class="lw_text-primary lw_font-semibold">Sale!</span></p>
          <!-- <div v-if="price">
            <p v-if="price.edges.length >= 1">
              from <span class="lw_text-primary lw_font-semibold">£{{ price.edges[0].node.priceRange.maxVariantPrice.amount }}</span>
            </p>
            <p v-else>
              for <span class="lw_text-primary lw_font-semibold">Sale!</span>
            </p>
          </div> -->
        </div>
      </div>
      <transition name="fade-in">
        <div
          v-show="hover"
          class="overlay lw_absolute lw_top-0 lw_w-full lw_h-full lw_flex lw_items-center lw_justify-center lw_bg-primary lw_bg-opacity-90 lw_rounded"
        >
          <a class="lw_text-white lw_font-bold lw_uppercase lw_text-xl"
            >Shop Now!</a
          >
        </div>
      </transition>
    </div>
  </nuxt-link>
</template>

<script>
export default {
  data() {
    return {
      hover: false,
    };
  },
  props: ["title", "image", "price", "handle"],
};
</script>

<style scoped>
.fade-in-enter-active,
.fade-in-leave-active {
  transition: all 0.2s ease-in-out;
}
.fade-in-enter,
.fade-in-leave-to {
  opacity: 0;
}
</style>
