<template>
  <div class="lw_mt-2">
      <div @click="opened = !opened" class="lw_bg-white lw_rounded lw_border lw_p-3 lw_flex lw_flex-row lw_justify-between lw_items-center hover:lw_cursor-pointer">
          <div class="title">{{ title }}</div>
          <font-awesome-icon class="lw_h-4 lw_w-4" :icon="['fas', 'chevron-right']" />
      </div>
      <transition name="fade">
          <div v-show="opened" class="content lw_p-3">
          <slot />
      </div>
      </transition>
  </div>
</template>

<script>
export default {
    props: [
        'title',
    ],

    data() {
        return {
            opened: false,
        }
    },

}
</script>

<style scoped>
  .fade-enter-active, .fade-leave-active {
    transition: all .3s ease-in-out;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
    transform: translateY(12px);
  }
</style>