<template>
  <nav id="primary" class="lw_relative lw_h-full">
    <!-- <nuxt-link to="">Sale <font-awesome-icon class="lw_h-3 lw_w-2 lw_ml-1" :icon="['fas', 'chevron-down']" /></nuxt-link> -->
    <div
      class="lw_flex lw_flex-row lw_justify-between lw_w-full lw_h-full lw_flex-wrap"
    >
      <nuxt-link
        v-for="(menuItem, index) in menu"
        :key="index"
        @mouseover.native="megaMenu(menuItem.mainCategory)"
        @mouseout.native="isMegaMenuOpen = false"
        :to="`/${menuItem.handle}`"
        >{{ menuItem.mainCategory }}
        <font-awesome-icon
          class="lw_h-3 lw_w-2 lw_ml-1"
          :icon="['fas', 'chevron-down']"
      /></nuxt-link>
      <nuxt-link :to="`/price`">Price</nuxt-link>
      <nuxt-link class="red" :to="`/special-offer`">Special Offer</nuxt-link>
    </div>
    <lazy-mega :item="hoveredItem" :menu-open="isMegaMenuOpen" />
  </nav>
</template>

<script>
import data from "~/static/json/menu.json";
import LazyMega from "./LazyMega.vue";
export default {
  components: { LazyMega },
  data() {
    return {
      hoveredItem: "",
      isMegaMenuOpen: false,
      menu: data,
    };
  },
  methods: {
    megaMenu(item) {
      this.hoveredItem = item;
      this.isMegaMenuOpen = true;
    },
  },
};
</script>

<style scoped>
nav a {
  @apply lw_px-3 lw_uppercase lw_text-sm lw_font-medium lw_flex lw_items-center;
}
.red {
  background: rgba(255, 82, 82, 1);
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
  animation: pulse-red 2s infinite;
}
@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }
  
  70% {
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  
  100% {
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}
</style>
