<template>
  <transition name="mega-menu-fade">
    <div
      @mouseover="isOpen = true"
      @mouseout="isOpen = false"
      v-show="isOpen"
      class="lw_absolute lw_w-full lw_bg-white lw_p-10 lw_shadow-lg lw_z-50"
    >
      <div
        class="lw_flex lw_flex-row lw_text-black lw_gap-5"
        v-for="(menuItem, index) in menu"
        :key="index"
        v-show="item == menuItem.mainCategory"
      >
        <div class="lw_w-1/4">
          <div class="lw_flex lw_flex-col lw_gap-3">
            <nuxt-link
              :to="`/${menuItem.handle}`"
              class="lw_flex lw_flex-row lw_items-center"
            >
              <font-awesome-icon
                class="lw_h-5 lw_w-5 lw_mr-2 lw_text-secondary"
                :icon="['fas', 'wheelchair']"
              />
              <h4>{{ menuItem.mainCategory }}</h4>
            </nuxt-link>
            <div class="items lw_flex lw_flex-col lw_gap-1">
            <nuxt-link
              v-for="(subItem, index) in menuItem.subCategory"
              :key="index"
              :to="`/${menuItem.handle}/${subItem.handle}`"
              >{{ subItem.name }}</nuxt-link
            >
          </div>
          </div>
        </div>
        <div
          class="lw_w-1/4"
          v-for="(column, index) in menuItem.columns"
          :key="index"
        >
          <div class="lw_flex lw_flex-col lw_gap-3">
            <nuxt-link
              :to="`/${menuItem.handle}/${column.handle}`"
              class="lw_flex lw_flex-row lw_items-center"
            >
              <h4>{{ column.name }}</h4>
            </nuxt-link>
            <div class="items lw_flex lw_flex-col lw_gap-1">
              <nuxt-link
                v-for="(link, index) in column.links"
                :key="index"
                :to="`/${menuItem.handle}/${link.handle}`"
                >{{ link.name }}</nuxt-link
              >
          </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import data from "~/static/json/menu.json";
export default {
  props: ["item", "menuOpen"],
  data() {
    return {
      isOpen: this.menuOpen,
      menu: data,
    };
  },
  watch: {
    menuOpen: {
      handler(val) {
        this.isOpen = val;
      },
      deep: true,
    },
  },
  // async fetch() {
  //   const menu = await this.$axios.$get(
  //     "https://littleweb.uk/.netlify/functions/solent-menu"
  //   );
  //   this.menu = menu[0].shopifyMenu;
  // },
  fetchOnServer: false,
};
</script>

<style scoped>
h4 {
  @apply lw_font-medium lw_text-lg lw_text-primary;
}
a {
  @apply lw_text-sm;
}
.mega-menu-fade-enter-active,
.mega-menu-fade-leave-active {
  transition: all 0.3s ease-in-out;
}
.mega-menu-fade-enter,
.mega-menu-fade-leave-to {
  opacity: 0;
  transform: translateY(12px);
}
</style>
