<template>
  <div class="lw_bg-white lw_border lw_p-3">
      <img src="https://s3.eu-west-2.amazonaws.com/careco-website-imagery/homepage/brands/pride.jpg">
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>