<template>
  <section class="">
    <div class="lw_relative lw_h-60 lw_w-full">
      <nuxt-img
        v-if="image"
        :src="image.url"
        :alt="image.altText"
        width="1920"
        height="240"
        class="lw_object-cover lw_w-full lw_h-full"
        provider="static"
        :modifiers="{ auto: 'format,compress' }"
      />
      <img v-else src="https://solent-mobility.imgix.net/2021/11/stairlifts-near-me.jpg?auto=compress%2Cformat&q=60" alt="" class="lw_object-cover lw_w-full lw_h-full" />
      <div
        class="content lw_absolute lw_h-full lw_w-full lw_flex lw_justify-center lw_top-0 lw_items-center"
      >
        <h1
          v-if="!seo"
          class="lw_bg-primary lw_px-28 lw_py-5 lw_text-white lw_capitalize"
        >
          {{ title }}
        </h1>
        <h1
          v-else
          class="lw_bg-primary lw_px-28 lw_py-5 lw_text-white lw_capitalize"
        >
          {{ title }} in Hampshire
        </h1>
      </div>
    </div>
    <div v-if="description" class="lw_bg-white lw_p-5">
      <div class="lw_max-w-5xl lw_mx-auto lw_text-center">
        <p>{{ description }}</p>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    image: {
      type: Object,
      default: null,
    },
    title: {
      type: String,
      default: null,
    },
    description: {
      type: String,
      default: null,
    },
    seo: {
      type: Boolean,
      default: true,
    }
  },
};
</script>

<style></style>
