<template>
  <!-- <div class="lw_fixed lw_z-40 lw_top-0 lw_left-0 lw_bottom-0 lw_right-0 lw_bg-white">
      <div class="lw_flex lw_justify-center lw_items-center lw_h-full lw_flex-col lw_gap-2 lw_text-center">
        <nuxt-link class="lw_text-3xl lw_uppercase lw_font-medium lw_text-secondary" to="/">Home</nuxt-link>
        <nuxt-link class="lw_text-3xl lw_uppercase lw_font-medium lw_text-secondary" v-for="(menuItem, index) in menu" :key="index" :to="`/${menuItem.handle}`">{{menuItem.mainCategory}}</nuxt-link>
        <nuxt-link class="lw_text-3xl lw_uppercase lw_font-medium lw_text-secondary" to="/blog">News & Blog</nuxt-link>
        <nuxt-link class="lw_text-3xl lw_uppercase lw_font-medium lw_text-secondary" to="/about-us">About Us</nuxt-link>
        <nuxt-link class="lw_text-3xl lw_uppercase lw_font-medium lw_text-secondary" to="/contact">Contact</nuxt-link>
        <nuxt-link class="special lw_text-3xl lw_uppercase lw_font-medium lw_rounded-md lw_text-white lw_bg-red-500 lw_p-3" to="/special-offer">Special Offer</nuxt-link>
      </div>
  </div> -->
  <div class="lw_flex lw_flex-col">
    <div class="lw_w-full">
      <div
        class="lw_flex lw_flex-row lw_justify-between lw_items-center lw_border-b lw_w-full lw_px-3 lw_py-2 lw_text-black lw_text-lg"
      >
        <nuxt-link class="" to="/">Home</nuxt-link>
      </div>
    </div>
    <div class="lw_w-full">
      <div
        class="lw_flex lw_flex-row lw_justify-between lw_items-center lw_border-b lw_w-full lw_px-3 lw_py-2 lw_text-black lw_text-lg"
      >
        <nuxt-link class="" to="/about-us">About Us</nuxt-link>
      </div>
    </div>
    <div class="lw_w-full" v-for="(menuItem, index) in menu" :key="index">
      <div
        class="lw_flex lw_flex-row lw_justify-between lw_items-center lw_border-b lw_w-full lw_px-3 lw_py-2 lw_text-black lw_text-lg"
      >
        <nuxt-link class="" :to="`/${menuItem.handle}`">{{
          menuItem.mainCategory
        }}</nuxt-link>
        <font-awesome-icon
          class="!lw_h-4 !lw_w-4 lw_text-black"
          :icon="['fas', 'chevron-down']"
          @click.stop="menuItem.open = !menuItem.open"
        />
      </div>
      <transition name="fade-in">
        <div v-show="menuItem.open">
          <nuxt-link
            v-for="(subItem, index) in menuItem.subCategory"
            :key="index"
            :to="`/${menuItem.handle}/${subItem.handle}`"
            class="lw_w-full lw_text-black lw_bg-[#eeeeee] lw_px-3 lw_py-1 lw_text-sm lw_block"
            >{{ subItem.name }}</nuxt-link
          >
        </div>
      </transition>
    </div>
    <div class="lw_w-full">
      <div
        class="lw_flex lw_flex-row lw_justify-between lw_items-center lw_border-b lw_w-full lw_px-3 lw_py-2 lw_text-black lw_text-lg"
      >
        <nuxt-link class="" to="/blog">News & Blog</nuxt-link>
      </div>
    </div>
    <div class="lw_w-full">
      <div
        class="lw_flex lw_flex-row lw_justify-between lw_items-center lw_border-b lw_w-full lw_px-3 lw_py-2 lw_text-black lw_text-lg"
      >
        <nuxt-link class="" to="/finance">Finance</nuxt-link>
      </div>
    </div>
    <div class="lw_w-full">
      <div
        class="lw_flex lw_flex-row lw_justify-between lw_items-center lw_border-b lw_w-full lw_px-3 lw_py-2 lw_text-black lw_text-lg"
      >
        <nuxt-link class="" to="/contact">Contact Us</nuxt-link>
      </div>
    </div>

    <div class="lw_h-full lw_flex lw_flex-row lw_gap-3 lw_mt-5 lw_px-3 lw_justify-center">
      <a href="tel:" class="lw_p-2 lw_w-full lw_text-center lw_bg-primary lw_text-white lw_text-base lw_rounded">Phone Us</a>
      <a href="mailto:" class="lw_p-2 lw_w-full lw_text-center lw_bg-secondary lw_text-white lw_text-base lw_rounded">Email Us</a>
    </div>
  </div>
</template>

<script>
import data from "~/static/json/menu.json";
export default {
  data() {
    return {
      menu: data,
      open: false,
    };
  },
};
</script>

<style scoped>
.nuxt-link-exact-active {
  @apply lw_text-primary;
}
.special.nuxt-link-exact-active {
  @apply lw_text-white;
}
.fade-in-enter-active,
.fade-in-leave-active {
  transition: all 0.2s ease-in-out;
}
.fade-in-enter,
.fade-in-leave-to {
  opacity: 0;
}
</style>
