<template>
  <div class="lw_border" :class="{ 'lw_border-green-500': error === 1, 'lw_border-red-500': error === 2 }">
    <p>{{ error }}</p>
    <p>{{ message }}</p>
  </div>
</template>

<script>
export default {
  props: {
    error: {
      type: Number,
    },
    message: {
      type: String,
    },
  },
};
</script>

<style></style>
