<template>
  <nuxt-link :to="handle">
    <div @mouseover="hover = true" @mouseleave="hover = false" class=" lw_bg-white lw_border lw_relative hover:lw_cursor-pointer lw_rounded lw_overflow-hidden">
      <img :src="image" alt="">
      <div class="lw_p-5 lw_text-center">
        <p class="lw_font-medium lw_capitalize">{{ title }}</p>
        <p class="lw_text-primary lw_text-xl lw_font-semibold lw_mt-3">{{ price }}</p>
      </div>
      <client-only>
        <transition name="fade-in">
          <div
            v-show="hover"
            class="overlay lw_rounded lw_absolute lw_top-0 lw_w-full lw_h-full lw_flex lw_items-center lw_justify-center lw_bg-primary lw_bg-opacity-90"
          >
            <a class="lw_text-white lw_font-bold lw_uppercase lw_text-xl"
              >Shop Now!</a
            >
          </div>
        </transition>
      </client-only>
    </div>
  </nuxt-link>
</template>

<script>
export default {
  props: ['image', 'title', 'price', 'handle'],
  data() {
      return {
        hover: false,
      };
    },
}
</script>

<style scoped>
  .fade-in-enter-active, .fade-in-leave-active {
    transition: all .2s ease-in-out;
  }
  .fade-in-enter, .fade-in-leave-to {
    opacity: 0;
  }
  </style>