<template>
  <footer>
    <!-- Top Footer -->
    <div class="newsletter lw_mt-16 lw_py-10 lw_flex lw_flex-col lw_gap-4">
      <h5 class="lw_text-white lw_text-center lw_text-4xl lw_font-medium">
        Subscribe to our Newsletter
      </h5>
      <p class="lw_text-white lw_text-center">
        You'll recieve discount codes, offers, latest news and much more!
      </p>
      <div
        class="
          lw_flex lw_flex-row lw_max-w-7xl lw_mx-auto lw_justify-center lw_gap-2 lw_flex-wrap
        "
      >
        <!-- <input
          class="lw_p-2"
          type="text"
          name="name"
          id="name"
          placeholder="Full Name"
        />
        <input
          class="lw_p-2"
          type="email"
          name="newsletter"
          id="newsletter"
          placeholder="Email"
          required
        />
        <input
          class="lw_p-2 hover:lw_cursor-pointer lw_bg-secondary lw_text-white"
          type="submit"
          value="Submit"
        /> -->
<div class="_form_4"></div><script src="https://solentmobility.activehosted.com/f/embed.php?id=4" type="text/javascript" charset="utf-8"></script>
      </div>
    </div>
    <!-- Main Footer -->
    <div class="info lw_bg-white lw_py-10">
      <div class="lw_max-w-7xl lw_mx-auto lw_flex lw_flex-row lw_gap-5">
        <div class="lw_flex lw_flex-col lw_gap-5 lw_w-1/2 md:lw_w-1/4">
          <nuxt-link to="/">
            <nuxt-img
              provider="static"
              src="https://solent-mobility.imgix.net/littleweb/Solent-Mobility-Scooters-Logo.png"
              width="200"
              height="104"
              alt="Solent Mobility Logo | Mobility Shop near me Hampshire "
              :modifiers="{ auto: 'format,compress' }"
            />
          </nuxt-link>
          <div class="socials lw_flex lw_flex-row lw_gap-2 lw_text-secondary">
            <a href="https://www.facebook.com/solentmobility" target="_blank">
              <font-awesome-icon
                class="lw_h-6 lw_w-6"
                :icon="['fab', 'facebook-f']"
              />
            </a>
            <a href="https://www.instagram.com/solentmobilitycentre/" target="_blank">
              <font-awesome-icon
                class="lw_h-6 lw_w-6"
                :icon="['fab', 'instagram']"
              />
            </a>
            <a href="https://twitter.com/solentmobility" target="_blank">
              <font-awesome-icon
                class="lw_h-6 lw_w-6"
                :icon="['fab', 'twitter']"
              />
            </a>
            <a href="https://goo.gl/maps/V4fUy39uH23qQ5H68" target="_blank">
              <font-awesome-icon
                class="lw_h-6 lw_w-6"
                :icon="['fab', 'google']"
              />
            </a>
          </div>
        </div>
        <div class="lw_hidden sm:lw_flex lw_flex-col lw_gap-3 lw_w-1/2 md:lw_w-1/4">
          <h6>About Us</h6>
          <nav class="about lw_flex lw_flex-col">
            <nuxt-link to="">Our History</nuxt-link>
            <nuxt-link to="/about-us">About Us</nuxt-link>
            <nuxt-link to="">The Team</nuxt-link>
            <nuxt-link to="/blog">Blog & News</nuxt-link>
          </nav>
        </div>
        <div class="lw_flex lw_flex-col lw_gap-3 lw_w-1/2 md:lw_w-1/4">
          <h6>Useful Information</h6>
          <nav class="about lw_flex lw_flex-col">
            <nuxt-link to="/terms-conditions">Terms & Conditions</nuxt-link>
            <nuxt-link to="/privacy-policy">Privacy Policy</nuxt-link>
            <nuxt-link to="/delivery-returns">Delivery & Returns </nuxt-link>
            <nuxt-link to="/privacy-policy">Cookie Policy</nuxt-link>
            <nuxt-link to="/contact">Contact Us</nuxt-link>
          </nav>
        </div>
        <div class="lw_hidden sm:lw_flex lw_flex-col lw_gap-3 lw_w-1/2 md:lw_w-1/4">
          <h6>Ways to Buy</h6>
          <nav class="about lw_flex lw_flex-col">
            <nuxt-link to="/finance">Finance</nuxt-link>
            <nuxt-link to="">Long Term Hire</nuxt-link>
          </nav>
        </div>
      </div>
    </div>
    <!-- Bottom Footer -->
    <div class="lw_bg-secondary lw_py-3 lw_text-white">
      <div class="lw_max-w-7xl lw_mx-auto lw_text-sm">
        <p>Copyright © 2022 Solent Mobility Centre. All rights reserved. </p>
        <div class="card-options">

        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style scoped>
input {
  @apply lw_border-0 focus:!lw_border-0;
}
.newsletter {
  background: url(https://solent-mobility.imgix.net/littleweb/pattern-fade.png?auto=format,compress&w=600&h=400),
    linear-gradient(272deg, #e95711, #e95711);
}

h6 {
  @apply lw_font-medium lw_text-xl;
}
</style>