<template>
  <header class="lw_relative">
    <!-- Top Bar -->
    <div
      id="top"
      class="lw_bg-fix lw_justify-center sm:lw_justify-between lw_text-white lw_border-b-0 lw_border-opacity-50 lw_py-4 sm:lw_py-3"
    >
      <!-- Reviews image  -->
      <a
        target="_blank"
        href="https://www.checkatrade.com/trades/solentmobilitycentre"
        class="lw_hidden sm:lw_block"
      >
        <nuxt-img
          provider="static"
          src="https://solent-mobility.imgix.net/littleweb/checkatrade.webp"
          width="120"
          height="17"
          alt="Solent Mobility Checkatrade.com reviews."
          :modifiers="{ auto: 'format,compress' }"
        />
      </a>
      <!-- Search bar -->
      <!-- <div class="search lw_w-1/3 lw_hidden sm:lw_block">
        <form action="" class="lw_flex lw_flex-row">
          <input
            class="
              lw_bg-gray-100
              lw_py-2
              lw_px-6
              lw_text-xs
              lw_rounded-sm
              lw_text-secondary
              lw_max-w-[400px]
              lw_w-full
            "
            type="text"
            placeholder="what are you looking for?"
          />
          <button
            class="
              lw_text-white
              lw_bg-secondary
              lw_py-2
              lw_px-4
              lw_text-sm
              lw_rounded-sm
            "
            type="submit"
            name="product search"
          >
            <font-awesome-icon class="lw_h-4 lw_w-4" :icon="['fas', 'magnifying-glass']" />
          </button>
        </form>
      </div> -->
      <!-- Account Details -->
      <div class="important lw_text-white lw_flex lw_flex-row lw_gap-4">
        <nuxt-link
          v-if="!loggedIn"
          class="lw_flex lw_flex-row lw_items-center"
          to="/account/login"
        >
          <font-awesome-icon class="lw_h-4 lw_w-4" :icon="['fas', 'user']" />
          <p class="lw_text-xs lw_ml-2">Login</p>
        </nuxt-link>
        <nuxt-link
          v-else
          class="lw_flex lw_flex-row lw_items-center"
          to="/account"
        >
          <font-awesome-icon class="lw_h-4 lw_w-4" :icon="['fas', 'user']" />
          <p class="lw_text-xs lw_ml-2">My Account</p>
        </nuxt-link>
        <nuxt-link class="lw_flex lw_flex-row lw_items-center" to="/cart">
          <font-awesome-icon
            class="lw_h-4 lw_w-4"
            :icon="['fas', 'shopping-basket']"
          />
          <p class="lw_text-xs lw_ml-2">Basket</p>
        </nuxt-link>
      </div>
    </div>
    <!-- Main Header -->
    <div
      id="middle"
      class="lw_bg-fix lw_justify-between lw_text-black lw_bg-white sm:lw_h-36 before:lw_bg-white lw_flex-col lw_py-2 sm:lw_flex-row sm:lw_py-0 lw_h-full"
    >
      <!-- Main Logo -->
      <nuxt-link to="/">
        <img
          src="https://solent-mobility.imgix.net/littleweb/Solent-Mobility-Scooters-Logo.png?auto=format,compress&w=200&h=104"
          width="200"
          height="104"
          alt="Solent Mobility Logo | Mobility Shop near me Hampshire "
          loading="lazy"
        />
      </nuxt-link>
      <!-- Icons -->
      <div
        class="quick-links lw_text-primary lw_font-medium lw_flex lw_flex-row lw_gap-8 lw_mt-3 sm:lw_mt-0"
      >
        <a
          @click="trackGoal('Email Header')"
          class="lw_flex lw_flex-col lw_items-center lw_text-center lg:lw_text-left lw_gap-2"
          href="mailto:sales@solent-ltd.co.uk"
        >
          <font-awesome-icon
            class="!lw_h-8 !lw_w-8"
            :icon="['fas', 'envelope']"
          />
          <p class="lw_text-md lw_ml-2 lw_text-secondary">
            sales@solent-ltd.co.uk
          </p>
        </a>
        <nuxt-link
          @click.native="trackGoal('Find Store Header')"
          class="lw_flex lw_flex-col lw_items-center lw_text-center lg:lw_text-left lw_gap-2"
          to="/contact"
        >
          <font-awesome-icon
            class="!lw_h-8 !lw_w-8"
            :icon="['fas', 'map-location']"
          />
          <p class="lw_text-md lw_ml-2 lw_text-secondary">Find Our Store</p>
        </nuxt-link>
        <a
          @click="trackGoal('Phone Header')"
          class="lw_flex lw_flex-col lw_items-center lw_text-center lg:lw_text-left lw_gap-2"
          href="tel:02392 009999"
        >
          <font-awesome-icon class="!lw_h-8 !lw_w-8" :icon="['fas', 'phone']" />
          <p class="lw_text-md lw_ml-2 lw_text-secondary">02392 009999</p>
        </a>
      </div>
      <!-- CTA -->
      <div
        class="lw_flex md:lw_mt-0 lw_mt-5 lw_gap-2 lw_flex-row lw_text-sm lg:lw_text-base lw_font-medium"
      >
        <a
          @click="trackGoal('Brochure Header')"
          target="_blank"
          href="/files/Solent Brochure.pdf"
          class="lw_p-4 lw_bg-primary lw_text-white lw_rounded"
          >Request a Brochure</a
        >
        <nuxt-link
          @click.native="trackGoal('Hire Header')"
          to="/mobility-hire"
          class="lw_p-4 lw_bg-secondary lw_text-white lw_rounded"
          >Mobility Hire</nuxt-link
        >
      </div>
    </div>
    <!-- Navigation -->
    <div
      id="nav"
      class="lw_text-white lw_bg-secondary lw_h-12 before:lw_bg-secondary lw_hidden lg:lw_flex lw_items-center xl:lw_px-0 lw_px-3 lw_max-w-7xl lw_mx-auto lw_my-0 lw_z-10 before:lw_absolute before:lw_z-[-1] before:lw_h-[inherit] before:lw_left-0 before:lw_right-0"
    >
      <lazy-navigation />
    </div>
    <!-- Bottom Bar -->
    <div
      id="bottom"
      class="lw_justify-between lw_text-white lw_bg-gray-50 lw_h-14 before:lw_bg-gray-50 lw_items-center xl:lw_px-0 lw_px-3 lw_max-w-7xl lw_mx-auto lw_my-0 lw_z-10 before:lw_absolute before:lw_z-[-1] before:lw_h-[inherit] before:lw_left-0 before:lw_right-0 lw_hidden md:lw_flex"
    >
      <nuxt-link
        class="lw_flex lw_flex-row lw_items-center lw_gap-1 lw_text-primary"
        to="/blog"
      >
        <font-awesome-icon class="lw_h-8 lw_w-8" :icon="['fas', 'comments']" />
        <p class="lw_text-md lw_ml-2 lw_text-secondary lw_font-medium">
          News & Blog
        </p>
      </nuxt-link>
      <a
        class="lw_flex lw_flex-row lw_items-center lw_gap-1 lw_text-primary"
        href=""
      >
        <font-awesome-icon class="lw_h-8 lw_w-8" :icon="['fas', 'comments']" />
        <p class="lw_text-md lw_ml-2 lw_text-secondary lw_font-medium">
          100% Customer Satisfaction
        </p>
      </a>
      <a
        class="lw_flex lw_flex-row lw_items-center lw_gap-1 lw_text-primary"
        href=""
      >
        <font-awesome-icon class="lw_h-8 lw_w-8" :icon="['fas', 'comments']" />
        <p class="lw_text-md lw_ml-2 lw_text-secondary lw_font-medium">
          Expert Advise
        </p>
      </a>
      <nuxt-link
        class="lw_flex lw_flex-row lw_items-center lw_gap-1 lw_text-primary"
        to="/24-7-call-out"
      >
        <font-awesome-icon class="lw_h-8 lw_w-8" :icon="['fas', 'comments']" />
        <p class="lw_text-md lw_ml-2 lw_text-secondary lw_font-medium">
          24/7 Call-out
        </p>
      </nuxt-link>
      <a
        class="lw_flex lw_flex-row lw_items-center lw_gap-1 lw_text-primary"
        href=""
      >
        <font-awesome-icon class="lw_h-8 lw_w-8" :icon="['fas', 'comments']" />
        <p class="lw_text-md lw_ml-2 lw_text-secondary lw_font-medium">
          Free Servicing
        </p>
      </a>
    </div>

    <!-- Mobile Menu -->
    <div class="mobile-menu lg:lw_hidden lw_block">
      <client-only>
        <SlideMenu :closeOnNavigation="true" noOverlay right>
          <LazyMobileMenu />
        </SlideMenu>
      </client-only>
    </div>
  </header>
</template>

<script>
export default {
  data() {
    return {
      mobileMenu: false,
    };
  },
  watch: {
    async $route() {
      this.mobileMenu = false;
    },
  },
  computed: {
    loggedIn() {
      if (process.client) {
        let user = localStorage.getItem("userAccessToken");
        if (user) {
          return true;
        } else {
          return false;
        }
      }
    },
  },
  methods: {
    trackGoal(x) {
      this.$plausible.trackEvent(x);
    },
  },
};
</script>
<style scoped>
.lw_bg-fix {
  @apply lw_items-center xl:lw_px-0 lw_px-3 lw_max-w-7xl lw_flex lw_mx-auto lw_my-0 lw_z-10  before:lw_absolute before:lw_z-[-1] before:lw_h-[inherit] before:lw_left-0 before:lw_right-0;
}
#top {
  background: url(https://solent-mobility.imgix.net/littleweb/pattern-fade.png?auto=format,compress&w=600&h=400),
    linear-gradient(272deg, #e95711, #e95711);
  height: 100%;
}
#top::before {
  background: url(https://solent-mobility.imgix.net/littleweb/pattern-fade.png?auto=format,compress&w=600&h=400),
    linear-gradient(272deg, #e95711, #e95711);
}
.fade-in-enter-active,
.fade-in-leave-active {
  transition: all 0.2s ease-in-out;
}
.fade-in-enter,
.fade-in-leave-to {
  opacity: 0;
}
</style>
